<apex:component >
    <div class="how_its_works">
        <em>
        <a href="/au_lapband_lose">
        <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/7_Tout_GetAhead_Cyan.png')}" alt="img" />
        </a></em>
        <h4><a href="/au_lapband_lose">Get Ahead of Your Weight Problem</a></h4>
        <p>Even if your weight problem is not<br />yet extreme, LAP-BAND<sup>®</sup> is an<br />effective way to lose weight now<br />and manage it for the future.</p>
        <apex:outputLink value="{!$Site.Prefix}/au_lapband_lose"><strong>Go</strong></apex:outputLink>
    </div>
</apex:component>