<apex:component >

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lap band</title>

<!-- SET: FAVICON -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
<!-- END: FAVICON -->

<!-- SET: STYLESHEET -->
<link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700' rel='stylesheet' type='text/css' />
<!-- <link href="css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/flexslider.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="css/menu.css">
<link href="css/responsive.css" rel="stylesheet" type="text/css" media="all"> -->

<apex:stylesheet value="{!URLFOR($Resource.r_lapband_code, 'css/bootstrap.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.r_lapband_code, 'css/flexslider.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.r_lapband_code, 'css/style.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.r_lapband_code, 'css/menu.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.r_lapband_code, 'css/responsive.css')}"/>





<!-- END: STYLESHEET -->
<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name = "format-detection" content = "telephone=no" />

<!-- SET: SCRIPTS -->
<!-- <script type="text/javascript" src="js/jquery-latest.js"></script>
<script type="text/javascript" src="js/tinydropdown.js"></script>
<script type="text/javascript"  src="js/navigat.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script defer type="text/javascript" src="js/jquery.flexslider.js"></script> -->

<apex:includeScript value="{!URLFOR($Resource.r_lapband_code, 'js/jquery-latest.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.r_lapband_code, 'js/tinydropdown.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.r_lapband_code, 'js/navigat.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.r_lapband_code, 'js/bootstrap.min.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.r_lapband_code, 'js/jquery.flexslider.js')}"/>
<script type="text/javascript">
$(document).ready(function(){
  $('.top_Slider .flexslider').flexslider({
    animation: "fade",  
 });

 var liLeng = $('.top_Slider .flexslider .slides > li').length;
 for (i=0; i<=liLeng; i++)
 {
      var imgsrc = $('.top_Slider .flexslider .slides > li:nth-child('+i+') img').attr('src');
      $('.top_Slider .flexslider .slides > li:nth-child('+i+') img').css('opacity','0');
      $('.top_Slider .flexslider .slides > li:nth-child('+i+')').css('background-image','url('+imgsrc+')');
      $('.top_Slider .flexslider .slides > li:nth-child('+i+')').css('background-position','center');
      $('.top_Slider .flexslider .slides > li:nth-child('+i+')').css('background-size','cover');
 }
 

});
</script>
<script type="text/javascript">
$(document).ready(function(){
  $('.system_Fit .flexslider').flexslider({
    animation: "fade",  
 });

 var liLeng = $('.system_Fit .flexslider .slides > li').length;
 for (i=0; i<=liLeng; i++)
 {
      var imgsrc = $('.system_Fit .flexslider .slides > li:nth-child('+i+') img').attr('src');
      $('.system_Fit .flexslider .slides > li:nth-child('+i+') img').css('opacity','0');
      $('.system_Fit .flexslider .slides > li:nth-child('+i+')').css('background-image','url('+imgsrc+')');
      $('.system_Fit .flexslider .slides > li:nth-child('+i+')').css('background-position','center');
      $('.system_Fit .flexslider .slides > li:nth-child('+i+')').css('background-size','cover');
 }
 

});
</script>
<script type="text/javascript"> 
$(function() {
var pull    = $('#pull');
menu        = $('#nav');    


pull.on('click', function(e) {
e.preventDefault();
menu.slideToggle();
$(this).toggleClass('highlight');
});
});

</script>
<!-- <script>
$(function(){
    $('.header').data('size','big');
});

$(window).scroll(function(){
    if($(document).scrollTop() > 0)
    {
        if($('.header').data('size') == 'big')
        {
            $('.header').data('size','small');
            $('.header').stop().animate({
                height:'80px'
            },600);
            $('.logo img').stop().animate({ width: '65%'},600);
        }
    }
    else
    {
        if($('.header').data('size') == 'small')
        {
            $('.header').data('size','big');
            $('.header').stop().animate({
                height:'104px'
            },600);
            $('.logo img').stop().animate({ width: '100%'},600);
            
        }  
    }
});

</script> -->
<!-- END: SCRIPTS -->

</apex:component>