<apex:component layout="none" controller="LWCDocumentTableController">
<!--    <apex:attribute name="docList" type="AWS_S3_Object__c[]" required="true" assignTo="{!libDocList}" description=""/>  -->
    <apex:attribute name="docType" type="String" required="true" assignTo="{!type}" description=""/>
    <!-- Get the page source of the tab 2/18/2014 Christine -->
    <apex:attribute name="sourceName" type="String" required="false" assignTo="{!source}" description=""/>    
    
    <script type="text/javascript">
        console.log('component start version 3');
    </script>
    <table border="0"> 
      <tr class="tableheader">
          <td style="width:294px;" >TITLE</td>
          <!-- Add two columns if the tab is in Document Library 2/18/2014 Christine -->
          <apex:outputPanel layout="none" rendered="{!source == 'Document Library' }"> 
              <td>PREVIEW</td>            
              <td>DESCRIPTIION</td>
          </apex:outputPanel> 
          <td>LAST UPDATE</td>
          <td>ACTION</td>
      </tr>
      <apex:variable value="{!1}" var="index" /> 
      <apex:repeat var="aws" value="{!docWrapperList}">
      <script type="text/javascript">
        </script>         
          <apex:outputPanel layout="none" rendered="{!aws.document.Library__c == type}">
              <tr id="icon-{!aws.document.Content_Type__c}" class="docicon">
                  <td class="doc_title"><p style="background-position: 0px {!aws.iconPosition}">{!aws.document.Title__c}</p></td>
                  <!-- Add two columns if the tab is in Document Library 2/18/2014 Christine -->
                  <apex:outputPanel layout="none" rendered="{!source == 'Document Library' }">
                      <td>
                          <apex:image url="/servlet/servlet.FileDownload?file={!previewLinkMap[aws.document.Id]}" rendered="{!previewLinkMap[aws.document.Id] != '1'}"/>
                      </td>
                      <td>
                          <apex:outputText value="{!aws.document.Description__c}" />
                      </td>
                  </apex:outputPanel>
                  <td>
                      <apex:outputText value="{0,date,MM/dd/YYYY}">
                            <apex:param value="{!aws.document.LastModifiedDate}" />
                      </apex:outputText>
                  </td>
                  <td>
                      <apex:commandLink action="{!createsDownloadLink}" value="DOWNLOAD" id="dloadLink" target="_blank">
                         <apex:param name="s3Object"
                          value="{!aws.document.Id}"
                          assignTo="{!s3ObjId}"/>
                      </apex:commandLink>
                  </td> 
              </tr>
          </apex:outputPanel>
      </apex:repeat>
    </table>    
</apex:component>