<apex:component >
        <script>
            var isGenWebsiteButton = 0;
            $(document).find('a[target="_blank"]').click(function() {
                var n = $(this).attr("href");
                return $("#leave-modal-buttons").html('<a id="modal-cancel" class="modal-button" href="javascript:resetGenWebsite();">Cancel</a>&#160;&#160;<a id="modal-button-proceed" class="modal-button" href="' + n + '" target="_blank">Proceed</a>'), $(this).hasClass("localhreflink") == !1 ? ($("#leavemodal-message").empty().text("This link will open an external website."), $("#modalmask").css("visibility","visible"), $("#modal-body-container").removeClass("hcp-message").fadeIn(), $("#modal-body-container").css({top: ($(window).height() - $(this).height()) / 3}), $("#modalcloser,#modal-cancel").click(function() {
                    $("#modal-button-proceed").attr("href", ""), $("#modalmask").css("visibility","hidden"), $("#modal-body-container").fadeOut()
                }), $("#modal-button-proceed").click(function() {
                    if(isGenWebsiteButton == 1){
                        createSiteEventWebsite();
                    }
                    isGenWebsiteButton = 0; 
                    $("#modalmask").css("visibility","hidden"), $("#modal-body-container").fadeOut()
                }), !1) : void 0
            })
            function genWebsite(){
                isGenWebsiteButton = 1;
            }
            function resetGenWebsite(){
                isGenWebsiteButton = 0;
            }
        </script>

        
</apex:component>