<apex:component layout="none" controller="LWFindSpecialistController">
    <apex:attribute name="isHCP" default="true" type="Boolean" required="false" assignTo="{!hcp}" description=""/>
    <script type="text/javascript">
       $(document).ready(function () {         
           $("#find-a-surgeon-search-form-zip").validate({
               messages: {
                   searchZip: {
                       required: 'Please enter a ZIP code',
                       number: 'Please enter a valid ZIP code',
                       minlength: 'Please enter a valid ZIP code'
                   }
               },
               rules: {
                   searchZip: {
                       required: true,
                       number: true,
                       minlength: 5
                   }
               },
               submitHandler: function (form) {
                   var tv1 = $('#search-language option:selected').text(),
                       tv2 = $('#searchZip').val(),
                       tv3 = $('#search-radius option:selected').text(),
                       tv4 = $('#search-wheelchair:checked').val();
                       siteCatalystSearch('FAS dropdown search', 'Zip Search', tv1, tv2, tv3, tv4, function () {
                           form.submit()
                       });
                   //form.submit();
               }
           });
           $("#find-a-surgeon-search-form-name").validate({
               rules: {
                   specialistName: {
                       required: function (element) {
                           return $('#practiceName').val() == '';
                       },
                       minlength: 2
                   },
                   practiceName: {
                       required: function (element) {
                           return $('#specialistName').val() == '';
                       },
                       minlength: 2
                   }
               },
               messages: {
                   specialistName: {
                       required: 'Please enter a Specialist or Practice Name',
                       minlength: 'Please enter at least 2 characters'
                   },
                   practiceName: {
                       required: '',
                       minlength: 'Please enter at least 2 characters'
                   }
               },
               submitHandler: function (form) {
                   var tv1 = $('#practiceName').val(),
                       tv2 = $('#specialistName').val();
                   siteCatalystSearch('FAS dropdown search', 'Practice Search', tv1, tv2, null, null, function () {
                       form.submit()
                   });
                   //form.submit();
               }
           });
       });
    </script>   
    <div id="find-a-surgeon-search" class="find-a-specialist topnav-search">
        <!--<a id="find-a-lapband-specialist-tab" href="javascript:void(0);")">find a LAP-BAND? specialist</a>-->
        <div class="find-a-surgeon-search-type find-a-surgeon-search-zip" id="find-a-surgeon-search-zip">
            <h2>Find a Specialist Near You</h2>
            <div class="find-a-surgeon-search-content"> 
                <form name="find-a-surgeon-search-form-zip" id="find-a-surgeon-search-form-zip" method="Post" action="{!IF(hcp,URLFOR($Page.LWHCPFindASpecialist,null,null),URLFOR($Page.r_lapband_find_a_specialist,null,null))}">  
                    <input type="hidden" name="page" class="pageStart" value="{!page}" />
                    <input type="hidden" name="searchType" value="zip" />
                    <fieldset>
                        <span>
                            <label for="find-a-surgeon-search-zip">ZIP Code:</label>
                            <input type="text" class="text" name="searchZip" maxlength="5" id="searchZip" value="{!zipCode}"/><br />
                            <label for="find-a-surgeon-search-radius">within</label>
                            <select name="search-radius" id="search-radius">
                                <option value="10" >10 miles</option>
                                <option value="25" >25 miles</option>
                                <option value="50" >50 miles</option>
                                <option value="100" >100 miles</option>
                            </select> 
                          <!--   <apex:selectList value="{!searchRadius}" multiselect="false">
                                <apex:selectOptions value="{!Radius}"/>
                            </apex:selectList>  -->
                        </span>
                        <span style="display:none;">
                            <label for="find-a-surgeon-search-language">Language Preference:</label>       
                            <select name="search-language" id="search-language">
                                <option value="Any">Any</option> 
                                    <option value="English" >English</option>
                                    <option value="Spanish" >Spanish</option>
                                    <option value="Chinese" >Chinese</option>
                                    <option value="Japanese" >Japanese</option>
                                    <option value="French" >French</option>
                                    <option value="German" >German</option>
                                    <option value="Vietnamese" >Vietnamese</option>
                                    <option value="Italian" >Italian</option>
                                    <option value="Korean" >Korean</option>
                                    <option value="Russian" >Russian</option>
                            </select>
                        </span>
                        <span class="search-wheelchair-box">
                            <input type="checkbox" class="checkbox"  name="search-wheelchair" id="search-wheelchair"/>
                            <label for="find-a-surgeon-search-wheelchair">Wheelchair Access</label>
                        </span>
                        <input type="submit" class="submit" name="search-by-zipcode" id="search-by-zipcode" title="SEARCH" value="SEARCH" />
                    </fieldset>
                </form>  
            </div>
        </div>  <!-- find-a-surgeon-search-zip -->
        <div class="find-a-surgeon-search-type find-a-surgeon-search-name" id="find-a-surgeon-search-name">
            <h2>Find a Specialist By Name</h2>
            <div class="find-a-surgeon-search-content">
                <form name="find-a-surgeon-search-form-name" id="find-a-surgeon-search-form-name" method="post" action="{!IF(hcp,URLFOR($Page.LWHCPFindASpecialist,null,null),URLFOR($Page.r_lapband_find_a_speciallist,null,null))}">
                    <input type="hidden" name="page" class="pageStart" value="{!page}" />
                    <input type="hidden" name="searchType" value="name" />
                    <fieldset>
                       <!-- <p>Please enter the last name of the surgeon, or the name of the practice that you are interested in learning about. (Please enter only the last name. For example, for Dr. John Doe, enter only Doe.)</p> -->
                        <span>
                            <label for="find-a-surgeon-search-specialist-name">Specialist Last Name:</label>
                            <input type="text" class="search_by_name text"  name="specialistName" id="specialistName" value="{!specialistName}"/>
                        </span>
                        <span>
                            <label for="find-a-surgeon-search-practice-name">Practice Name:</label>
                            <input type="search_by_name text" class="text" name="practiceName" id="practiceName" value="{!practiceName}"/>
                        </span>
                        <input type="submit" class="submit" name="search-by-name" title="SEARCH" value="SEARCH" />
                    </fieldset>
                </form>
            </div><!-- <div class="find-a-surgeon-search-content"> -->
        </div> <!-- find-a-surgeon-search-name -->
        <div id="find-a-surgeon-search-footnote">
            <p>Note: Names and details are provided for your information only. Decisions regarding choice of surgeon and treatment options are a patient&rsquo;s responsibility, as is all communication and interaction with listed medical professionals. Any information you send to a surgeon is not covered by our &nbsp;<apex:outputLink value="{!IF(hcp,URLFOR($Page.LWHCPPrivacyPolicy,null,null),URLFOR($Page.LWPrivacyPolicy,null,null))}">Privacy Policy</apex:outputLink><!--<a href="../Privacy-Policy.html">Privacy Policy</a>-->.</p>
            <!--<a id="find-a-surgeon-search-close" href="javascript:void(0);">close</a>-->
        </div>
    </div> <!-- find-a-surgeon-search -->
    
    <div id="specialist-box-mask" class="specialist-box-mask hidden"></div> 
</apex:component>