<apex:component >
<div id="footer" style="background:none !important;">
<div id="footer-links">
            <ul>
                <li>
                    <!--<a href='/About-Us'>About Us</a>-->
                    <apex:outputLink value="{!URLFOR($Page.LWHCPAboutUs,null,null)}">About Us</apex:outputLink>
                </li>
                <li>|</li>
                <li>
                    <!--<a href='/Contact-Us'>Contact Us</a>-->
                    <apex:outputLink value="{!URLFOR($Page.LWHCPContactUs,null,null)}">Contact Us</apex:outputLink>
                </li>
                <li>|</li>                 
                <li>
                    <!--<a href="/Site-Map">Site Map</a>-->
                    <apex:outputLink value="{!URLFOR($Page.LWHCPSiteMap,null,null)}">Site Map</apex:outputLink>
                </li>
                <li>|</li>
                <li>
                    <apex:outputLink value="{!URLFOR($Page.LWHCPPrivacyPolicy,null,null)}">Privacy Policy and Terms of Use</apex:outputLink>
                    <!--<a href="/Privacy-Policy">Privacy Policy and Terms of Use</a>-->
                </li>
            </ul>
            <div id="allergan-logo">Apollo Endosurgery</div>
            <p>&copy; 2014 Apollo Endosurgery, Inc. All rights reserved. Any third-party trademarks used herein are the property of their respective owners. This site is intended for U.S. residents only.</p>        
        </div>
        
<div id="hcppopupmask" class="hcppopupmask hidden" onclick="closeHCP();"></div>
    <div class="hcppopup hidden" id="msgHCP">
        <div class="hcppopupcontainer">
            <div id="hcppopupcontainer-hdr">
                <h4>FOR HEALTHCARE PROFESSIONALS</h4>
                <a class="modalcloser" href="javascript:void(0)" onclick="closeHCP();">close</a>
            </div>
            <div class="hcplinkcontent linkbs">
                <a href="http://www.lapbandcentral.com" onclick="javascript:return false;" class="imglink new-window">For Bariatric Surgeons</a>
                <p><strong>For Bariatric Specialists</strong><br/><a class="new-window" href="http://www.lapbandcentral.com" onclick="javascript:return false;">www.lapbandcentral.com</a></p>
            </div>
            <div class="clear"></div>
            <div class="hcplinkcontent linkhp">
                <apex:outputLink value="{!URLFOR($Page.LWHCPHome,null,null)}" styleClass="imglink">For Other Healthcare Professionals</apex:outputLink>
           <!--     <a href="../HCP.html" class="imglink" onclick="javascript:return false;">For Other Healthcare Professionals</a>  -->
                <p><strong>For Other Healthcare Professionals</strong><br/>
                <apex:outputLink value="{!URLFOR($Page.LWHCPHome,null,null)}" >www.lapbandHCP.com</apex:outputLink>
           <!--     <a href="../HCP.html"  onclick="javascript:return false;">www.lapbandHCP.com</a> -->
                </p>
            </div>
            <div class="clear"></div>
        </div>            
    </div>
    
 <script>
         <!-- hcp popup -->
        var myHeight = $(window).height();
        $('#utility-nav li a.leave-trig').click(function () {
            var linkUrl = $(this).attr('href');
            $('#leave-modal-buttons').html(
                '<a id="modal-cancel" class="modal-button" href="javascript:void(0);">Cancel</a>' +
                '&#160;&#160;' +
                '<a id="modal-button-proceed" class="modal-button" href="' + linkUrl + '">Proceed</a>'
            )
            if ($(this).hasClass('leaving-patient')) {
                $('#leavemodal-message').html('You are now entering our web site for consumers.<br/>The information on this web site is intended for consumers in the United States.<br/>If you are a healthcare professional, and would like to return to the healthcare professional section of the site, please click \'Cancel\'.<br/><br/>Yes, I would like to continue to the consumer section of the site.');
            }
            else {
                $('#leavemodal-message').html('You are now entering our web site for bariatric specialists and their clinical staff. The information on this web site is intended for bariatric specialists in the United States. If you are not a bariatric specialist, or a member of their clinical staff, and would like to return to the healthcare professional section of the site, please click CANCEL.<br/><br/>Yes, I would like to continue to the section of the site intended for bariatric specialists.');
                $('#modal-button-proceed').attr('target','_blank');
            }
            $('#modalmask').fadeIn();
            $('#modal-body-container').fadeIn().addClass('hcp-message');
            $('#modal-body-container').css({
                top: ($(window).height() - $(this).height()) / 3
            });
            $('#modalcloser,#modal-cancel').click(function () {
                $('#modal-button-proceed').attr('href', '');
                $('#modalmask').fadeOut();
                $('#modal-body-container').fadeOut();
            });
            $('#modal-button-proceed').click(function () {
                $('#modalmask').fadeOut();
                $('#modal-body-container').fadeOut();
            });
            return false;
        });
    </script>
    
<div id="modalmask" class="modalmask hidden" ></div>   
    <div id="modal-body-container" class="hidden">
        <div id="modalbody" class="modalbody">
            <div id="modalbody-hdr">
                <a id="modalcloser" href="javascript:void(0)"></a>
            </div>
            <div id="modalcontent" class="modalcontent">
                <div class="leavemodal">
                    <div id="leavemodal-message"></div>
                    <div id="leave-modal-buttons"></div>
                </div>
            </div>
        </div>
    </div>

 <div id="zipModalContainer" class="hidden">
       <div id="zipModal">
           <div id="zipModalHdr">
               <a class="modalcloser forbid" href="javascript:void(0)">close</a>
           </div>
           <div id="zipModalContent">
             <form id="globalZipForm" action="#" method="post"> 
               <p>Lapband.com would like to use your current location to help you find a specialist in your area.</p>
               <p>
                   <label for="glblZip">Zip Code</label>
                   <input type="text" class="text" name="glblZip" id="glblZip" maxlength="5" />
                   <input type="submit" class="glblZipSubmit" value="Allow" />
               </p>
                   <p class="clear"></p>
                   <div class="clear"></div>
               <p class="textcenter"><a href="javascript:void(0)" class="forbid">Don't Allow</a></p>
             </form> 
           </div>
       </div>
    </div>
    </div>
</apex:component>