<apex:component layout="none">
    <div id="search-box">
        <div id="search-box-map"></div>
        <div id="search-box-results">
            <div id="search-box-results-map-container"></div>
            <div id="search-box-results-container">
                <div id="loading"></div>
                <div id="search-box-results-list">
                </div>
            </div>
        </div>
        <h4>Find a LAP-BAND&#174; certified specialist near you. Get started here:</h4>
        <div id="specialist-search-form-wrapper">
            <form id="specialist-search-zip">
                <fieldset>
                    <input type="hidden" name="searchType" value="zip" />
                    <input type="hidden" name="search-radius" id="search-radius" value="50" />
                    <input type="text" name="search-zip" id="search-zip" class="required" maxlength="5" data-watermark="Search by Zip Code" />                  
                    <input type="submit" class="submit" value=" " />
                </fieldset>
             </form>
             <form id="specialist-search-name">
                <fieldset>
                    <input type="hidden" name="searchType" value="name" />
                    <input type="text" name="search-name" id="search-name" class="required" data-watermark="Search by Specialist Name" />
                    <input type="submit" class="submit" value=" " />
                </fieldset>
             </form>
        </div>
    </div>
    <script type="text/javascript">
        console.log('version 1.1');                             
         
        $('#specialist-search-name').click(function(){
            $('#specialist-search-zip .required').blur().val('Search by Zip Code').parent().removeClass('highlight');
        });
        
        $('#specialist-search-zip').click(function(){
            $('#specialist-search-name .required').blur().val('Search by Specialist Name').parent().removeClass('highlight');
        });
        
        
        $('#specialist-search-zip').submit(function(event){validateZip(event,'#specialist-search-zip .required');});

        $('#specialist-search-name').submit(function(event){validateName(event,'#specialist-search-name .required');});
         
        function displayResults() {
            $('#search-box-no-results').remove();
            $('#search-box').addClass('open');
            $('#search-box-map').slideUp();
            $('#hero #search-box #search-box-results').slideDown();
            $('#search-box h4').addClass('new-search');
            $('#search-box').animate({
                'top': '0px'});
        
            var axel = Math.random() + "";
            var a = axel * 10000000000000;
            $('body').prepend('<iframe src="https://1092360.fls.doubleclick.net/activityi;src=1092360;type=lapbnd13;cat=hmpgfadr;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');       
        } 
        
        
        function noResults(val) {    
            if($('#search-box h4').hasClass('new-search')){
                $('#search-box-results-map-container,#search-box-results-list,#search-box-no-results').empty();
            }else{
                $('#loading').css('visibility','hidden');
                $('#search-box-no-results').remove();
                $('#search-box').addClass('open');
                $('#search-box-map').slideUp();
                $('#hero #search-box #search-box-results').slideDown();
                $('#search-box h4').addClass('new-search');
                $('#search-box').animate({
                    'top': '0px'});
                $('#search-box-results-map-container,#search-box-results-list,#search-box-no-results').empty();
            } 
            
            
            var noResultsZip = $('#search-zip').val(),noResultsHTML='';
            if(noResultsZip == val){
                noResultsHTML = '<div id="search-box-no-results">' +
                                    '<p><strong>Sorry, your search \'' + val + '\'<br/>returned no results.</strong></p>' +
                                    '<p>Please try another ZIP code or use<br/><a href="'+sHCP+'/find-a-specialist">advanced search</a>.</p>' +
                                '</div>';
            }
            else{
                noResultsHTML = '<div id="search-box-no-results">' +
                                '<p><strong>Sorry, your search \'' + val + '\'<br/>returned no results.</strong></p>' +
                                '<p>Please try another name or use<br/><a href="'+sHCP+'/find-a-specialist">advanced search</a>.</p>' +
                                '</div>';
            }
            $('#search-box').prepend(noResultsHTML);
        
            var axel = Math.random() + "";
            var a = axel * 10000000000000;
            $('body').prepend('<iframe src="https://1092360.fls.doubleclick.net/activityi;src=1092360;type=lapbnd13;cat=hmpgfadr;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        
        }   
    </script>
</apex:component>