<apex:component layout="none">
    <div id="search-box">
    <div id="specialist-search-form-wrapper">
        <div id="search-box-map"></div>
        <div id="search-box-results">
            <div id="search-box-results-map-container"></div>
            <div id="search-box-results-container">
                <div id="loading"></div>
                <div id="search-box-results-list">
                </div>
            </div>
        </div>
           <!-- <form id="specialist-search-zip2">
                <h2>New Search</h2>
                <fieldset>
                    <input type="hidden" name="searchType" value="zip" />
                    <input type="hidden" name="search-radius" id="search-radius2" value="50" />
                    <input type="text" name="search-zip" id="search-zip2" class="required" maxlength="5" data-watermark="Search by Zip" />                  
                    <input type="submit" class="submit" value="Go" />
                </fieldset>
             </form>
             <form id="specialist-search-name" style="display:none;">
                <fieldset>
                    <input type="hidden" name="searchType" value="name" />
                    <input type="text" name="search-name" id="search-name" class="required" data-watermark="Search by Specialist Name" />
                    <input type="submit" class="submit" value=" " />
                </fieldset>
             </form> -->
        </div>
        <div id="map-reveal"></div>
    </div>
    <script type="text/javascript">
        console.log('version 1.1');                             
         
        $('#specialist-search-name').click(function(){
            $('#specialist-search-zip .required').blur().val('Search by Zip Code').parent().removeClass('highlight');
        });
        
        $('#specialist-search-zip').click(function(){
            $('#specialist-search-name .required').blur().val('Search by Specialist Name').parent().removeClass('highlight');
        });
        
        $('#specialist-search-zip2').click(function(){
            $('#specialist-search-name .required').blur().val('Search by Specialist Name').parent().removeClass('highlight');
        });
        
        $('#map-reveal').click(function() {
           if ($(this).hasClass('open')) {
               $('#map-reveal').animate({'top': '0px'}).removeClass('open').addClass('close');
               $('#search-box #specialist-search-form-wrapper').animate({'height': '0px'});
               $('#search-box-no-results').animate({'height': '0px'});
           }
           else {
               $('#map-reveal').animate({'top': '395px'}).removeClass('close').addClass('open');
               $('#search-box #specialist-search-form-wrapper').animate({'height': '395px'});
               $('#search-box-no-results').animate({'height': '355px'});
           }
        });
        
        $('#specialist-search-zip').submit(function(event){validateZip(event,'#specialist-search-zip .required');});
        
        $('#specialist-search-zip2').submit(function(event){validateZip(event,'#specialist-search-zip2 .required');});

        $('#specialist-search-name').submit(function(event){validateName(event,'#specialist-search-name .required');});
        
        
        $('#specialist-search-zip .submit').click(function displayResults() {
            
            $('#search-box-no-results').remove();
            $('#search-box').addClass('open');
            $('#search-box-results-map-container').show();
            //$('#search-box-map').slideUp();
            //$('#hero #search-box #search-box-results').slideDown();
            $('#search-box h4').addClass('new-search');
            $('#search-box #specialist-search-form-wrapper').animate({
                'height': '395px'});
            $('#map-reveal').animate({'top': '395px'}).removeClass('close').addClass('open');
        
            var axel = Math.random() + "";
            var a = axel * 10000000000000;
            $('body').prepend('<iframe src="https://1092360.fls.doubleclick.net/activityi;src=1092360;type=lapbnd13;cat=hmpgfadr;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');       
            
        });
        
        function noResults(val) {    
            if($('#search-box h4').hasClass('new-search')){
                $('#search-box-results-map-container,#search-box-results-list,#search-box-no-results').empty();
            }else{
                $('#loading').css('visibility','hidden');
                $('#search-box-no-results').remove();
                $('#search-box').addClass('open');
                $('#search-box-map').hide();
                $('#search-box-results-map-container').hide();
                $('#hero #search-box #search-box-results').slideDown();
                $('#search-box h4').addClass('new-search');
                $('#search-box #specialist-search-form-wrapper').animate({
                    'height': '395px'});
                $('#search-box-results-map-container,#search-box-results-list,#search-box-no-results').empty(); 
            }
            
            
            var noResultsZip = $('#search-zip').val(),noResultsHTML='';
            if(noResultsZip == val){
                noResultsHTML = '<div id="search-box-no-results">' +
                                    '<p><strong>Sorry, your search \'' + val + '\'<br/>returned no results.</strong></p>' +
                                    '<p>Please try another ZIP code or use<br/><a href="'+sHCP+'/find-a-specialist">advanced search</a>.</p>' +
                                '</div>';
            }
            else{
                noResultsHTML = '<div id="search-box-no-results">' +
                                '<p><strong>Sorry, your search \'' + val + '\'<br/>returned no results.</strong></p>' +
                                '<p>Please try another name or use<br/><a href="'+sHCP+'/find-a-specialist">advanced search</a>.</p>' +
                                '</div>';
            }
            $('#search-box').append(noResultsHTML);
        
            var axel = Math.random() + "";
            var a = axel * 10000000000000;
            $('body').prepend('<iframe src="https://1092360.fls.doubleclick.net/activityi;src=1092360;type=lapbnd13;cat=hmpgfadr;ord=1;num=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
        }   
    </script>
    <script type="text/javascript">
                    var sHCP='';
                </script>
</apex:component>