<apex:component layout="none">

    <!-- Start of Pagination, To show pagination in both HCP and lapband -->
    <script type="template/lapband" id="pagination">
        <p class="find-a-surgeon-results">
            <strong><%= count %> Records found.</strong><br/>
            <strong>Showing <%= start %>-<%= end %> of <%= count %> LAP-BAND<sup>®</sup> Specialists</strong><br/>
            <%= zipMessage %>
        </p>
        <% var index = 1;if(pages > 1){ %>
            <div class="specailistPaginationName"><span>Page: </span>
                <% for(index=1;index<=pages;index++){ if(index==page) {%>
                    <a style="text-decoration:none;color:black;"><strong><%= index %></strong></a>
                <% } else { %>
                    <a href="#" id="start_<%=index%>" class="activeLink"><%= index %></a>
                <% }} %>
            </div>
        <% } %>
    </script>
    <!-- End Of Pagination Template-->
    
    <!-- Start Of back link template : in both HCP and lapband.com specialist details page -->
    <script type="template/lapband" id="backlink">
        <%  var prevHref=document.referrer; console.log(prevHref);if(prevHref.indexOf('find-a-specialist')>0) {%>
          <form  method="post" action="<%=prevHref%>">
            <input type="hidden" name="page"              value="<%= page %>" />
            <input type="hidden" name="searchType"        value="zip" />
            <input type="hidden" name="searchZip"         value="<%= zip %>" />
            <input type="hidden" name="search-radius"     value="<%= radius %>" />
            <input type="hidden" name="search-wheelchair" value="<%= wheelchair %>" />
            <input type="hidden" name="search-language"   value="<%= language %>" />
            <input type="hidden" name="specialistName"    value="<%= specialistName %>" />
            <input type="hidden" name="practiceName"      value="<%= practiceName %>" />
            <p><a class="detail_link back" onclick="function(event){event.preventDefault(); $(this).$('form').submit();}">Back to search results</a></p>
        </form> 
        <%} else{ var href= prevHref.substring(prevHref.indexOf('/'),prevHref.length); console.log(href);%>
          <a class="detail_link back" href="<%=href%>">Back to search results</a>
        <% } %> 
    </script>
    <!-- End Of back link template -->
    
    
    <!-- Start of FAS Page Map template, for both HCP and Lapband.com -->
    <script type="template/lapband" id="maponpage">     
        <%
            var locations = [] , lat , lng , distance , nKey , language , p2 , wheelChair;  
            $.each(items, function (key, item){ 
                (lat == undefined) && (lat = item.Location__Latitude__s,lng = item.Location__Longitude__s); 
                language = getLanguage(item);
                wheelChair = item.Wheelchair_Access__c ? 'Yes' : 'No';
                p2 = new google.maps.LatLng(item.Location__Latitude__s, item.Location__Longitude__s);
                if(p1 == undefined){
                    distance = 0;   
                    nKey = key+1;       
                }
                else{
                    distance = (Math.round(calcDistance(p1, p2) * 0.621371192 * 10) / 10).toFixed(1) ; nKey=key+1; 
                }
                buildLocations(locations,key,item);
        %>       
        <div class="find-a-surgeon-results-list-item"> 
        <div class="find-a-surgeon-results-list-item-header">
            <span class="find-a-surgeon-results-list-item-number"><%= nKey %></span>
            <span class="find-a-surgeon-results-list-item-name">
                <a onclick="mp(<%= nKey-1 %>)" href="#bigmap"><%- item.Specialist__r.Name %></a>
            </span>
            <% if(distance > 0) {%>
            <ul class="find-a-surgeon-results-list-item-details">
                <li>
                    <form method="post" action="<%= hcp %>/find-a-specialist/Detail">
                        <input type="hidden" name="page"  value="<%= page %>" />
                        <input type="hidden" name="searchType" value="zip" />
                        <input type="hidden" name="searchZip"  value="<%= zip %>"/>
                        <input type="hidden" name="search-radius"  value="50">
                        <input type="hidden" name="search-wheelchair"  value="">
                        <input type="hidden" name="search-language"  value="">
                        <input type="hidden" name="accountId"  value="<%- item.Specialist__c %>">
                        <a class="detail_link" onclick="$(this).closest('form').submit();">Full Details</a>
                    </form>                 
                </li>
                <li>|</li>
                <li>    
                    <form method="post" action="<%= hcp %>/find-a-specialist/Detail|<%- item.Specialist__c %>&tab=offices">
                        <input type="hidden" name="page"  value="<%= page %>" />
                        <input type="hidden" name="searchType" value="zip" />
                        <input type="hidden" name="searchZip"  value="<%= zip %>"/>
                        <input type="hidden" name="search-radius"  value="50">
                        <input type="hidden" name="search-wheelchair"  value="">
                        <input type="hidden" name="search-language"  value="">
                        <input type="hidden" name="accountId"  value="<%- item.Specialist__c %>">
                        <a class="detail_link details-other-practices" onclick="$(this).closest('form').submit();">See All Offices</a>
                    </form> 
                </li>
            </ul>
            <% } else{ %>
                <ul class="find-a-surgeon-results-list-item-details">
                    <li>
                        <form method="post" action="<%= hcp %>/find-a-specialist/Detail">
                            <input type="hidden" name="page"  value="<%= page %>" />
                            <input type="hidden" name="searchType" value="name" />
                            <input type="hidden" name="specialistName"    value="<%= specialistName %>" />
                            <input type="hidden" name="practiceName"      value="<%= practiceName %>" />
                            <input type="hidden" name="accountId"  value="<%- item.Specialist__c %>">
                            <a class="detail_link" onclick="$(this).closest('form').submit();">Full Details</a>
                        </form>                 
                    </li>
                    <li>|</li>
                    <li>
                        <form method="post" action="<%= hcp %>/find-a-specialist/Detail|<%- item.Specialist__c %>&tab=offices">
                            <input type="hidden" name="page"  value="<%= page %>" />
                            <input type="hidden" name="searchType" value="name" />
                            <input type="hidden" name="specialistName"    value="<%= specialistName %>" />
                            <input type="hidden" name="practiceName"      value="<%= practiceName %>" />
                            <input type="hidden" name="accountId"  value="<%- item.Specialist__c %>">
                            <a class="detail_link details-other-practices" onclick="$(this).closest('form').submit();">See All Offices</a>
                        </form>
                    </li>
                </ul>
            <% } %>
        </div>
        <ul class="find-a-surgeon-results-list-item-content primary">
            <li>
                <span class="find-a-surgeon-results-label">Office</span>
                    <span><strong><%- item.Name %></strong></span>
            </li>
            <li>
                <span class="find-a-surgeon-results-label">Address</span>
                <span><%- item.Address_1__c %>
                <% if(item.Address_2__c){
                    var address2 = item.Address_2__c,
                    countregex = /([\w\W]*)[\*]{3}([\d]*)$/ig;
                    temp = countregex.exec(address2);
                    if(temp != null){
                        if(temp[1]=='null'){
                            item.Address_2__c = '';
                        }
                        else{
                            item.Address_2__c = temp[1];
                        }
                    }
                %>
                <br/>
                <% } %>
                <%- item.Address_2__c%>
                <% if(item.City__c||item.State__c||item.Zip_Code__c){ %>
                <br/>
                <% } %>
                <% if(item.City__c){ %>
                <%- item.City__c %>, 
                <% } %>
                <% if(item.State__c){ %>
                <%- item.State__c %> 
                <% } %>
                <%- item.Zip_Code__c %></span>
            </li>
            <% if(item.Phone__c){ %>
                <li>
                    <span class="find-a-surgeon-results-label">Phone</span><span><%- item.Phone__c %></span>
                </li>
            <% } if(item.Fax__c){ %>
                <li>
                    <span class="find-a-surgeon-results-label">Fax</span>
                    <span><%- item.Fax__c %></span>
                </li>
            <% } if(item.Email__c){ %>
            <li>
                <span class="find-a-surgeon-results-label">Email</span>
                <span><%- item.Email__c %></span>
            </li>
            <% } %>
        </ul>
        <ul class="find-a-surgeon-results-list-item-content secondary">
            <% if(wheelChair == 'Yes') {%>
            <li>
                <span class="find-a-surgeon-results-label">Wheelchair Access</span>
                <span><%= wheelChair %></span>
            </li>
            <% } if(language != ''){%>
            
            <li>
                <span class="find-a-surgeon-results-label">Languages</span>
                <span><%= language  %></span>
            </li>
            <% } if(distance > 0) {%>
            <li>
                <span class="find-a-surgeon-results-label">Distance</span>
                <span><%= distance %> miles | <a href="http://maps.google.com/?q=to Sanctuary Surgery Center Boca raton FL <%- item.Zip_Code__c %>" target="_blank">Directions</a></span>
            </li>
            <% } %>
        </ul>
        <ul class="find-a-surgeon-results-list-item-content links">
            <% if(item.Website__c){ %>
                <li><a id="searchWebsite" href="<%- item.Website__c %>" target="_blank">Website</a></li>
            <% } if(item.Live_Seminars_Link__c){ %>
                <li><a id="searchLiveSeminar" href="<%- item.Live_Seminars_Link__c %>" target="_blank">Live Seminar</a></li>
            <% } if(item.Online_Seminars_Link__c){ %>           
                <li><a id="searchOnlineSeminar" href="<%- item.Online_Seminars_Link__c %>" target="_blank">Online Seminar</a></li>
            <% } %>
        </ul>
        </div>
        <%
            });     
            MapIt(locations , lat , lng , 12 , 'bigmap');   
        %>
    </script>
    <!-- End of FAS Page Map template -->
    
    <!-- Start of Map template on Home and Foot -->
    <script type="template/lapband" id="mapbyzip">
        <%
          var locations = [],lat,lng,distance,nKey;
          $.each(items, function (key, item){           
            (lat == undefined) && (lat = item.Location__Latitude__s,lng = item.Location__Longitude__s); 
            var p2 = new google.maps.LatLng(item.Location__Latitude__s, item.Location__Longitude__s);
            if(p1 == undefined){
                distance = 0;   
                key== 0 && (nameClassName +=  '-name') 
                nKey = key+1;       
            }
            else{
                distance = (Math.round(calcDistance(p1, p2) * 0.621371192 * 10) / 10).toFixed(1) , nKey=key+1; 
            }
            buildLocations(locations,key,item);    
        %>
            <ul>
                <li class="<%= numberClassName %>">
                    <a onclick="mp(<%= key %>)" href="javascript:void(0)"><%= nKey %></a>
                </li>               
                <li class="<%= nameClassName %>">
                    <span><%- item.Specialist__r.Name %></span>
                </li>
                <% console.log('distance',distance);if(distance > 0) { %>               
                    <li class="<%= distanceClassName %>"><%= distance  %> MI.</li>
                <% }else{ %>
                <li class="search-box-results-list-location"><span><%- item.City__c %>, <%- item.State__c %></span></li>
                <% } %>
                <li class="<%= detailsClassName %>">
                    <form action="<%= hcp %>/find-a-specialist/Detail" id="details<%= nKey %>" method="post" name="details<%= nKey %>">
                         <input type="hidden" name="searchType" value="global">
                         <input type="hidden" name="accountId" value="<%-item.Specialist__c%>">
                         <a class="detail_link" onclick="$(this).closest('form').submit();">DETAILS</a>
                    </form>                 
                </li>
            </ul>
        <%
            if (key == allResultNum) {
                 if( numberClassName == 'search-box-results-list-number'){
        %>
            <ul>
                <li class="<%= allResultsClassName %>">
                    <form id="seeAllResults" action="<%= hcp %>/find-a-specialist" method="post">
                        <% if(isZip(zip)){%>
                            <input type="hidden" name="page"  value="1" />
                            <input type="hidden" name="searchType" value="zip" />
                            <input type="hidden" name="search-zip" value="<%= zip %>">
                            <input type="hidden" name="search-radius" value="50">
                            <input type="hidden" name="search-wheelchair" value="">
                            <input type="hidden" name="search-language" value="Any">
                        <%} else{%>
                            <input type="hidden" name="page"  value="1" />
                            <input type="hidden" name="searchType" value="name" />
                            <input type="hidden" name="search-name" value="<%= zip %>">
                        <%}%>                       
                        <a class="detail_link" onclick="$(this).closest('form').submit();">SEE ALL RESULTS</a>
                    </form>
                </li>
            </ul>
        <%
            return false;}
            else {
        %>      
            <form id="seeAllResults" action="<%= hcp %>/find-a-specialist" method="post">
                <% if(isZip(zip)){%>
                    <input type="hidden" name="page"  value="1" />
                    <input type="hidden" name="searchType" value="zip" />
                    <input type="hidden" name="search-zip" value="<%= zip %>">
                    <input type="hidden" name="search-radius" value="50">
                    <input type="hidden" name="search-wheelchair" value="">
                    <input type="hidden" name="search-language" value="Any">
                <%} else{%>
                    <input type="hidden" name="page"  value="1" />
                    <input type="hidden" name="searchType" value="name" />
                    <input type="hidden" name="search-name" value="<%= zip %>">
                <%}%>   
                <a class="<%= allResultsClassName %>" onclick="$(this).closest('form').submit();">SEE ALL RESULTS</a>
            </form>
        <%
            return false;}}});
            MapIt(locations , lat , lng , 12 , mapClass);
        %>
    </script>   
    <!-- End of Map template on Home and Foot -->
    
</apex:component>