<apex:component layout="none" controller="LWFindSpecialistController">
    <head>
        <title>The LAP-BAND&#174; Adjustable Gastric Banding System The Original Gastric Banding System | LAP-BAND&#174;</title>
        <apex:includeScript value="{!URLFOR($Resource.jq172)}"/>       
        <apex:includeScript value="{!URLFOR($Resource.LWJS)}"/>
        <apex:includeScript value="{!URLFOR($Resource.Lapband_New,'scripts/jquery.validate.js')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.Lapband_New,'css/main.css')}"/>
        <apex:stylesheet value="http://fonts.googleapis.com/css?family=Nunito:300,400,700" />
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key={!$label.Google_map_API}&sensor=false&libraries=geometry"></script>
        <script type="text/javascript">
            function mainInit() {
                bannerSlider.init();
            }
            $(document).ready(mainInit);
        </script>
    </head>
     <apex:form >
        <!-- Define the JavaScript function sayHello-->
        <apex:actionFunction name="optOutEmail" action="{!optOutEmail}" rerender="content" status="myStatus"/>
    </apex:form>
    
    <c:LWHCPMapIncludeFile isHCP="false"/>  
</apex:component>