<apex:component >
    <div class="how_its_works">
        <em><a href="/r_lapband_callmenow">
        <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/1_Tout_CallMe_Cyan.png')}" alt="img" />
        </a></em>
        <h4>Want to Talk? 
        <a href="tel:+1-800-LAP-BAND">Call 1-800-LAP-BAND</a></h4>
        <p>Have a question about insurance coverage? Need more information about Specialists? We’re here to talk you through your options.</p>
        <a href="/r_lapband_callmenow"><strong>OR JUST CALL ME</strong></a>
    </div>
</apex:component>