<apex:page sideBar="false" showHeader="false" cache="false">
<style>

/*To place the Today button to left align*/
    body{
        padding:0;
        margin:0;
    }
    div{
        padding:0;
    }
   .JQ_CA > .CA_h > div.manage
     {
        left:20px !important;
     }
</style>
<!-- <div style="height:100px;padding:0;"><img src="{!$Resource.calendar_logo}" height="100"/></div> -->
<apex:composition template="{!$Site.Template}">
<apex:define name="body">

<div style="position:relative;height:100px;" id="CA_INSIDE">
<c:calendar date="" 
    view="month" 
    urlparams="l_ds=0&r_c=0&site=1&sb=1" 
    namespace="SLCA2"
    readonly="{
        edit            : false, 
        create          : false, 
        detail          : false, 
        move            : false, 
        hover           : true, 
        contextEvent    : false, 
        contextCalendar : false, 
        contextArea     : false
    }"
    
></c:calendar>
</div>
<!-- <div style="position:absolute;bottom:10px;height:100px;right:0;left:0;"> -->
<!--     <img src="{!$Resource.silverline_logo}" height="100"/> -->
<!--     <span style='margin-left:10px;'>This public page is being served using Force.com Sites and the calendar data shown is governed by Salesforce permissions associated with the Site User Profile.</span> -->
<!-- </div> -->
<script>
jQuery(document).ready(function(){
    var aLockTags = ['SCRIPT', 'STYLE'],
        nHeight = 0,
        nMaxHeight = jQuery('#CA_INSIDE').parent()[0].tagName == 'BODY'
            ? jQuery(window).height()
            : jQuery('#CA_INSIDE').parent().height(); 
    jQuery('#CA_INSIDE').siblings().each(function(){
        var oEl = jQuery(this);
        if (oEl.attr('id') == 'CA_INSIDE' || aLockTags.indexOf(oEl[0].tagName) >= 0) {
            return;
        }
        nHeight += oEl.outerHeight();
    });
    jQuery('#CA_INSIDE').height(nMaxHeight - nHeight);
});
</script>
</apex:define>
</apex:composition>
</apex:page>