<apex:page showheader="false" standardStylesheets="false" sidebar="false"  >
<html>
<head>
<meta charset="UTF-8"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
<script>
  $(document).ready(function(){
      $('.a').show(function(){$(this).animate({opacity:'1'});});
      $('.Speaker1 > a').addClass('selectedSpeaker');
      $('.speakers > li > a').click(function(e){
        e.preventDefault();
        var content = $(this).attr('rel');
        $('.selectedSpeaker').removeClass('selectedSpeaker');
        $(this).addClass('selectedSpeaker');
        $('.speakerBio > li').animate({opacity:'0.0'});
        $('.'+content).show(function(){$(this).animate({width:'510px',opacity:'1'});});
    });
});
</script>
<style type="text/css">
#speakerSel {
    margin:0px;
    height: 500px;
}

#speakerSel ul {
    position:relative;
    display:inline-block;
    list-style-type:none;
    margin:0px;
    padding:0px;
    vertical-align: text-top;
}

ul.speakers li {
    width:125px;
    margin-left:10px;
    
}

ul.speakers li a {
    text-decoration: none;
}

ul.speakers li a span {
    display: table-cell;
    position: relative;
    width: 125px;
    height: 50px;
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:#FFFFFF;
    top: -8px;
    text-decoration: none;
    background-color:#000;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.4;
    text-align: center;
    vertical-align: middle;
}

ul.speakers li a:not(.selectedSpeaker) img { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

ul.speakers li:hover a img { 
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}

.speakerBio {
    vertical-align:top;
}

.speakerBio li {
    display:none;
    position:absolute;
    background:#FFF;
    padding:10px 10px 10px 10px;
}

.speakerBio h3,
.speakerBio h4 {
    font-family: "Muli", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #777777;
    text-rendering: optimizeLegibility;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

.speakerBio p {
    width:510px;
    font-family: inherit;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.25em;
    color: #5b5b5b;
    text-rendering: optimizeLegibility;
}
</style>
</head>

<body>
<div id="speakerSel">
  <ul class="speakers">
        <li class="Speaker1">
            <a href="#" rel="a" class="selectedSpeaker">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/apollo-headshot-2650-revised2-125x125.jpg" width="125" height="125" /><br />
            <span>Todd Newton</span>
            </a></li>
        <li class="Speaker3">
            <a href="#" rel="c">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/gostout-125x125.jpg" width="125" height="125"/><br />
            <span>Christopher J. Gostout, M.D.</span></a></li>
        
        <li class="Speaker5">
            <a href="#" rel="e">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/Charlie-Dean1-125x125.jpg" width="125" height="125"/><br />
            <span>Charlie Dean</span></a></li>
            <li class="Speaker7">
            <a href="#" rel="g">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/apollo-headshot-2709-125x125.jpg" width="125" height="125"/><br />
            <span>Jeffrey A. Komatz, CPA</span></a></li>
            <li class="Speaker10">
            <a href="#" rel="j">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/3452e62-2-125x125.jpg" width="125" height="125"/><br />
            <span>Randy Price</span></a></li>
            </ul>
            <ul class="speakers">
            <li class="Speaker2">
            <a href="#" rel="b">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/apollo-headshot-2665-revised2-125x125.jpg" width="125" height="125"/><br />
            <span>Dennis L. McWilliams</span></a></li>
            <li class="Speaker4">
            <a href="#" rel="d">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/Lee-Putman-125x125.jpg" width="125" height="125"/><br />
            <span>J. Lee Putman</span></a></li>
        <li class="Speaker6">
            <a href="#" rel="f">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/Ted-Stephens1-125x125.jpg" width="125" height="125"/><br />
            <span>Ted Stephens</span></a></li>
        
        <li class="Speaker8">
            <a href="#" rel="h">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/Apollo-Exec-Laura-125x125.jpg" width="125" height="125"/><br />
            <span>Laura LeBoeuf</span></a></li>
        <li class="Speaker11">
            <a href="#" rel="k">
            <img src="http://apolloendo.com/wp-content/uploads/2013/09/apollo-headshot-2689-125x125.jpg" width="125" height="125"/><br />
            <span>Charles Tribié</span></a></li>
    </ul>
  <ul class="speakerBio">
        <li class="a" style="display: list-item; width: 510px; opacity: 1;">
                        <h3>Todd Newton</h3>
                        <h4>Chief Executive Officer</h4>
                        <p>Todd Newton joined Apollo Endosurgery as Chief Executive Officer and as a member of the board of directors in 2014.</p>
<p>Mr. Newton is a seasoned executive and comes to Apollo after five years at ArthroCare Corporation, where he served as Executive Vice President, Chief Financial Officer and Chief Operating Officer.  During his tenure, Mr. Newton helped to stabilize operations, which lead to the Company’s achievement of its highest ever levels of profitability and cash flow and its recent sale to Smith &amp; Nephew for $1.7 billion.</p>
<p>Prior to his leadership at ArthroCare, Mr. Newton served in a number of executive officer roles for Synenco Energy, Inc., including President and Chief Executive Officer. He began his career at Deloitte &amp; Touche LLP, where he served in various roles from 1984 to 2004, including Partner.</p>
<p>Mr. Newton holds a BBA in Accounting from University of Texas at San Antonio.  </p>
    </li>
        <li class="b">
                        <h3>Dennis L. McWilliams</h3>
                        <h4>President and Chief Commercial Officer</h4>
                        <p>Dennis McWilliams, Founder of Apollo Endosurgery, assumed the role of President and Chief Commercial Officer in 2014. In 2006, he and the Apollo Group partnered to create Apollo Endosurgery, Inc.</p>
<p>Prior to joining Apollo‚ Mr. McWilliams was an Entrepreneur in Residence at PTV Sciences‚ a venture capital fund focusing on life science and medical devices. In addition, Mr. McWilliams co-founded and acted as Chief Operating Officer of Chrysalis BioTechnology‚ a development stage biopharmaceutical company focused on developing novel drug therapies for tissue regeneration. As Chief Operating Officer‚ he was responsible for corporate financing‚ strategic partnering‚ and M&amp;A activities. Chrysalis was acquired by OrthoLogic Corporation, now Capstone (NASDAQ: CAPS) in August 2004.</p>
<p>Mr. McWilliams received a Bachelor of Science with honors from the University of Texas and a Master of Science in Engineering Management from Stanford University. He serves on the Board of Directors for the Texas Exes. In 2007, he was awarded the Outstanding Young Texas Ex Award by the University of Texas.</p>
        </li>
        <li class="c">
                        <h3>Christopher J. Gostout, M.D.</h3>
                        <h4>Chief Medical Officer</h4>
                        <p>Dr. Christopher J. Gostout, M.D. is a consultant at the Mayo Clinic, Rochester, Minnesota, in the Division of Gastroenterology and Hepatology. He has a joint appointment in the Department of Surgery. He is a Professor of Medicine in the Mayo Clinic College of Medicine and the Director of the Developmental Endoscopy and Research Unit. He is the founder of The Mayo Clinic GI Bleeding Team and the Developmental Endoscopy Unit. His areas of specialty interest, research, and publication include gastrointestinal bleeding, management of pancreaticobiliary disease, advanced endoscopic imaging, endotherapy of obesity, and endoscopic resection and tissue closure techniques.</p>
<p>Dr. Gostout’s interest in endoscopic imaging is directed at the detection of dysplasia in both the upper and lower gastrointestinal tract. His research in endoscopic tissue resection is directed at the removal of dysplasia in both the upper and lower gastrointestinal tracts by means of a newly developed method referred to as submucosal endoscopy with mucosal resection. His Developmental Endoscopy Unit created the concept of submucosal endoscopy for both tissue resection and for safe access to body cavities.</p>
<p>Dr. Gostout has been Member of The Board of Trustees in the American College of Gastroenterology and has been the President of the American Society of Gastrointestinal Endoscopy (ASGE). He is the founder of the ASGE Interactive Training and Technology center. He has organized postgraduate hands-on courses for the ASGE and served as a Faculty Member on the major postgraduate courses for all of the GI subspecialty societies. He has served as a Member of Medical &amp; Scientific Advisory Board at Vysera Biomedical Limited and Enteromedics Inc.</p>
<p>He has been a consultant for Soft Scope Medical Technology. He co-founded Apollo Endosurgery, Inc. in 2006 and is an Innovation Partner. He currently serves as a consultant and the Chief Medical Officer for Apollo Endosurgery.</p>
        </li>
        <li class="d">
                        <h3>J. Lee Putman</h3>
                        <h4>Vice President, US Sales </h4>
                        <p>J. Lee Putman joined Apollo Endosurgery as the Vice President of Sales and Marketing in 2006. He is a seasoned executive and brings with him considerable experience spanning over 26 years in sales and marketing management in the fields of endoscopy and surgery.</p>
<p>Prior to joining Apollo Endosurgery, Mr. Putman was a key member of the Senior Management Team at Johnson &amp; Johnson (J&amp;J).</p>
<p>During his tenure at J&amp;J, his entrepreneurial spirit was instrumental in the launch of three separate internal start-ups, including Ethicon® Products Mechanical Division and Ethicon Endo-Surgery® (EES). He drew upon his extensive leadership experience to lead the launch of InScope®, which was built to commercialize the revolutionary esophageal PillCam®. This included planning, building and developing the InScope team. During his tenure at EES, he elevated global business growth from $130MM to $3B and crafted strategies and tactics that resulted in over 14% CAGR.</p>
<p>Mr. Putman holds a Bachelor of Science in Marketing from the Indiana University‚ Kelly School of Business and an MBA from the Williams College of Business at Xavier University.</p>
        </li>
        <li class="e">
                        <h3>Charlie Dean</h3>
                        <h4>Vice President, Research &amp; Development </h4>
                        <p>Charlie Dean joined Apollo Endosurgery in 2010 and is currently the Vice President of Research and Development . He is responsible for the design and development of Apollo Endosurgery’s portfolio of products and brings with him over 12 years of experience in Class II &amp; III medical product development and implementing scalable and sustainable supply chains.</p>
<p>Mr. Dean came to Apollo Endosurgery from PA Consulting Group, where he consulted for many start-up and big-cap medical device and pharmaceutical companies both in the UK and US.</p>
<p>During his tenure at PA, he assisted his clients in the creation and commercialization of 14 Class II &amp; III medical and combination devices and realized over $80M in manufacturing cost savings for existing products. His expertise spans product &amp; process design, technology transfer, manufacturing scale-up, process improvement, due diligence, and quality &amp; compliance.</p>
<p>Mr. Dean holds a Masters in Mechanical &amp; Manufacturing Engineering from The University of Birmingham. He is a Chartered Engineer (CEng) &amp; Certified Project Manager (PMP).</p>
        </li>
        <li class="f">
                        <h3>Ted Stephens</h3>
                        <h4>Vice President, Global Marketing</h4>
                        <p>Ted Stephens joined Apollo Endosurgery as the Marketing Director in 2010. He assumed the role of Vice President of Global Marketing in 2013. He brings with him over 18 years of experience in the medical device arena that includes leadership of high performing teams in the areas of Sales, Marketing and New Product Development.</p>
<p>Mr. Stephens comes to Apollo Endosurgery from Ethicon Endo-Surgery (EES) where he led both sales and marketing initiatives across a portfolio of laparoscopic surgical products and procedures. He was responsible for the commercial launch of the REALIZE® Adjustable Gastric Band which resulted in first year sales of over $51MM. In 2009 he was promoted to Market Creation Director. In this role he was responsible for the development of new minimally invasive technology platforms for the treatment of obesity.</p>
<p>Mr. Stephens earned his Bachelor of Science in Engineering at Michigan State University and his MBA at Xavier University School of Business Administration. During his career at EES, he was recognized for multiple Sales, Marketing and Leadership awards.</p>
        </li>
        <li class="g">
                        <h3>Jeffrey A. Komatz, CPA- Inactive</h3>
                        <h4>Vice President, Finance and Controller</h4>
                        <p>Jeff Komatz joined Apollo Endosurgery as the Controller in 2012 and moved to an expanded role as the Vice President of Finance and Controller in 2013.  As part of this role, Mr. Komatz manages the Company’s accounting, taxation, financial planning, legal, insurances and facilities operations. </p>
<p>Over the last 20 years, he has gained significant experience in finance and accounting, with a specialization in the medical device and biotech industries. Prior to joining Apollo, Mr. Komatz worked for Ascension Orthopedics, Inc as Vice President of Finance and Controller. He has been actively involved with three successful company sales with valuations ranging from $50M to $250M and most recently the acquisition of the bariatric assets of Allergan.  Mr. Komatz has secured over $225M of private and public equity, debt, and government grants involving over 20 transactions. He began his career in big six public accounting at Coopers and Lybrand where he was an audit manager.</p>
<p>Mr. Komatz holds a Bachelor of Science in Business Administration-Accounting from the Ohio State University.</p>
        </li>
        <li class="h">
                        <h3>Laura LeBoeuf</h3>
                        <h4>Vice President, Quality, Regulatory, and Clinical Affairs</h4>
                        <p>Laura LeBoeuf joined Apollo in January, 2013 and is currently the interim Vice President of Quality, Regulatory, and Clinical Affairs. </p>
<p>During her 25 years in the medical device industry, Laura has held positions in Manufacturing, R&amp;D, Quality, Regulatory and Clinical groups for companies ranging from well-established to initial start-up.  She has extensive experience with Class II &amp; III devices including radiofrequency-based surgical instrumentation, orthopedic implants, heart valves and pacemakers.</p>
<p>Laura holds a B.S. in Industrial Engineering from Texas A&amp;M University, and an M.S. in Engineering Management from The University of Texas.</p>
        </li>
        <li class="j">
                        <h3>Randy Price</h3>
                        <h4>Vice President, International Sales</h4>
                        <p>Randy Price has 25 years of commercial experience in the Pharmaceutical and Medical Device industry. He was born and schooled in Canada, but has spent most of his career in the US in a number of Sales and Marketing roles.  Mr. Price began his career in Pfizer’s Consumer Products Division, leading Global marketing efforts and living in Japan for 2 years.  He then moved to AstraZeneca where he focused on GI and Oncology therapeutic areas.</p>
<p>For the last 10 years, Mr. Price was with Allergan where he held a number of commercial leadership positions, including Sr. Director of Marketing for Botox.  Mr. Price has in-depth experience in the bariatric surgery/GI space, having run LAP-BAND US Marketing and one of the US Sales teams since the acquisition of Inamed in 2006.  For the past year, Mr. Price has been responsible for leading the OUS Commercial teams for LAP-BAND and Orbera Gastric Balloon in Europe, Latin America, Asia Pacific and Canada.</p>
        </li>
        <li class="k">
                        <h3>Charles Tribié</h3>
                        <h4>Executive Vice President of Operations</h4>
                        <p>Mr. Tribié currently serves as Executive Vice President of Operations at Apollo Endosurgery.</p>
<p>Prior to joining Apollo in 2014, Mr. Tribié served as the Senior Vice President Operations at IDev Technologies.  During his tenure there, he was fully responsible for the company’s operational strategy and was integral to the sale of IDEV to Abbott for $310M in 2013. Prior to joining IDev Technologies, Mr. Tribié spent 3 years consulting across a broad range of medical device specialties.</p>
<p>Mr. Tribié has 30 years of operations experience, including roles within Power Medical Interventions and CryoGen, Inc. He served as President and CEO of CryoGen, Inc. a Venture-backed firm with a unique office-based solution for cryogenic treatment of Excessive Menstrual Bleeding. CryoGen was sold to American Medical Systems in 2003. Mr. Tribié began his career at US Surgical, spending 19 years there while continuing to increase his responsibilities within operations. During Mr. Tribié’s tenure, US Surgical was the leader in Innovative Surgical Wound Closure products.  At the time of its acquisition by Tyco International, he was Senior Vice President Operations at US Surgical.</p>
<p>Mr. Tribié holds a Bachelor of Science degree from Fordham University and an MBA from Long Island University.</p>
        </li>
    </ul>
</div>
</body>
</html>
</apex:page>