<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8"/>
<meta name="pageset" content="aboutNav" />
<meta name="subnavset" content="subitFits" />
<c:au_lapband_head />
</head>

<body>
<script src="//maps.googleapis.com/maps/api/js?v=3.exp"></script>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:au_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
      <!-- <div class="baner inner2">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/iner3_icon.png')}" alt="img" /> -->
                               <!-- <img src="images/iner3_icon.png" alt="img"> -->
                               <!-- </span>
                               <h3>Your plans are big <br />
                                  enough for the <br />
                                  LAP-BAND<sup>®</sup> System</h3>                              
                               
                           </div>
                       </div>
                   </li>
                </ul>
            </div> -->

            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">
                   <div class="utility">
                      <div class="container no-width">
                        <div class="utility_in right-border">
<form name="itfits" id="itfits" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

<!-- <input type="hidden" name="oid" value="00DW0000008wGqD" /> -->
<!-- <input type=hidden name="retURL" value="http://"> -->
<input type="hidden" name="oid" value="00D50000000JUZT"/>
<!-- <input type=hidden name="retURL" value="http://"> -->
<input type="hidden" id="00N50000002oiCk" name="00N50000002oiCk" title="Type" value="Consumer"/>
<input type="hidden" id="lead_source" name="lead_source" value="LAP-BAND Itfits Quiz"/>



<h1>Is The LAP-BAND<sup>&reg;</sup> System<br />The Right Fit For You?</h1>

<div id="frame1" align="center" style="display:block;">
<h5 class="red">Please Answer All of the Following Questions:</h5>
<h4>Please Enter the Following:</h4>
<br />
<div>
<div class="gender">
<label>Gender:</label>
<div>
<div class="radio_buttons">
<input type="radio" id="00N50000002onMk" name="00N50000002onMk" value="Male" title="Gender"/> <span>Male</span></div>
<div class="radio_buttons"><input type="radio" value="Female" id="00N50000002onMk" name="00N50000002onMk" title="Gender" /> <span>Female</span>
</div>
</div>
</div>
<div class="age">
<label>Age:</label>
<div class="search_box age">
<input  id="00N50000003UFOp" name="00N50000003UFOp" size="20" type="text" value="Age" /></div>
</div>


<div class="height">
<label>Height:</label>
<div>
<div class="search_box feet">
    <input  id="00N50000002onMl" name="00N50000002onMl" size="20" type="text"  value="Feet"/>
    </div>
    <div class="search_box inches">
    <input  id="00N50000002onMm" name="00N50000002onMm" size="20" type="text" value="Inches" />
</div>
</div>
</div>
<div class="weight">
<label>Weight:</label>
<div class="search_box weight">
    <input  id="00N50000002onMq" name="00N50000002onMq" size="20" type="text" value="Weight" />
</div>
</div>
<div class="zip_frame1">
<label>Zip Code:</label>
<div class="search_box">
    <input  id="zip" maxlength="20" name="zip" size="20" type="text" />
</div>
</div>
</div>

<p class="error"></p>

<a class="next" href="#">NEXT</a>

<div class="mobile_indicator">Question 1 out of 5<apex:image styleClass="right" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-right.png')}" alt="img" /></div>

</div>
<div id="frame2" style="display:none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/food_plate.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/food_plate-blue.png')}" alt="img" />
</div>
<p>Have you tried any diet weight loss plans before?</p>
<br />
<input type="radio" class="itfits-answers" id="00N50000003VP6byes" name="00N50000003VP6b" title="Have you tried diet and weight loss plan" value="Yes" />
<label for="00N50000003VP6byes">Yes</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6bunsure" name="00N50000003VP6b" title="Have you tried diet and weight loss plan" value="Unsure" />
<label for="00N50000003VP6bunsure">Unsure</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6bno" name="00N50000003VP6b" title="Have you tried diet and weight loss plan" value="No" />
<label for="00N50000003VP6bno">No</label>

<p class="error"></p>

<a class="next" href="#">NEXT</a>

<div class="mobile_indicator"><apex:image styleClass="left" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-left.png')}" alt="img" />Question 2 out of 5<apex:image styleClass="right" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-right.png')}" alt="img" /></div>
</div>
<div id="frame3" style="display:none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/stop_icon.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/stop_icon-blue.png')}" alt="img" />
</div>
<p>Does your weight stop you from doing anything? </p>
<br />
<input type="radio" class="itfits-answers" id="00N50000003VP6gyes" name="00N50000003VP6g" title="Does your weight stop you" value="Yes" />
<label for="00N50000003VP6gyes">Yes</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6gunsure" name="00N50000003VP6g" title="Does your weight stop you" value="Unsure" />
<label for="00N50000003VP6gunsure">Unsure</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6gno" name="00N50000003VP6g" title="Does your weight stop you" value="No" />
<label for="00N50000003VP6gno">No</label>

<p class="error"></p> 

<a class="next" href="#">NEXT</a>
<div class="mobile_indicator">
<apex:image styleClass="left" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-left.png')}" alt="img" />Question 3 out of 5<apex:image styleClass="right" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-right.png')}" alt="img" /></div>
</div>
<div id="frame4" style="display:none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/heart_icon.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/heart_icon-blue.png')}" alt="img" />
</div>
<p>Do you have a weight-related health condition?
    <br />(High blood pressure, diabetes, painful joints, etc.) </p> 
<br />
<input type="radio" class="itfits-answers" id="00N50000003VP6lyes" name="00N50000003VP6l" title="Do you have a weight-related health cond" value="Yes" />
<label for="00N50000003VP6lyes">Yes</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6lunsure" name="00N50000003VP6l" title="Do you have a weight-related health cond" value="Unsure" />
<label for="00N50000003VP6lunsure">Unsure</label>
<input type="radio" class="itfits-answers" id="00N50000003VP6lno" name="00N50000003VP6l" title="Do you have a weight-related health cond" value="No" />
<label for="00N50000003VP6lno">No</label>

<p class="error"></p> 

<a class="next" href="#">NEXT</a>
<div class="mobile_indicator"><apex:image styleClass="left" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-left.png')}" alt="img" />Question 4 out of 5<apex:image styleClass="right" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-right.png')}" alt="img" /></div>
</div>
<div id="frame5" style="display:none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/scale_icon.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/scale_icon-blue.png')}" alt="img" />
</div>
<p>Are you ready to make lifestyle changes in order to achieve your weight loss goal?</p>
<br />
<input type="radio" class="itfits-answers" id="00N50000003VP7Ayes" name="00N50000003VP7A" title="Are you ready to make a change" value="Yes" />
<label for="00N50000003VP7Ayes">Yes</label>
<input type="radio" class="itfits-answers" id="00N50000003VP7Aunsure" name="00N50000003VP7A" title="Are you ready to make a change" value="Unsure" />
<label for="00N50000003VP7Aunsure">Unsure</label>
<input type="radio" class="itfits-answers" id="00N50000003VP7Ano" name="00N50000003VP7A" title="Are you ready to make a change" value="No" />
<label for="00N50000003VP7Ano">No</label>

<p class="error"></p> 


<input class="next" type="submit" name="submit" value="Next" />

<div class="mobile_indicator"><apex:image styleClass="left" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-left.png')}" alt="img" />Question 5 out of 5<apex:image styleClass="right" value="{!URLFOR($Resource.r_lapband_images2, 'images/arrow-right.png')}" alt="img" /></div>

</div>
</form>

<div id="results1" style="display: none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/results_yes.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/results_yes-blue.png')}" alt="img" />
</div>
<br />
<h2>You may be a candidate for the LAP-BAND<sup>®</sup> System!</h2> 
<p><a class="personal_results" onclick="getPDF();">Download your personalized guide</a></p>

<br />
<br />
<div class="mobile_indicator results">
To schedule a consultation,<br />
call 1-800-LAPBAND today!
<p>Want to receive more info?<br /> Sign up for our e-mail updates:</p>

<p><a onclick="signUp();">click here</a></p>
<br />
<br />
<div class="mobile_indicator">
<!-- Results -->
</div>
</div>
</div>
<div id="results2" style="display: none;">
<div class="mobile_img" align="center">
<br />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/results_no.png')}" alt="img" />
<apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/results_no-blue.png')}" alt="img" />
</div>
<br />
<p>
It seems that the<br />LAP-BAND<sup>®</sup> System may<br />not be a fit for you.</p>
<br /><br />
<div class="mobile_indicator results">
Keep up with diet and exercise.<br />If you’d still like to learn more,<br />call <a href="tel:1-800-LAPBAND">1-800-LAPBAND</a>.
<br />
Want to receive more info?<br />
Sign up for our email updates:
<br />
<a onclick="signUp();">SIGN UP</a>
<br />
<div class="mobile_indicator">
<!-- Results -->
</div>
</div>
</div>
<ul id="statusBar">
<li class="blueComplete">1</li>
<li>2</li>
<li>3</li>
<li>4</li>
<li>5</li>
</ul>
                          </div>
                          
                          <div class="iner11_rgt_part">
                       
                       <c:au_lapband_module_sign_up />
                       
                       <c:au_lapband_module_call />
                       
                       <c:au_lapband_module_ahead />
                       
                   </div>
                          
                      </div>
                       
                   </div>
                   
                   
                </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:au_lapband_footer />
            <!-- END: FOOTER -->

<script>
$(document).ready(function(){
    
    defaultValArray = ["Age","Feet","Inches","Weight","Zip Code"];
    
    bmi = '';
    age = '';
    
    $('a.next').click(function() {

        var thisFormVal = [];
        
        $('#itfits input:not([type="radio"],[type="button"])').each(function(index, element) {
            
            var inputVal = $(element).val();
            
            //check if there are matches in array
            if(defaultValArray.indexOf(inputVal) < 0){
                //alert('no');
            }
            else { 
                //remove from thisFormVal
                thisFormVal.push(inputVal);
            }
            
        });
        
        var ageToUse = $('.age input').val();
        age = parseInt(ageToUse);
        var feet = $('.feet input').val();
        var inches = $('.inches input').val();
        var weight = $('.weight input').val();
        var feetToInches = parseInt(feet) * 12;
        var totalHeight = parseInt(inches) + feetToInches;
        var height = totalHeight * totalHeight;
        var wehe = parseInt(weight) / height;
        bmi = wehe * 703;
        
        var checkTrue = '';
        
        var femaleCheck = $('input[type="radio"][value="Female"]').attr("checked");
        var maleCheck = $('input[type="radio"][value="Male"]').attr("checked");
        
        if (femaleCheck == 'checked' | maleCheck == 'checked') {
            checkTrue = true;
        } else {
            checkTrue = false;
        }
        
        if ($('#frame1').is(':visible') && thisFormVal.length == 0 && checkTrue == true) {
            
            $(this).parent().next().show().siblings('div').hide();
            
            $('ul#statusBar li.blueComplete').next('li').addClass('blueComplete');                                      
            
            $('p.error').text('');
            
        } else if ($('#frame1').not(':visible') && $(this).siblings('input[type="radio"]').has(":checked")) {
            
            $(this).parent().next().show().siblings('div').hide();
            
            $('ul#statusBar li.blueComplete').next('li').addClass('blueComplete');                                      
            
            $('p.error').text('');
             
        } else {
            $('p.error').text('Please answer the question before advancing.');
        }
        
    });
    
    $('input[type="button"]').click(function() {
        $(this).addClass('chosen');
        $(this).siblings().removeClass('chosen');
        $('p.error').text('');
    });
    
    $('input.next').click(function(e) {
        e.preventDefault();
        $.ajax({
            url : $('form[name="itfits"]').attr('action') || window.location.pathname,
            type: "POST",
            data: $('form[name="itfits"]').serialize(),
            success: function (data) {
                console.log(data);
            },
            error: function (jXHR, textStatus, errorThrown) {
                console.log(errorThrown);
            }
        });
        var answer = $('#frame5 input[type="radio"]:checked').val();
        if (bmi > 30 && age > 18 && answer != 'No') {
            $(this).parent().hide();
            $('#results1').show();
            $('#itfits h5').hide();
            $('ul#statusBar li.blueComplete').next('li').addClass('blueComplete'); 
        } else {
            $(this).parent().hide();
            $('#results2').show();
            $('#itfits h5').hide();
        }
    });
    
    $('input').on({
    focus: function() {
        form_name = $(this).val();
            $(this).val('');
            
    }, 
    blur: function() { 
        if ($(this).val() == '') {
                $(this).val(form_name);
            }
            
    }
    });
    
    $('.mobile_indicator img').click(function() {
        if ($(this).hasClass('right') && $(this).parent().parent().next().attr('id') != 'results1' ) {
            $(this).parent().siblings('a.next').trigger('click');
        }
        
        if ($(this).hasClass('left')) {
            $(this).parent().parent().prev().show().siblings('div').hide();
            $('p.error').text('');
        }
    });
    
});


function getPDF() {
   var zipCode = document.getElementById('zip').value;
   console.log('zipCode = ' + zipCode);
   if(zipCode!=null&&zipCode!=''){
       var targetURL = "/learn-about-lapband/download?zipCode="+zipCode;
       var geocoder = new google.maps.Geocoder();
       geocoder.geocode( {'address': zipCode}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
              lat = results[0].geometry.location.lat();
              lng = results[0].geometry.location.lng();
              //latlng = lat+':'+lng;
              latlng = lat+':'+lng;
              targetURL = targetURL+"&latlng="+latlng;
          }
          //location.target = "_blank";
          //location.href = targetURL;
          window.open(targetURL);
      });
   }
   else{
      location.target = "_blank";
      location.href = "/learn-about-lapband/download";
   }
}

function signUp() {
  var zipCode = document.getElementById('zip').value;
  console.log('zipCode = ' + zipCode);
  location.href="{!$Site.BaseURL}/r_lapband_email_sign_up?zip=" + zipCode;
}


</script>
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:au_lapband_footer_scripts />

</body>
</html>

</apex:page>