<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>Financing | The LAP-BAND® System</title>
<meta name="pageset" content="costNav" />
<meta name="subnavset" content="subFinancing" />
<meta name="description" content="Learn more about the LAP-BAND® System Financing Program, which helps patients pay for expenses associated with the procedure." />
<c:au_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:au_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
            <div class="baner inner13">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/3.3_Financing.png')}" alt="img" />
                               </span>
                               <h3>The LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 2px">®</sup> System<br />
                               can fit most budgets, too.</h3>                
                           </div>
                       </div>
                   </li>
                </ul>
            </div>
            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">               
                   <div class="container">
                       <div class="para iner11">
                       
<h5>Need financing? We can help.</h5>
<br />
<p>We’ve joined with LAP-BAND<sup>®</sup> System certified doctors and clinics to create the LAP-BAND<sup>®</sup> System Financing Program, in partnership with American Healthcare Lending. The program helps patients pay for out-of-pocket expenses associated with LAP-BAND<sup>®</sup> System procedures and aftercare from $2,000 to $100,000 through simple, low-interest installment loans.  </p>
<br />
<h5>Why Apply for the LAP-BAND<sup>®</sup> System Financing Program?</h5>
<br />
<p>
<ul style="list-style: disc; list-style-position: inside" >
<li>Simple online process with an immediate decision</li>
<li>Receive funds in your bank account in as little as five days</li>
<li>Review your rate, payment, and term without affecting your credit score</li>
<li>Loan terms up to 60 months</li>
<li>Rates starting at 7.00% (starting APR for best borrowers)</li>
<li>No down payment required</li>
<li>No collateral required</li>
<li>No prepayment penalties</li>
<li>Access online 24 hours a day, 7 days a week</li>
</ul>
</p>
<p>
<strong><a href="http://www.americanhealthcarelending.com/lapbandloan" target="_blank">Apply now</a> and get a decision in two minutes or less.</strong>
</p>
                        
                       </div>
                       <div class="iner11_rgt_part">
                       
                           <c:au_lapband_module_fit />
                           
                           <c:au_lapband_module_call />
                           
                           <c:au_lapband_module_sign_up />
                       
                       </div>
                   </div>
                   
                   <c:au_lapband_call />
                   
              </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:au_lapband_footer />
            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:au_lapband_footer_scripts />

</body>
</html>

</apex:page>