<apex:page showHeader="false" title="{!$Label.site.in_maintenance}" cache="false">
  <apex:composition template="StdExceptionTemplate">
    <apex:define name="icon">
      <apex:image url="{!URLFOR($Resource.SiteSamples, 'img/warning.gif')}"/>
    </apex:define>
    <apex:define name="error">
    <b>LAP-BAND<sup>®</sup> Systems website is offline for maintenance.</b>
     <br />
     <br />
    Sorry for the inconvenience. We'll be back shortly. 
    <br />
    Please call us at <a href="tel:1-800-LAPBAND">1-800-LAPBAND</a> or <a href="mailto:robert.brown@apolloendo.com?subject=LAPBAND.com in Maintenance">email us</a> if you need to get in touch.
      <!--- <apex:outputText escape="false" styleClass="title" value="{!$Label.site.down_for_maintenance}">
        <apex:param value="{!$Site.CurrentSiteUrl}"/> 
      </apex:outputText>--->
      <br/>
      <br/>
     <!--- <apex:outputText value="{!$Label.site.sorry_for_inconvenience_back_shortly}"/> --->
     <!--- <apex:outputText escape="false" value=" {!$Label.site.get_in_touch}">
      <apex:param value="mailto:{!$Site.AdminEmailAddress}"/>
      <apex:param value="{!$Label.site.email_us}"/>
    </apex:outputText> --->
   </apex:define>
  </apex:composition>
</apex:page>