<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>How It Works | The LAP-BAND® System</title>
<meta name="pageset" content="aboutNav" />
<meta name="subnavset" content="subHow" />
<meta name="description" content="Let us fill you in on how the LAP-BAND® System will help you feel full faster and stay full longer." />
<c:r_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:r_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
            <div class="baner inner1">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/iner11_icon.png')}" alt="img" />
                               <!-- <img src="images/iner11_icon.png" alt="img"> -->
                               </span>
                               <h3>How the LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 2px">®</sup> <br />                               
                                System Works</h3>                
                           </div>
                       </div>
                   </li>
                </ul>
            </div>
            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">               
                  <div class="four_specialist">
                        <ul id="resultsSwitcher">
                        <li id="resultsSwitcher-map">Map</li>
                        <li id="resultsSwitcher-list">List</li>
                        </ul>
                        <div id="map-container">
                           <span class="mobile_txt">Find By Zipcode</span>
                           <em class="mobile_return">RETURN TO SEARCH</em>
                           <i class="clear"></i>
                        </div>
                      
                       <i class="clear"></i>
                  </div>  
                 <div id="FAS-Results">
                     <div id="FAS-Header"><span><h4>4 Specialist in your Area</h4><span class="back-search">return to search</span></span></div>
                 <ul>
                 <li>
                 <span class="flag">1</span>
                  <h4>Michael Smith, M.D.</h4>
                 <div class="left">
                    <span class="main">
                        <p>
                            <span>Full pratice Name</span><br />
                            <span>2345 Street 14th Street #205</span><br />
                            <span>Distance: 0.56 miles</span><br />
                            <span>Office Hours: M-F 8am - 5pm</span>
                        </p>
                    </span>
                    <a class="just-call" href="#">Just Call Me</a>
                 </div>
                 
                 <div class="right">
                    <span class="secondary">
                        <p>
                            <span>(212) 222-2222</span><br />
                            <span>msmith@email.com</span><br />
                            <span>www.specialists-website.com</span>
                        </p>
                    </span>
                    <a class="full-details" href="#">Full Details</a>
                 </div>
                     
                     
                 <div class="info-box" info="full-details" style="display: none;">
                     <p class="left"><span><strong>Wheelchair Access:</strong> Yes</span><br />
                     <span><strong>Languages:</strong> English</span><br />
                     <br />
                     <span><strong>Statistics:</strong></span><br />
                     <span>% Bariatric surgeries of all surgical procedures performed: 95</span><br /><br />
                     <span>Frequency of LAP-BAND® System procedures: more than once a week</span><br /><br />
                     <span>Years of experience performing LAP-BAND® System surgery: 5+</span></p>
                     <p class="right">
                         <span><strong>Memberships:</strong></span><br />
                         <span>ACS</span><br />
                         <span>ASMBS</span><br />
                         <span>Society of Gastrointestinal<br />Endoscopic Surgeons</span><br />
                         <br />
                         <span><strong>Options:</strong></span><br />
                         <span>Provides Financing</span><br />
                         <span>Performs Outpatient Surgery</span><br />
                         <span>Accepts Out of Town</span>
                     </p>
                 </div>
                 <div class="info-box" info="just-call" style="display: none;">
                 <p>Let us do the work for you. We can find specialists near you, verify your<br />insurance coverage and provide financing options.</p>
                 <form>
                    
                     <div>
                         <input type="text" value="First Name*" />
                         <input type="text" value="Last Name*" />
                     </div>
                     <div>
                         <input type="text" value="Phone Number*" />
                         <input type="text" value="Callback Time*" />
                     </div>
                     <div>
                         <input type="text" value="Pick A Date*" />
                         <input type="text" value="Your Time Zone*" />
                     </div>
                         <input type="submit" value="SCHEDULE MY CALL" />
                 </form>
                 </div>
                 </li>
                 </ul>
                 </div>             
                   
              </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            
            <!-- SET: FOOTER -->
            <div class="footer">
               <div class="container">
                  <div class="footer_inn">
                      <c:r_lapband_footer_isi />
                      <br />                 
                      <p style="font-family: 'Nunito', sans-serif; font-size: 12px; color: #656565; font-weight: 300;">
                      <strong>References:</strong>
                      <br />1.  The LAP-BAND<sup>®</sup> System Surgical Aid in the Treatment of Obesity (PSI). Apollo Endosurgery, Inc. Austin, TX. 02/11.
                      <br />2.  Hutter Matthew, et al. First Report from the American College of Surgeons Bariatric Surgery Center Network: Laparoscopic Sleeve Gastrectomy has Morbidity and Effectiveness Positioned Between the Band and the Bypass. September 2001.
                      <br />3.  Directions For Use (DFU). LAP-BAND AP<sup>®</sup> Adjustable Gastric Banding System with OMNIFORM<sup>®</sup> Apollo Endosurgery, Inc, Austin, TX. 10/14. www.lapband.com/HCP/directions-for-use
                      </p>
                  </div>
               </div>
               
               <c:r_lapband_footer_nav />
               
            </div>
            
           <!-- <c:r_lapband_footer /> -->

            

            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#FAS-Results a').click(function(event) {
            event.preventDefault();
            var content = $(this).attr('class');
            
            $('div[info="'+content+'"]').slideToggle().siblings('.info-box').slideUp();
            //alert(content);
            if ($(this).attr('class') == "full-details" && $(this).text() == "Full Details") {
                $(this).text('See Less');
            } else {
                $('a.full-details').text('Full Details');
            }
        });
    });
</script>
<script>
$( document ).ready(function() {
    $('#infoToShow').hide();
    $('#imageInfoWrapper img').click(function() {
        var infoToSee = $(this).attr('class');
        var content = $('#infoHidden > span[info="'+infoToSee+'"]').html();
        $(this).siblings('img').hide();
        $('#infoToShow a').removeClass('arrowDown').addClass('arrowUp');
        $('#infoToShow').animate({ height: '250px'},600, function() {
            $('#infoToShow a').removeClass('arrowUp').addClass('arrowDown');
            });
        $('#infoToShow').show();
        $('#shownInfo').html(content);
    });
    $('#imageInfoWrapper a').click(function() {
        $('#imageInfoWrapper img').show();
        $('#infoToShow').animate({ height: '0px'},600, function(){
            $(this).hide();
        });
    });
    
    
});

$('#resultsSwitcher li').click(function() {
        if ($(this).attr('id') == "resultsSwitcher-map") {
            $('#FAS-Results').show();
            $('#map-container').hide();
            $('#resultsSwitcher-map').removeClass('swap');
            $('#resultsSwitcher-list').removeClass('swap');
            alert('map view');
        }
        if ($(this).attr('id') == "resultsSwitcher-list") {
            $('#map-container').show();
            $('#FAS-Results').hide();
            $('#resultsSwitcher-map').addClass('swap');
            $('#resultsSwitcher-list').addClass('swap');
            alert('list view');
        }
                                    
        });
</script>

<c:r_lapband_footer_scripts />

</body>
</html>

</apex:page>