<apex:page standardController="Conversion_Funnel__c" extensions="ConversionFunnelPageExtension" docType="html-5.0" >
<apex:includeScript value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/js/bootstrap.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/css/bootstrap.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/css/bootstrap.min.css')}"/>
<style type="text/css">
.Tbox { width: 50%; }
body { 
font:14px "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
</style>
<script type="text/javascript">
function Backredir()
{
     var redir ='{!Conversion_Funnel__c.Practice_Name__c}';
     
      if( (typeof sforce != 'undefined') && (sforce != null) ) {
          sforce.one.navigateToSObject(redir);
         
      }
      else {
             window.location.href='{!URLFOR($Action.Account.View,Conversion_Funnel__c.Practice_Name__c)}';
        
      }
}

</script>
<apex:form >
<table class="table table-striped table-bordered table-condensed table-hover">
<tr >
<th colspan="5"> <apex:outputText value="{!AccName}" /></th>
</tr>
<tr>
<th colspan="5" >
<div  style="text-align:center" >
<apex:commandButton action="{!SaveCfun}" value="Save" id="theButton" />
<apex:commandButton value="Back" id="theBack" onclick="Backredir(); return false;" />
</div>
</th>
</tr>

<tr>
<th colspan="5">LAP-BAND® Conversion Tracker</th>
</tr>
<tr>
<th></th><th>Actual</th><th>Actual<br/>%Conversion</th><th>Forecast<br/>%Conversion</th><th>Forecast</th>
</tr>
<tr>
<th>I. Lead Conversion Metrics</th><td></td><td></td><td></td><td></td>
</tr>
<tr>
<td>Leads</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Leads__c}" styleClass="Tbox"/></td><td></td><td></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Leads__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<td>Seminar Registration</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Seminar_Registration__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Conversion_Seminar_Registration__c}" styleClass="Tbox"/></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Seminar_Registration__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_Num_Seminar_Registration__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<td>Seminar Attendance</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Seminar_Attendance__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Conversion_Seminar_Attendance__c}" styleClass="Tbox"/></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Seminar_Attendance__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_Num_Seminar_Attendance__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<td>Scheduled Consults</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Scheduled_Consults__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Conversion_Scheduled_Consults__c}" styleClass="Tbox"/></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Scheduled_Consults__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_Num_Scheduled_Consults__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<td>Completed Consults</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Completed_Consults__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Conversion_Completed_Consults__c}" styleClass="Tbox"/></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Completed_Consults__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_Num_Completed_Consults__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<td>Number LAP-BAND® Procedures</td>
<td><apex:inputField value="{!Conversion_Funnel__c.Actual_Number_LAP_BAND_Procedures__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Conversion_LAP_BAND_Procedures__c}" styleClass="Tbox"/></td>
<td><apex:inputField value="{!Conversion_Funnel__c.Forecast_Number_LAP_BAND_Procedures__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_Num_LAP_BAND_Procedures__c}" styleClass="Tbox"/></td>
</tr>
<tr>
<th>Total Pull-Through</th>
<td><apex:inputHidden value="{!Conversion_Funnel__c.Practice_Name__c}" id="theHiddenInput" /></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Actual_Total_Pull_Through__c}" styleClass="Tbox"/></td>
<td><apex:outputField value="{!Conversion_Funnel__c.Forecast_NUMF_Total_Pull_Through__c}" styleClass="Tbox"/></td>
<td></td>
</tr>
<tr style="height:50PX;">
<th colspan="5">
<div style="text-align:center">
<apex:outputText value="Actual Pull-through Rate   
         {0,date,MMM dd', 'yyyy}" rendered="{!Conversion_Funnel__c.SystemModstamp != null}">
       <apex:param value="{!Conversion_Funnel__c.SystemModstamp}" />
   </apex:outputText>
</div>
</th>
</tr>
</table>

</apex:form>
</apex:page>