<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>As Seen on Dr. Oz | LAP-BAND® System</title>
<meta name="viewport" content="width=900,initial-scale=1,maximum-scale=1"/>
<meta name="keywords" content="Dr. Oz.,Dr Oz,oz,lapband on dr oz,gastric bypass"/>
<meta name="description" content="As Seen On Dr. Oz. One of America’s most trusted doctors weighs in on the LAP-BAND System"/>

<apex:stylesheet value="{!URLFOR($Resource.LVMDrOzLanding, 'css/style.css')}"/>
<!--- <link href="css/style.css" rel="stylesheet" type="text/css"/> --->
</head>

<body class="inner">
<!-- Header -->
<div class="header">
    <div class="containor">
        <div class="logo"><a href="http://www.lapband.com">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/Logo.png')}" width="192" height="29" alt="LAPBAND System"/ >
        <!--- <img src="images/Logo.png" width="192" height="29" alt=" "/> ---></a></div>
        <div class="banner"><a href="http://www.callmebacklapband.com" target="newwin" onClick="window.open('','newwin','toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=700, height=700')" >
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/innerBanner.png')}" width="826" height="432" alt=" "/ >
        <!--- <img src="images/innerBanner.png" width="826" height="432" alt=" "/> ---></a></div>
    </div>
</div>

<!-- Header End-->

<!-- Watch video -->
<div class="blue">
    <div class="containor">
        <div class="left">
            <h4>As Seen On Dr. Oz. </h4>
            <p>One of America’s most trusted doctors weighs in on the LAP-BAND System.</p>
            <a href="inner2.html#video" class="more">Watch Video</a>
        </div>
        <div class="img"> <a href="#">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/drvideo.png')}" width="354" height="199" alt=" "/ >
        <!--- <img src="images/drvideo.png" width="354" height="199" alt=" "/> ---></a> </div>
      <i class="clear_0"></i>
    </div>
</div>

<!--  Watch video End-->


<!-- links -->
<div class="links">
    <div class="containor">
        <div class="box">
            <div class="img"><a href="http://www.lapband.com/May22_2014TwitterEvent">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/twtchat.png')}" width="107" height="106" alt="LAPBAND Chat on Twitter"/ >
            <!--- <img src="images/twtchat.png" width="107" height="106" alt=" "/> ---></a></div>
            <h5>Twitter Chat 5/22/14 <br />4PM PST / 7PM EST</h5>
            <p>Ask our expert panel <br />about #LAPBANDchat </p>
            <a href="http://www.lapband.com/May22_2014TwitterEvent" class="more">Read more</a>
        </div>
        
        <div class="box box2">
            <div class="img"><a href="http://www.callmebacklapband.com" target="newwin" onClick="window.open('','newwin','toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=700, height=700')" >
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/dial.png')}" width="107" height="106" alt="Call us Now!"/ >
            <!--- <img src="images/dial.png" width="107" height="106" alt=" "/> --->
            </a></div>
            <h5>Dial 1-800-LAP-BAND</h5>
            <p>Have a question or need more information? We're here to help 7 days a week.</p>
            <a href="http://www.callmebacklapband.com" target="newwin" onClick="window.open('','newwin','toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=700, height=700')" class="more">Call Now</a>
        </div>
        
        
      <div class="box last">
            <div class="img"><a href="http://www.lapband.com/find-a-specialist">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/find.png')}" width="107" height="106" alt="Use ZipCode Search"/ >
            <!--- <img src="images/find.png" width="107" height="106" alt=" "/> ---></a></div>
            <h5>Find A Local Specialist</h5>
            <p>Type in your zip code to find <br />a specialist in your area and <br />set up a consultation. </p>
            <form action="#">
                <span class="textBox"><input type="text" value="Enter Zip Code" onblur="if (this.value=='') this.value='Enter Zip Code';" onfocus="if (this.value=='Enter Zip Code') this.value='';" /></span> <input type="submit" value="" />
            </form>
        </div>
      <i class="clear_0"></i>
    </div>
</div>

<!-- links End-->

<!-- chat -->
<div class="chat">
    <div class="chatTop">
        <div class="containor">
            <h3>1-800-LAP-BAND </h3>
            <span>What do you have to lose?</span>
            <a href="https://twitter.com/intent/follow?screen_name=LAPBAND" class="twt" >Follow us <span></span></a>
        </div>
    </div>
    
    <div class="chatContent">
        <div class="containor">
            <h4>Important LAP-BAND<sup>&reg;</sup> System Safety Information</h4>
            <p><strong>Indications:</strong> The LAP-BAND<sup>&reg;</sup> System is indicated for weight reduction for patients with obesity, with a Body Mass Index (BMI) of at least 40 kg/m2 or a BMI of at least 30 kg/m2 with one or more obesity-related comorbid conditions.</p>
            <p>It is indicated for use only in adult patients who have failed more conservative weight reduction alternatives, such as supervised diet, exercise and behavior modification programs. Patients who elect to have this surgery must make the commitment to accept significant changes in their eating habits for the rest of their lives.</p>
            <p><strong>Contraindications:</strong> The LAP-BAND<sup>&reg;</sup> System is not recommended for non-adult patients, patients with conditions that may make them poor surgical candidates or increase the risk of poor results (e.g., inflammatory or cardiopulmonary diseases, GI conditions, symptoms or family history of autoimmune disease, cirrhosis), who are unwilling or unable to comply with the required dietary restrictions, who have alcohol or drug addictions, or who currently are or may be pregnant.</p>
            <p><strong>Warnings:</strong> The LAP-BAND<sup>&reg;</sup> System is a long-term implant. Explant and replacement surgery may be required. Patients who become pregnant or severely ill, or who require more extensive nutrition may require deflation of their bands. Anti-inflammatory agents, such as aspirin, should be used with caution and may contribute to an increased risk of band erosion.</p>
            <p><strong>Adverse Events:</strong> Placement of the LAP-BAND<sup>&reg;</sup> System is major surgery and, as with any surgery, death can occur. Possible complications include the risks associated with the medications and methods used during surgery, the risks associated with any surgical procedure, and the patient's ability to tolerate a foreign object implanted in the body.</p>
            <p>Band slippage, erosion and deflation, reflux, obstruction of the stomach, dilation of the esophagus, infection, or nausea and vomiting may occur. Reoperation may be required.</p>
            <p>Rapid weight loss may result in complications that may require additional surgery. Deflation of the band may alleviate excessively rapid weight loss or esophageal dilation.</p>
            <p><strong>Important:</strong> For full safety information please click here, talk with your doctor, or call Allergan Product Support at <a href="#" class="tel">1-800-624-4261</a>.</p>
            <p><strong>CAUTION:</strong> Rx only.</p>
        </div>
    </div>
    
</div>
<!-- chat End -->
<!-- footer -->
<div class="footer">
    <div class="containor">
        <div class="logo"><a href="http://www.lapband.com">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/Logo.png')}" width="192" height="29" alt="LAPBAND System"/ >
        <!--- <img src="images/Logo.png" width="192" height="29" alt=" " /> ---></a></div>
        <div class="copy">
            <p>&copy; 2014 Apollo Endosurgery, Inc. All rights reserved. Any third-party trademarks used herein are the property of their respective owners. This site is intended for U.S. residents only.</p>
            <span>MKT-00184-00R01</span>
        </div>
        <i class="clear_0"></i>
    </div>
</div>

<!-- footer End-->


<!--- Google Tracking --->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         
          ga('create', 'UA-44927259-2', 'lapband.com');
          ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-44927259-3']);
      _gaq.push(['_setDomainName', 'lapband.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

<!--- Pardot Tracking --->    
    <script type="text/javascript">
        piAId = '37432';
        piCId = '1494';
        (function() {
        function async_load(){
        var s = document.createElement('script'); s.type = 'text/javascript';
        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
        var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
        }
        if(window.attachEvent) { window.attachEvent('onload', async_load); }
        else { window.addEventListener('load', async_load, false); }
        })();
    </script>
<!--- End Pardot Tracking --->   

<!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-uyG0Q2MFVCysk"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-uyG0Q2MFVCysk.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->

</body>
</html>

</apex:page>