<apex:page standardController="Lead" applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >

    <script type="text/javascript">
       $(document).ready(function () {         
           $("#find-a-surgeon-search-form-zip").validate({
               messages: {
                   searchZip: {
                       required: 'Please enter a ZIP code',
                       number: 'Please enter a valid ZIP code',
                       minlength: 'Please enter a valid ZIP code'
                   }
               },
               rules: {
                   searchZip: {
                       required: true,
                       number: true,
                       minlength: 5
                   }
               },
               submitHandler: function (form) {
                   var tv1 = 'Any',
                       tv2 = $('#searchZip').val(),
                       tv3 = '10 miles',
                       tv4 = false;
                       siteCatalystSearch('FAS dropdown search', 'Zip Search', tv1, tv2, tv3, tv4, function () {
                           form.submit()
                       });
                   //form.submit();
               }
           });
        });
     </script>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>#itfits | LAP-BAND® System</title>
<meta name="viewport" content="width=900,initial-scale=1,maximum-scale=1"/>
<meta name="keywords" content="Dr. Oz.,Dr Oz,oz,lapband on dr oz,gastric bypass"/>
<meta name="description" content="As Seen On Dr. Oz. One of America’s most trusted doctors weighs in on the LAP-BAND System"/>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<apex:stylesheet value="{!URLFOR($Resource.LWitfits, 'css/style.css')}"/>
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"/> -->
<script>
  $(function() {
    $( "#00NR0000001Gk7s" ).datepicker();
  });
  </script>
</head>

<body class="inner">
<!-- Header -->
<div class="pre-header"><p><a href="#">Important LAP-BAND® System Safety Information <span class="arrow"></span></a></p></div>
<div class="header">
    <div class="containor">
    <p style="position:absolute; margin-top:-15px; line-height:22px;"><span>Contact Us</span><br /><span style="font-size:26px;">1-800-LAPBAND</span></p>
        <div style="left:230px;" class="logo">
            <a href="http://www.lapband.com">
        <!-- <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/Logo.png')}" width="192" height="29" alt="LAPBAND System"/ >-->
        Lapband system</a>
        </div>
       <!-- <div class="twitter"><a href="https://twitter.com/lapband">Follow us<span class="bird">bird</span></a></div> -->
        <div class="banner">
            <h1>it fits</h1>
            <h2>Thousands of<br />
            people are fitting<br />
            into new things.</h2>
            <p>Find your moment that fits.</p>
           <!-- <a href="http://www.callmebacklapband.com" target="newwin" onClick="window.open('','newwin','toolbar=no, scrollbars=yes, resizable=yes, top=500, left=500, width=700, height=700')" >Start Consultation</a> -->
           <a href="#consultation">Start Consultation</a>
        </div>
    </div>
</div>

<!-- Header End-->


<!-- links -->
<div class="links">
    <div class="containor">
        <div class="box">
            <div class="img"><!-- <a href="http://www.lapband.com/May22_2014TwitterEvent">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/twtchat.png')}" width="107" height="106" alt="LAPBAND Chat on Twitter"/ > -->
            <!--- <img src="images/twtchat.png" width="107" height="106" alt=" "/> </a>---></div>
            <h5>Is It For Me?</h5>
            <p>Learn how the LAP-BAND<sup>&reg;</sup> System<br />works so you can focus on life,<br />not dieting.</p>
            <a href="http://www.lapband.com/learn-about-lapband/lapband-is-for-you" class="more">Read more</a>
        </div>
        
      <div class="box last">
            <div class="img"><!-- <a href="http://www.lapband.com/find-a-specialist">
        <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/find.png')}" width="107" height="106" alt="Use ZipCode Search"/ > -->
            <!--- <img src="images/find.png" width="107" height="106" alt=" "/> </a> ---></div>
            <h5>Find A Local Specialist</h5>
            <p>Type in your zip code to find <br />a specialist in your area and <br />set up a consultation. </p>
            <form name="find-a-surgeon-search-form-zip" id="find-a-surgeon-search-form-zip" method="Post" action="{!URLFOR($Page.LWFindASpecialist,null,null)}">
                <span class="textBox"><input type="text" name="searchZip" value="Enter Zip Code" onblur="if (this.value=='') this.value='Enter Zip Code';" onfocus="if (this.value=='Enter Zip Code') this.value='';" /></span> <span class="submit-zip"><input type="submit" value=">" /></span>
            </form>
        </div>
      <i class="clear_0"></i>
    </div>
</div>

<!-- links End-->

<!-- chat -->

<div class="chat">
<a name="consultation"></a>


    <div class="chatTop">
        <div class="containor">
            <h3>Contact Us at 1-800-LAP-BAND or Have Us Contact You</h3>
            <span>Enter your number and click on your choice of the Call Me buttons. (You’ll need an open line.)<br />
            We’ll call you and connect you to a Lap-Band® Specialist.</span>
        </div>
        


<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: Please add the following <FORM> element to your page.             -->
<!--  ----------------------------------------------------------------------  -->

<form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">


<input type="hidden" name="oid" value="00D50000000JUZT" /> 
<input type="hidden" name="retURL" value="http://www.lapband.com" /> 
<input type="hidden" name="recordType" id="recordType" value="itfits"/>
<input type="hidden" name="Lead Source" id="LeadSource" value="Web"/>
<input type="hidden" name="Type__c" id="Type__c" value="Consumer"/>

<!--  ----------------------------------------------------------------------  -->
<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
<!--  these lines if you wish to test in debug mode.                          -->
<input type="hidden" name="debug" value="1" />                             
<!--  <input type="hidden" name="debugEmail"                                  -->
<!--  value="robertsultan=mac.com@example.com">                               -->
<!--  ----------------------------------------------------------------------  -->
<span class="phone-input-wrapper">
<label for="first_name">First Name<span class="red">*</span></label>
<span class="phone"><input  id="first_name" maxlength="40" name="first_name" size="20" type="text" required="required" /></span><br />

<label for="last_name">Last Name<span class="red">*</span></label>
<span class="phone"><input  id="last_name" maxlength="80" name="last_name" size="20" type="text" required="required" /></span><br />

<label for="phone">Phone<span class="red">*</span></label>
<span class="phone"><input  id="phone" maxlength="40" name="phone" size="20" type="text" required="required" /></span><br />

<label>Callback Time:<span class="red">*</span></label><span class="select-boxes"><select  id="00NR0000001Gk7n" name="00NR0000001Gk7n" title="Callback Time" required="required" ><option value="">--None--</option><option value="9:00am - 9:30am">9:00am - 9:30am</option>
<option value="9:30am - 10:00am">9:30am - 10:00am</option>
<option value="10:00am - 10:30am">10:00am - 10:30am</option>
<option value="10:30am - 11:00am">10:30am - 11:00am</option>
<option value="11:00am - 11:30am">11:00am - 11:30am</option>
<option value="11:30am - 12:00pm">11:30am - 12:00pm</option>
<option value="12:00pm - 12:30pm">12:00pm - 12:30pm</option>
<option value="12:30pm - 1:00pm">12:30pm - 1:00pm</option>
<option value="1:00pm - 1:30pm">1:00pm - 1:30pm</option>
<option value="1:30pm - 2:00pm">1:30pm - 2:00pm</option>
<option value="2:00pm - 2:30pm">2:00pm - 2:30pm</option>
<option value="2:30pm - 3:00pm">2:30pm - 3:00pm</option>
<option value="3:00pm - 3:30pm">3:00pm - 3:30pm</option>
<option value="3:30pm - 4:00pm">3:30pm - 4:00pm</option>
<option value="4:00pm - 4:30pm">4:00pm - 4:30pm</option>
<option value="4:30pm - 5:00pm">4:30pm - 5:00pm</option>
</select></span><br />

<!-- <label>Pick A Date:<span class="red">*</span></label><span class="phone"><span class="dateInput dateOnlyInput"><input  id="00NR0000001Gk7s" name="00NR0000001Gk7s" size="12" type="text" required="required" /></span></span><br /> -->
<label>Pick A Date:<span class="red">*</span></label><span class="phone"><input  id="00NR0000001Gk7s" name="00NR0000001Gk7s" size="12" type="text" required="required" /></span><br />

<label>Your Time Zone:<span class="red">*</span></label><span class="select-boxes"><select  id="00NR0000001Gk7x" name="00NR0000001Gk7x" title="Your Time Zone" required="required" ><option value="">--None--</option><option value="Atlantic Time Zone (UTC-04:00)">Atlantic Time Zone (UTC-04:00)</option>
<option value="Eastern Time Zone (UTC-05:00)">Eastern Time Zone (UTC-05:00)</option>
<option value="Central Time Zone (UTC-06:00)">Central Time Zone (UTC-06:00)</option>
<option value="Mountain Time Zone (UTC-07:00)">Mountain Time Zone (UTC-07:00)</option>
<option value="Pacific Time Zone (UTC-08:00)">Pacific Time Zone (UTC-08:00)</option>
<option value="Alaska Time Zone (UTC-09:00)">Alaska Time Zone (UTC-09:00)</option>
<option value="Hawaii Time Zone (UTC-10:00)">Hawaii Time Zone (UTC-10:00)</option>
</select></span><br />

<span class="submit-wrapper"><span class="call-now"><input value="Schedule My Call" type="submit" name="submit" /></span></span>
</span>
</form>
  
    </div>

    <div class="chatContent">
        <div class="containor">
            <h4><a id="safety">Important LAP-BAND<sup>&reg;</sup> System Safety Information</a></h4>
            <p><strong>Indications:</strong> The LAP-BAND<sup>&reg;</sup> System is indicated for weight reduction for patients with obesity, with a Body Mass Index (BMI) of at least 40 kg/m2 or a BMI of at least 30 kg/m2 with one or more obesity-related comorbid conditions.</p>
            <p>It is indicated for use only in adult patients who have failed more conservative weight reduction alternatives, such as supervised diet, exercise and behavior modification programs. Patients who elect to have this surgery must make the commitment to accept significant changes in their eating habits for the rest of their lives.</p>
            <p><strong>Contraindications:</strong> The LAP-BAND<sup>&reg;</sup> System is not recommended for non-adult patients, patients with conditions that may make them poor surgical candidates or increase the risk of poor results (e.g., inflammatory or cardiopulmonary diseases, GI conditions, symptoms or family history of autoimmune disease, cirrhosis), who are unwilling or unable to comply with the required dietary restrictions, who have alcohol or drug addictions, or who currently are or may be pregnant.</p>
            <p><strong>Warnings:</strong> The LAP-BAND<sup>&reg;</sup> System is a long-term implant. Explant and replacement surgery may be required. Patients who become pregnant or severely ill, or who require more extensive nutrition may require deflation of their bands. Anti-inflammatory agents, such as aspirin, should be used with caution and may contribute to an increased risk of band erosion.</p>
            <p><strong>Adverse Events:</strong> Placement of the LAP-BAND<sup>&reg;</sup> System is major surgery and, as with any surgery, death can occur. Possible complications include the risks associated with the medications and methods used during surgery, the risks associated with any surgical procedure, and the patient&rsquo;s ability to tolerate a foreign object implanted in the body.</p>
            <p>Band slippage, erosion and deflation, reflux, obstruction of the stomach, dilation of the esophagus, infection, or nausea and vomiting may occur. Reoperation may be required.</p>
            <p>Rapid weight loss may result in complications that may require additional surgery. Deflation of the band may alleviate excessively rapid weight loss or esophageal dilation.</p>
            <p><strong>Important:</strong> For full safety information please click here, talk with your doctor, or call Allergan Product Support at <a href="#" class="tel">1-800-624-4261</a>.</p>
            <p><strong>CAUTION:</strong> Rx only.</p>
        </div>
    </div>
    
</div>
<!-- chat End -->
<!-- footer -->
<div class="footer">
    <div class="containor">
        <div class="logo"><a href="http://www.lapband.com">
        <!-- <apex:image url="{!URLFOR($Resource.LVMDrOzLanding, 'images/Logo.png')}" width="192" height="29" alt="LAPBAND System"/ > -->
        <!--- <img src="images/Logo.png" width="192" height="29" alt=" " /> ---></a></div>
        <div class="copy">
            <p>&copy; 2014 Apollo Endosurgery, Inc. All rights reserved. Any third-party trademarks used herein are the property of their respective owners. This site is intended for U.S. residents only.</p>
            <span>MKT-00222-00</span>
        </div>
        <i class="clear_0"></i>
    </div>
</div>

<!-- footer End-->


<!--- Google Tracking --->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
         
          ga('create', 'UA-44927259-2', 'lapband.com');
          ga('send', 'pageview');
    </script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-44927259-3']);
      _gaq.push(['_setDomainName', 'lapband.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);
      _trackEvent(category, action, opt_label, opt_value, opt_noninteraction)
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

<!--- Pardot Tracking --->    
    <script type="text/javascript">
        piAId = '37432';
        piCId = '1494';
        (function() {
        function async_load(){
        var s = document.createElement('script'); s.type = 'text/javascript';
        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
        var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
        }
        if(window.attachEvent) { window.attachEvent('onload', async_load); }
        else { window.addEventListener('load', async_load, false); }
        })();
    </script>
<!--- End Pardot Tracking --->   

<!-- Quantcast Tag -->
    <script type="text/javascript">
    var _qevents = _qevents || [];

    (function() {
    var elem = document.createElement('script');
    elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
    elem.async = true;
    elem.type = "text/javascript";
    var scpt = document.getElementsByTagName('script')[0];
    scpt.parentNode.insertBefore(elem, scpt);
    })();

    _qevents.push({
    qacct:"p-uyG0Q2MFVCysk"
    });
    </script>

    <noscript>
    <div style="display:none;">
    <img src="//pixel.quantserve.com/pixel/p-uyG0Q2MFVCysk.gif" border="0" height="1" width="1" alt="Quantcast"/>
    </div>
    </noscript>
    <!-- End Quantcast tag -->

</body>
</html>

</apex:page>