<apex:page controller="LapBandDocController" tabStyle="AWS_S3_Object__c">
  <apex:form id="docForm">
    <apex:messages />
    <apex:pageBlock title="LAP-BAND® Documents">

        <div id="newBtn" rendered="{!isAdmin}" align="center">
            <apex:variable var="newUrl" value="{!URLFOR($Action.AWS_S3_Object__c.New, null, [retURL='/apex/LapBandDocVF?sfdc.tabName=01r500000006LIk'])}"/>
            <apex:commandButton value="New LapBand.com Document" rendered="{!isAdmin}" onClick="window.open('{!newUrl}', '_self'); return false;"></apex:commandButton>
            <p/>
        </div>
        <apex:outputpanel style="overflow:auto;height:750px" layout="block">
        <apex:pageBlockTable id="docsTable" value="{!Paging.lbDocs}" var="rec" first="{!Paging.offset}" rows="{!Paging.PageSize}">
             
            <apex:column id="pageLinks" headerValue="Action" width="120">
                <apex:variable rendered="{!isAdmin}" var="editUrl" value="{!URLFOR($Action.AWS_S3_Object__c.Edit,rec.Id,[retURL='/apex/LapBandDocVF?sfdc.tabName=01r500000006LIk'])}" />
                <apex:outputLink rendered="{!isAdmin}" style="color:#015ba7" onClick="window.open('{!editUrl}', '_self');return false;" id="editLink">Edit</apex:outputLink>
                <apex:outputText rendered="{!isAdmin}" value=" | "/>

                <apex:variable rendered="{!isAdmin}" var="deleteUrl" value="{!URLFOR($Action.AWS_S3_Object__c.Delete,rec.Id,[retURL='/apex/LapBandDocVF?sfdc.tabName=01r500000006LIk'])}"/>
                <apex:outputLink rendered="{!isAdmin}" style="color:#015ba7" onClick="if(window.confirm('Are you sure?', 'Delete Document')) {window.open('{!deleteUrl}', '_self')};return false;" id="delLink">Del</apex:outputLink>
                <apex:outputText rendered="{!isAdmin}" value=" | "/>

                <apex:commandLink action="{!createsDownloadLink}" style="color:#015ba7" value="Download" id="dloadLink" target="_self" reRender="docsTable">
                    <apex:param name="s3Object" value="{!rec.Id}" assignTo="{!s3ObjId}"/>
                </apex:commandLink>
            </apex:column>
        
            <apex:column value="{!rec.Library__c}" />
            <apex:column value="{!rec.Description__c}" />
            <apex:column value="{!rec.File_Name__c}" />
            <apex:column value="{!rec.Content_Type__c}" />
            <apex:column value="{!rec.Access__c}" />
            <apex:column value="{!rec.Preview_Link__c}" />
        </apex:pageBlockTable>
        <c:PagingToolbar paging="{!Paging}" rerender="docsTable"/>
        </apex:outputpanel>
    </apex:pageBlock>
  </apex:form>
</apex:page>