<apex:page sidebar="false" title="Clinical News">

  <div style="margin-left:25px; margin-top:10px;  min-height:493px !important;">
      <p style=" margin-top:20px !important;  width:220px; text-indent:-99999px; background-image: url(/LapBandCentral/resource/LWBassets/Headers_24.gif);
background-repeat: no-repeat; float:left; letter-spacing:0.5px; font-family: 'Alleyn-Book'; color:#666; font-size:22px; margin-top:10px; margin-right:0px; margin-left:15px;">
      CLINICAL NEWS</p>
              
              <br /><br /><br />&nbsp;<br />&nbsp;<br />&nbsp;
              <span style="display:block; padding-left:15px; clear:left; float:left; color:#666; line-height:18px; display:block; margin-top:10px;">Check back soon for clinical news updates.</span>
  </div>
</apex:page>