<apex:page showHeader="true" sidebar="false">
<style>

.headers30 {
background-image: url(/LapBandCentral/resource/LWBassets/Headers_30.gif);
background-repeat: no-repeat;
text-indent: -2000px;
height: 30px;
width:600px;
display:block;
}
div#section_wrapper div.wide_body {
background-image: none;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=0);
background: -webkit-gradient(linear,left top,left bottom,color-stop(.1,#FFF),color-stop(.9,#EAEAEA));
background: -moz-linear-gradient(center top,#fff 10%,#eaeaea 90%);
background: linear-gradient(to bottom,#FFF,#EAEAEA);
padding: 11px;
width: 1003px;
height: auto;
height:493px; 
}
a {
color: #38939B;
text-decoration: none;
}
a.heavy_link {
font-weight: bold;
font-size: 14px;
margin-top: 23px;
line-height:20px;
}
a.pdf {
padding: 5px 35px 5px 0;
background: rgba(0, 0, 0, 0) url(/LapBandCentral/resource/LWBassets/icons_sprite.gif) no-repeat right -200px;
}
.bodyDiv, table.outerNoSidebar   { min-height:50px; }
div#section_wrapper div.wide_body { height:auto; }

</style>
<div id="section_wrapper">
<div id="section" class="wide_body">
<h1 id="risk_info" class="headers30">Risk Information</h1>
<p>
<a class="heavy_link" href="{!URLFOR($Resource.Lapbandpdf,'lapband_Surgical_Guide_PSI.pdf')}">
Download the LAP-BAND
<sup>®</sup>
System Surgical Guide
</a>
</p>
<p>
<a class="heavy_link pdf" href="{!URLFOR($Resource.Lapband,'Lapband/pdf/lapband_AP_dfu.pdf')}">
Download LAP-BAND
<sup>®</sup>
Labeling and Safety Information (PDF)
</a>
</p>
</div>
</div>
</apex:page>