<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >
  <!-- <apex:composition template="LWTemplate"/>  -->
    <head>
        <title>Directions-For-Use The Original Gastric Banding System | LAP-BAND&#174;</title>
    </head>
    
    <c:LWHCPTemplate />
    <body>
        <div id="container">
            <c:LWHCPHeader />
            <div id="content" class="inner-page directions">
                <div id="inner-page-content" class="directions">
                    <h1 class="h1_directions long">LAP-BAND<sup>&#174;</sup> SYSTEM Directions for Use</h1>
                    <div id="content-full">
            
                        <h3>View or download a PDF of the LAP-BAND AP<sup>&#174;</sup> Adjustable Gastric Banding System Directions For Use (DFU) below.</h3>
            
                        <p class="last"><a href="{!URLFOR($Resource.Lapband,'Lapband/pdf/lapband_AP_dfu.pdf')}" target="_blank" class="localhreflink">LAP-BAND<sup>&#174;</sup> Directions For Use <span class="pdf-icon"></span></a></p>
                    </div>
                 </div>
            </div>
            <c:LWHCPMapOnFoot />
            <c:LWHCPFooter />
            
        
        <c:LWHCPFooter2 />
        </div> <!-- container -->
    </body>
</apex:page>