<apex:page controller="LWFindSpecialistController" applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" action="{!createSiteEventDoctor}">
    <!-- <apex:composition template="LWTemplate"/>  -->
    <head>
        <title>Lap-Band&#174; Specialist Details The Original Gastric Banding System | LAP-BAND&#174;</title>
    </head>
    <apex:form >
        <apex:actionFunction action="{!createSiteEventWebsite}" name="createSiteEventWebsite" id="createSiteEventWebsite"></apex:actionFunction>
    </apex:form>

    <c:LWHCPTemplate /> 
    <body>
        <div id="container">
            <c:LWHCPHeader />
            <div id="content" class="inner-page">
                <div id="inner-page-content">
                    <h1 id="specialist-details">Specialist Details</h1>
                    <div id="content-full">
                        <!-- show only if posted from search page - if direct access (no post), do not show back link -->
                        <!-- disabled for persistence post to search result -->
                        <!-- <p><a href="#">&lt; Back to search results</a></p> -->
                        <!-- detail page directed from home: (searchType:global return to global location) does not have any persistence: just show back link to home page -->
                        <!-- enaled persistence post to search result -->
                        <!--  <form  method="post" action="">
                            <input type="hidden" name="page"              value="{!page}" />
                            <input type="hidden" name="searchType"        value="zip" />
                            <input type="hidden" name="searchZip"         value="{!zipCode}" />
                            <input type="hidden" name="search-radius"     value="{!searchRadius}" />
                            <input type="hidden" name="search-wheelchair" value="{!searchLanguage}" />
                            <input type="hidden" name="search-language"   value="{!searchWheel}" />
                            <input type="hidden" name="specialistName"    value="{!specialistName}" />
                            <input type="hidden" name="practiceName"      value="{!practiceName}" />
                            <p><a class="detail_link back" onclick="function(event){event.preventDefault();}">Back to search results</a></p>
                        </form>        -->             
            
                        <ul id="specialist-details-tabs">
                            <li id="specialist-details-container-tab" class="active">
                                <span>GENERAL</span>
                            </li>
                            <li id="offices-details-container-tab">
                                <span>OFFICES</span>
                            </li>
                        </ul>                                 
                        <c:LWHCPSpecialist />
                        <c:LWHCPOfficeDetails />      
                    </div>                                                 
                </div>
            </div>
        <!-- <c:LWHCPMapOnFoot />  -->
        <c:LWHCPFooter />
            
        
        <c:LWHCPFooter2 />
        <c:LWCommonFooter />
        <script type="text/javascript">
            var template = $('#backlink').html();
            $('#specialist-details-tabs').before(_.template(template,{
                                                page:'{!page}',
                                                zip: '{!zipCode}',
                                                radius:'{!searchRadius}',
                                                wheelchair: '{!searchWheel}',
                                                language: '{!searchLanguage}',
                                                specialistName: '{!specialistName}',
                                                practiceName: '{!practiceName}'
                                                }));
        </script>
    </div> <!-- id="container" -->
    
<!--- Bing Conversion Tag Find Specialist --->    
 <script type="text/javascript"> if (!window.mstag) mstag = {loadTag : function(){},time : (new Date()).getTime()};</script> 
 <script id="mstag_tops" type="text/javascript" src="//flex.msn.com/mstag/site/65da070c-170c-4744-9381-a51df67e4ed9/mstag.js"></script> 
 <script type="text/javascript"> mstag.loadTag("analytics", {dedup:"1",domainId:"3038823",type:"1",actionid:"255366"})</script> 
 <noscript> <iframe src="//flex.msn.com/mstag/tag/65da070c-170c-4744-9381-a51df67e4ed9/analytics.html?dedup=1&domainId=3038823&type=1&actionid=255366" frameborder="0" scrolling="no" width="1" height="1" style="visibility:hidden;display:none"> </iframe> 
 </noscript>   
<!--- End Bing Conversion Tag Find Specialist --->    
 
 </body>

</apex:page>