<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >
<!-- <apex:composition template="LWTemplate"/>  -->
    <c:LWTemplate /> 
    <apex:stylesheet value="{!URLFOR($Resource.lapband_searchbox_css,'searchbox/css/searchbox.css')}"/> 

<!--- Script to track Outbrain media buy W2) --->
<script language='JavaScript'>
    var OB_ADV_ID=13356;
    var scheme = (("https:" == document.location.protocol) ? "https://" : "http://");
    var str = '<script src="'+scheme+'widgets.outbrain.com/obtp.js" type="text/javascript"><\/script>';
        document.write(str);
    </script>

    <body>
    <div id="container">
        <c:LWHeader />
        <div class="home-content" id="content">
            <div id="hero">
                <h2 id="hero-header">Why choose the LAP-BAND&reg; Adjustable Gastric Banding System</h2>
                <div class="slide2" id="visibleSlideArea">
                    <div id="slideJumpButtons">
                        <a class="jump0 sliderJumpButton" id="sliderJumpBtn0" href="index.html#">1</a>
                        <a class="jump1 sliderJumpButton" id="sliderJumpBtn1" href="index.html#">2</a>
                        <a class="jump2 sliderJumpButton" id="sliderJumpBtn2" href="index.html#">3</a>
                        <a class="jump3 sliderJumpButton" id="sliderJumpBtn3" href="index.html#">4</a>
                    </div>
                    <div id="slideHolder" >
                        <div class="slider">
                            <div class="slide" id="slide0" style="display: block;">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1>LAP-BAND&reg; SYSTEM</h1>
                                        <h2>is an effective tool to help you achieve long-term weight loss.<sup>1</sup></h2>
                                        <h3>And that's what really matters.</h3>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWLosingWeight,null,null)}">learn about losing weight with LAP-BAND&reg;</apex:outputLink>
                                    <!--<a class="slide-button" href="learn-about-lapband/losing-weight.html">learn about losing weight with LAP-BAND&reg;</a>-->
                                </div>
                            </div>
                            <div class="slide" id="slide1">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1>LAP-BAND&reg; SYSTEM</h1>
                                        <h2>has been shown to take inches off the waist and hips.</h2>
                                        <h3>Obese patients lost, on average 6, inches in waist and 6 inches in hip circumference in 1 year.<sup>1</sup></h3>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWLosingWeight,null,null)}">learn about losing weight with LAP-BAND&reg;</apex:outputLink>
                                    <!--<a class="slide-button" href="learn-about-lapband/losing-weight.html">learn about losing weight with LAP-BAND&reg;</a>-->
                                </div>
                            </div>
                            <div class="slide" id="slide2">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h2>Gastric banding was shown to be safer than sleeve.</h2>
                                        <h3>Data from the Bariatric Outcomes Longitudinal Database<sup>SM</sup> showed that <strong>sleeve gastrectomy had a 3x greater rate of total complications</strong> in the first year when compared to gastric banding<sup>2*</sup>, including:</h3>
                                        <ul>
                                            <h4>3X</h4>
                                            <li id="hero_home_ul_li_01">greater chance of readmission to the hospital</li>
                                            <li id="hero_home_ul_li_02">greater chance of reoperation</li>
                                            <li id="hero_home_ul_li_03">the hospital stay length following a procedure</li>
                                        </ul>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWCompareLapband,null,null)}">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</apex:outputLink>
                                    <!--<a class="slide-button" href="compare-lapband/index.html">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</a>-->
                                </div>
                            </div>
                            <div class="slide" id="slide3">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1>LAP-BAND&reg; SYSTEM</h1>
                                        <h2>involves no use of metal surgical staples, no amputation of any part of the stomach, nor any cutting of the intestines.</h2>
                                        <h3>Staples are not used in the LAP-BAND&reg; procedure.<sup>3</sup></h3>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWCompareLapband,null,null)}">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</apex:outputLink>
                                    <!--<a class="slide-button" href="compare-lapband/index.html">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</a>-->
                                </div>
                            </div>
                        </div>
                    </div> <!-- slideHolder -->
                </div> <!-- visibleSlideArea -->
                <script type="text/javascript">
                    var sHCP='';
                </script>
                <c:LWHCPMapOnHome />
             </div> <!-- hero -->
            <div id="callouts">
                <div id="callout-how">
                    <h5><apex:outputLink value="{!URLFOR($Page.LWLearnAboutLapband,null,null)}">HOW LAP-BAND&reg; WORKS</apex:outputLink></h5>
                    <!--<h5><a href="learn-about-lapband/index.html">HOW LAP-BAND&reg; WORKS</a></h5>-->
                    <p>Learn how the LAP-BAND&reg; System can provide significant weight loss with no amputation, stapling of the stomach, or cutting of the intestines.<sup>1,3</sup></p>
                </div>
                <div id="callout-considering">
                    <h5><apex:outputLink value="{!URLFOR($Page.LWCompareLapband,null,null)}">considering sleeve gastrectomy?</apex:outputLink></h5>
                    <!--<h5><a href="compare-lapband/index.html">considering sleeve gastrectomy?</a></h5>-->
                    <p>Take a closer look at the differences and similarities between sleeve gastrectomy and the LAP-BAND&reg; System.</p>
                </div>
            </div>  
        </div> 
        <c:LWFooter />
         <div id="footer" style="background:none !important;">
        <div class="footer-references">
                <h5>References:</h5>
                <ol>
                    <li>Directions For Use (DFU). LAP-BAND AP<sup>&#174;</sup> Adjustable Gastric Banding System with OMNIFORM<sup>&#174;</sup> Design. Allergan, Inc. Irvine, CA. 11/12.</li>
                    <li>DeMaria EJ, Pate V, Warthen M, Winegar DA. Baseline data from American Society for Metabolic and Bariatric Surgery-designated Bariatric Surgery Centers of Excellence using the Bariatric Outcomes Longitudinal Database. <em>Surg Obes Relat Dis.</em> 2010;6:347-355.</li>
                    <li>Hutter Matthew, et al. First Report from the American College of Surgeons Bariatric Surgery Center Network: <em>Laparoscopic Sleeve Gastrectomy has Morbidity and Effectiveness Positioned Between the Band and the Bypass</em>. September 2001.</li>
                    <li>The LAP-BAND<sup>&#174;</sup> System Surgical Aid in the Treatment of Obesity (PSI). Allergan, Inc. Irvine, CA. 02/11.</li>
                </ol>
            </div>
        </div>
         <c:LWFooter2 />
    </div> <!-- container -->
</body>

</apex:page>