<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >
<!-- <apex:composition template="LWTemplate"/>  -->
    <c:LWTemplate /> 
    <apex:stylesheet value="{!URLFOR($Resource.lapband_searchbox_css,'searchbox/css/searchbox.css')}"/> 

    <body>
    <div id="container">
        <c:LWHeader />
        <div class="home-content" id="content">
            <div id="hero">
                <h2 id="hero-header">Why choose the LAP-BAND&reg; Adjustable Gastric Banding System</h2>
                <div class="slide2" id="visibleSlideArea">
                    <div id="slideJumpButtons">
                        <a class="jump0 sliderJumpButton" id="sliderJumpBtn0" href="index.html#">1</a>
                        <a class="jump1 sliderJumpButton" id="sliderJumpBtn1" href="index.html#">2</a>
                        <a class="jump2 sliderJumpButton" id="sliderJumpBtn2" href="index.html#">3</a>
                        <a class="jump3 sliderJumpButton" id="sliderJumpBtn3" href="index.html#">4</a>
                    </div>
                    <div id="slideHolder" >
                        <div class="slider">
                            <div class="slide" id="slide0" style="display: block;">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1 class="lifefits">life fits</h1>
                                        <h2>The LAP-BAND<sup>&reg;</sup> System can help you achieve long-term weight loss<sup>1</sup>, so you can focus on life, not dieting.</h2>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWLosingWeight,null,null)}">Learn why it works</apex:outputLink>
                                    <!--<a class="slide-button" href="learn-about-lapband/losing-weight.html">learn about losing weight with LAP-BAND&reg;</a>-->
                                </div>
                            </div>
                            <div class="slide" id="slide1">
                                  <div class="slideContent">
                                    <div class="slideText">
                                      <h1>Lost the weight.<br />Gained so much more. </h1>
                                      <h2>Success with the LAP-BAND<sup>&reg;</sup> System has helped many people lose weight and gain more active, happier, and healthier lives.</h2>
                                    </div>
                                     <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWSuccessStories,null,null)}">Watch their stories</apex:outputLink>
                                    <a href="/success-stories" class="slide-button"></a> 
                                </div>
                            </div>
                            <div class="slide" id="slide2">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1>Does the LAP-BAND<sup>&reg;</sup> System fit you?</h1>
                                        <h2>Hundreds of thousands of people have had success with the LAP-BAND<sup>&reg;</sup> System. Could you be next?</h2>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWIsForYou,null,null)}">Learn if it’s right for you</apex:outputLink>
                                    <!--<a class="slide-button" href="/learn-about-lapband/lapband-is-for-you">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</a>-->
                                </div>
                            </div>
                            <div class="slide" id="slide3">
                                <div class="slideContent">
                                    <div class="slideText">
                                        <h1>Minimally invasive<br />to your life.</h1>
                                        <h2>The LAP-BAND<sup>&reg;</sup> System is frequently done on an outpatient basis and involves no permanent physical alteration.</h2>
                                    </div>
                                    <apex:outputLink styleClass="slide-button" value="{!URLFOR($Page.LWLearnAboutLapband,null,null)}">Learn how it works</apex:outputLink>
                                    <!--<a class="slide-button" href="/learn-about-lapband">COMPARE LAP-BAND&reg; TO OTHER OPTIONS</a>-->
                                </div>
                            </div>
                        </div>
                    </div> <!-- slideHolder -->
                </div> <!-- visibleSlideArea -->
             </div> <!-- hero -->
            <div id="callouts">
                <div id="callout-how">
                    <h5><apex:outputLink value="{!URLFOR($Page.LWLearnAboutLapband,null,null)}">HOW THE LAP-BAND&reg; SYSTEM WORKS</apex:outputLink></h5>
                    <!--<h5><a href="learn-about-lapband/index.html">HOW LAP-BAND&reg; WORKS</a></h5>-->
                    <p>Feel full faster and stay full longer. Learn how the breakthrough LAP-BAND<sup>&reg;</sup> procedure can help you gradually lose weight and keep it off.</p>
                </div>
                <div id="callout-considering">
                    <h5><a href="http://www.callmebacklapband.com" target="_blank">Want to talk? Call 1-800-LAP-BAND</a></h5>
                    <!--<h5><a href="http://www.callmebacklapband.com/" target"_blank">considering sleeve gastrectomy?</a></h5>-->
                    <p>Have a question? Need more information? We&rsquo;re here 7 days a week to talk you through your options</p>
                </div>
            </div>  
        </div> 
        <c:LWFooter />
         <div id="footer" style="background:none !important;">
        <div class="footer-references">
                <h5>Reference:</h5>
                <ol>
                    <li>Directions For Use (DFU). LAP-BAND AP<sup>&#174;</sup> Adjustable Gastric Banding System with OMNIFORM<sup>&#174;</sup> Design. Allergan, Inc. Irvine, CA. 11/12.</li>
                </ol>
            </div>
        </div>
         <c:LWFooter2 />
    </div> <!-- container -->
</body>

</apex:page>