<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" controller="LWFindSpecialistController">
 <head>
    <title>Find a LAP-BAND System Specialist</title>
 </head>
 
 <apex:composition template="LWMTemplate"/>
 
 <body>
 <div id="content" class="wrapper">
     <c:LWMobileHeader />
     
     
     <script type="text/javascript" src="https://maps.google.com/maps/api/js?key={!$label.Google_map_API}&sensor=false&libraries=geometry"></script> 
     
    <div id="findSpec" class="mainContent cf">
        <h1 class="title">Find a LAP-BAND System Specialist</h1>

        <div id="hdot1">
            <div id="tabs">
                <button id="byZip" class="selected">
                    <p>By Zip Code</p>
                </button>

                <button id="byName">
                    <p>By Specialist Name</p>
                </button>
            </div>
            <div id="searches">
                <div class="searchArea" id="zipSearch">
                    <div id="find-a-surgeon-search-form-zip">
                        <label for="mailes">WITHIN</label>
                        <select name="distance" id="distSelect">
                            <option value="10">10 Miles</option>
                            <option value="25">25 Miles</option>
                            <option value="50">50 Miles</option>
                            <option value="100">100 Miles</option>
                        </select>
                        <div>
                            <input id="zipField" name="zipcode" maxlength="5" placeholder="Zip Code"/>
                            <span class="close"></span>
                        </div>
                        <span id="error">
                        </span>
                        <button id="searchZip" type="submit" onclick="getOfficeByZip()">
                            <p class="title">Search</p>
                        </button>
                    </div>
                </div>
                <div class="searchArea" id="nameSearch">
                    <div id="find-a-surgeon-search-form-name">
                        <div>
                            <input id="nameField" name="office" value="" placeholder="Last Name of Surgeon"/>
                            <span class="close"></span>
                        </div>
                        <span id="nameError">
                        </span>
                        <div>
                            <input id="practiceField" name="practice" value="" placeholder="Name of Practice"/>
                            <span class="close"></span>
                        </div>
                        <span id="practiceError">
                        </span>
                        <button id="searchName" onclick="getOfficeByName()" >
                            <p class="title">Search</p>
                        </button>
                    </div>
                </div>
            </div>
            <div id="results">
            </div>
        </div>
        
        <div id="fullDetails">

            <button class="back"> </button>
            <div id="profile">
                
            </div>

            <div id="criteria">
                <span class="detailsOOT">
                    <p>Accepts out-of-town patients</p>
                    <span class="check"></span>
                </span>
                <span class="detailsOutpatient">
                    <p>Performs outpatient surgery</p>
                    <span class="check"></span>
                </span>
                <span class="detailsFinancing">
                    <p>Provides financing</p>
                    <span class="check"></span>
                </span>
                <p>% Bariatric surgeries of all surgical procedures performed<br /><span class="green"><strong><span class="detailPercent"></span>%</strong></span></p>
                <p>Years of experience performing LAP-BAND<sup><small>&reg;</small></sup> System procedures<br /><span class="green"><strong><span class="detailExp"></span></strong></span></p>
                <p>Frequency of LAP-BAND<sup><small>&reg;</small></sup> System procedures<br /><span class="green"><strong><span class="detailFrequency"></span></strong></span></p>
            </div>
                
            <div id="offices">
                <div class="dropdownButton">
                    <p class="title" id="officeButton">Offices</p>
                    <button class="minus"></button>
                </div>
                <div class="allOffices">
                <div class="office">
                    
                    <div id="detail-map-container">
                        <div class="detailmap"></div>
                    </div>
                    <p class="address"><strong>ABC Neighborhood [1]</strong><br />ABC Street, 1st Floor<br />New York, NY XXXXX</p>
                    <p class="lang">Languages: English, Spanish</p>
                    <button class="call">
                        <p><a href="tel:XXX-XXX-XXXX">Call XXX-XXX-XXXX</a></p>
                    </button>
                    <div class="officeLinks">
                        <a href="#">Link</a>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="office">
                    <img id="officeMap" src="/Content/images/map.jpg" alt="" />
                    <p class="address"><strong>ABC Neighborhood [1]</strong><br />ABC Street, 1st Floor<br />New York, NY XXXXX</p>
                    <p class="lang">Languages: English, Spanish</p>
                    <button class="call">
                        <p><a href="tel:XXX-XXX-XXXX">Call XXX-XXX-XXXX</a></p>
                    </button>
                    <div class="officeLinks">
                        <a href="#">Link</a>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="office">
                    <img id="officeMap" src="/Content/images/map.jpg" alt="" />
                    <p class="address"><strong>ABC Neighborhood [1]</strong><br />ABC Street, 1st Floor<br />New York, NY XXXXX</p>
                    <p class="lang">Languages: English, Spanish</p>
                    <button class="call">
                        <p><a href="tel:XXX-XXX-XXXX">Call XXX-XXX-XXXX</a></p>
                    </button>
                    <div class="officeLinks">
                        <a href="#">Link</a>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                        <div class="website">
                            <a href="#">Practice Website</a>
                            <span></span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <button class="back bottom"> </button>


        </div>
        <script id="resultsZipTemp" type="template/mustache">
            <div class="results">
                <h2>{{amount}} Specialists found within {{miles}} miles of {{zip}}</h2>
                <div id="map-container">
                    <div id="bigmap"></div>
                </div>
            </div>
        </script>
        <script id="resultsNameTemp" type="template/mustache">
            <div class="results">
                <h2>{{amount}} Specialists found with last name "{{name}}"</h2>
                <div id="map-container">
                    <div id="bigmap"></div>
                </div>
            </div>
        </script>
        <script id="noZipResultsTemp" type="template/mustache">
            <div class="results">
                <p><strong>Your search within {{miles}} miles of {{zip}} did not match any persons registered within the LAP-BAND<sup><small>&reg;</small></sup> System specialist database.</strong></p>
                <p>Suggestions:</p>
                <ul>
                    <li class="outerList"><p>Make sure the ZIP code is entered correctly.</p></li>
                    <li class="outerList"><p>Choose a larger area (within miles).</p></li>
                </ul>

                <p>The list of specialists generated by your search criteria is based on the ZIP code that you entered. The information and content in the LAP-BAND<sup><small>&reg;</small></sup> System Specialist Locator tool is provided solely by the specialist.</p>

                <p class="smaller"><strong>NOTE:</strong> Names and details are provided for your information only.  Decisions regarding choice of surgeon and treatment options are a patient's responsibility, as is all communication and interaction with listed medical professionals.  Any information you send a surgeon is not covered by our <a href="/mobile/hme/PrivacyPolicy/">Privacy Policy</a>.</p>
            </div>
        </script>
        <script id="noNameResultsTemp" type="template/mustache">
            <div class="results">
                <p><strong>Your search for LAP-BAND<sup><small>&reg;</small></sup> System specialist {{searchby}} "{{name}}" did not match any persons registered within the LAP-BAND<sup><small>&reg;</small></sup> System Specialist database.</strong></p>
                <p>Suggestions:</p>
                <ul>
                    <li class="outerList"><p>Try a different spelling of the name.</p></li>
                    <li class="outerList"><p>Try a partial segment of the name.</p></li>
                </ul>

                <p>The list of specialists generated by your search criteria is based on the ZIP code that you entered. The information and content in the LAP-BAND<sup><small>&reg;</small></sup> System Specialist Locator tool is provided solely by the specialist.</p>

                <p class="smaller"><strong>NOTE:</strong> Names and details are provided for your information only.  Decisions regarding choice of surgeon and treatment options are a patient's responsibility, as is all communication and interaction with listed medical professionals.  Any information you send a surgeon is not covered by our <a href="/mobile/hme/PrivacyPolicy/">Privacy Policy</a>.</p>
            </div>
        </script>
        <script id="resultTemp" type="template/mustache">
            <div class="result">
                <p class="name">{{name}}</p>
                <button class="rightArrow"></button>
                <p class="address"><span><strong>{{address1}}</strong></span>
                <span>{{address2}}</span>
                <span>{{address3}}</span></p>
                <button class="call">
                    <p><a href="tel:{{phone}}">Call {{phone}}</a></p>
                </button>
                <a class="directions" href="{{directions}}" target="_blank">Get Directions</a>
                <div class="website">
                    <span class="{{wShow}}"><a href="{{websiteURL}}" target="_blank">Practice Website</a> <span class="extLink"></span><br/></span>
                    <span class="{{lShow}}"><a href="{{liveSeminar}}" target="_blank">Live Seminar</a> <span class="extLink"></span><br/></span>
                    <span class="{{oShow}}"><a href="{{onlineSeminar}}" target="_blank">Online Seminar</a> <span class="extLink"></span></span>
                    
                </div>
            </div>
        </script>
        <script id="officeTemp" type="template/mustache">
            <div class="office">
                    
                    <div id="detail-map-container">
                        <div id="DetailMap{{OfficeID}}" class="detailmap"></div>
                    </div>
                    <p class="address">
                    <span style="display:block"><strong>{{OfficeName}}</strong></span>
                    <span style="display:block">{{address1}}</span>
                    <span style="display:block">{{address2}}</span>
                    <span style="display:block">{{city}}, {{state}} {{zip}}</span>
                    </p>
                    <p class="lang">Languages: {{lang}}</p>
                    <button class="call">
                        <p><a href="tel:{{OfficePhone}}">Call {{OfficePhone}}</a></p>
                    </button>
                    <div class="officeLinks">
                        <a href="mailto:{{email}}">{{email}}</a>
                        <div class="website">
                            <span class="{{wShow}}"><a href="{{websiteURL}}" target="_blank" onClick="siteCatalystDetailWebsite('{{name}}');">Practice Website</a> <span class="extLink"></span><br/></span>
                            <span class="{{lShow}}"><a href="{{liveSeminar}}" target="_blank" onClick="siteCatalystDetailLiveSeminar('{{name}}');">Live Seminar</a> <span class="extLink"></span><br/></span>
                            <span class="{{oShow}}"><a href="{{onlineSeminar}}" target="_blank" onClick="siteCatalystDetailOnlineSeminar('{{name}}');">Online Seminar</a> <span class="extLink"></span></span>
                        </div>
                    </div>
                </div>
        </script>
        <script id="profileTemp" type="template/mustache">
            <div id="profile">
                <img src="http://lapbandhome.force.com/servlet/servlet.FileDownload?file={{profileID}}" />
                
                <p id="fullname"><strong>{{name}}</strong></p>
                <p id="gender"><strong>Gender:</strong> <span class="detailGender"></span></p>
                <p id="fax"><strong>Fax:</strong> {{fax}}</p>

                <button class="call">
                    <p><a href="tel:{{phone}}">Call {{phone}}</a></p>
                </button>
                
                <div id="links">
                    <a href="mailto:{{email}}">{{email}}</a>
                    <div class="website">
                        <span class="{{wShow}}"><a href="{{websiteURL}}" target="_blank" onClick="siteCatalystDetailWebsite('{{name}}');">Practice Website</a> <span class="extLink"></span><br/></span>
                        <span class="{{lShow}}"><a href="{{liveSeminar}}" target="_blank" onClick="siteCatalystDetailLiveSeminar('{{name}}');">Live Seminar</a> <span class="extLink"></span><br/></span>
                        <span class="{{oShow}}"><a href="{{onlineSeminar}}" target="_blank" onClick="siteCatalystDetailOnlineSeminar('{{name}}');">Online Seminar</a> <span class="extLink"></span></span>
                    </div>
                </div>
            </div>
        </script>
        <script id="criteriaTemp" type="template/mustache">
            <div id="criteria">
                <p>Accepts out-of-town patients</p>
                <span class="check"></span>
                <p>Performs outpatient surgery</p>
                <span class="check"></span>
                <p>Provides financing</p>
                <span class="check"></span>
                <p>% Bariatric surgeries of all surgical procedures performed<br /><span class="green"><strong>{{percentBari}}%</strong></span></p>
                <p>Years of experience performing LAP-BAND<sup><small>&reg;</small></sup> System procedures<br /><span class="green"><strong>{{yearsExp}}</strong></span></p>
                <p>Frequency of LAP-BAND<sup><small>&reg;</small></sup> System procedures<br /><span class="green"><strong>{{frequency}}</strong></span></p>
            </div>
        </script>
    </div>

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#zipField').keyup(function(){
                var zipValue = $(this).val();
                if (zipValue.length == 5 && zipValue != 'Zip Code' && isNaN(zipValue) == false){
                    $('#error').empty();
                    $(this).parent('div').removeClass('error').addClass('valid');
                }
            });
            
            $('#nameField').keyup(function(){
                var nameValue = $(this).val();
                if (nameValue.length > 2 && nameValue != ''){
                    $('#nameError').empty();
                    $(this).parent('div').removeClass('error').addClass('valid');
                }
            });
            
            $('#practiceField').keyup(function(){
                var practiceValue = $(this).val();
                if (practiceValue.length > 3 && practiceValue != ''){
                    $('#practiceError').empty();
                    $(this).parent('div').removeClass('error').addClass('valid');
                }
            });
            
            $('#zipField').keypress(function(e) {
                if(e.which == 13) {
                    getOfficeByZip();
                }
            });
            
            $('#nameField').keypress(function(e) {
                if(e.which == 13) {
                    getOfficeByName();
                }
            });
            
            $('#practiceField').keypress(function(e) {
                if(e.which == 13) {
                    getOfficeByName();
                }
            });
            
            $("#findSpec").on("click", ".rightArrow", function () {
                /**
                Grab the information stored in the clicked result and turn it into a JSON object
                */
                var data = JSON.parse($(this).parent().attr("data-store"));
                var accountId = data.SurgeonID;
                console.log('data',data);
                console.log('accountId',accountId );
                
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.LWFindSpecialistController.getSurgeonByAccountId}',
                accountId, 
                function(result, event){
                    console.log('result',result);
                    if (!result.Accepts_out_of_town_patients_OOTN__c) {
                        $('.detailsOOT').hide();
                    } else {
                        $('.detailsOOT').show();
                    }
                    if (!result.Outpatient_with_LAP_BAND_System_Surgery__c) {
                        $('.detailsOutpatient').hide();
                    } else {
                        $('.detailsOutpatient').show();
                    }
                    if (!result.Provides_Financing_Options__c) {
                        $('.detailsFinancing').hide();
                    } else {
                        $('.detailsFinancing').show();
                    }
                    
                    $('.detailPercent').text(result.Bariatrics__c);
                    $('.detailExp').text(result.Years_of_LAP_BAND_System_Experience__c);
                    $('.detailFrequency').text(result.Frequency_of_LAP_BAND_System_Surgeries__c);
                    $('.detailGender').text(result.Gender__c);
                });
                
                /**
                Clears previous offices
                */
                $(".allOffices").empty();
                
                var detailOffices = [];
                var detailOffice;
                
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.LWFindSpecialistController.getOfficesByAccountId}',
                accountId, 
                function(result, event){
                console.log('result----',result);
                    var ixNum = 1;
                    var defZoom = 10;
                    var locations = [];
                    var accounts = [];
                    var lat, long;
                    var officesTemp;
                    var findSpec = $("#findSpec");
                    
                    _.templateSettings = {
                        interpolate: /\{\{(.+?)\}\}/g
                    };
                    
                    officesTemp = _.template(findSpec.find("#officeTemp").html());

                    $.each(result, function (index, element) {
                        var lang = setLang(element);
                        detailOffice = {
                            OfficeID: element.Id,
                            OfficeName: element.Name || "",
                            address1: element.Address_1__c || "",
                            address2: element.Address_2__c || "",
                            OfficePhone: element.Phone__c || "",
                            directions: "http://maps.google.com/maps?q="+element.MapLink__c || "",
                            websiteURL: element.Website__c || "",
                            liveSeminar: element.Live_Seminars_Link__c || "",
                            onlineSeminar: element.Online_Seminars_Link__c || "",
                            lang: lang,
                            email: element.Email__c || "",
                            lat: element.Location__Latitude__s || "",
                            long: element.Location__Longitude__s || "",
                            officeName: element.Name || "",
                            zip: element.Zip_Code__c || "",
                            city: element.City__c || "",
                            state: element.State__c || "",
                            wShow: "",
                            lShow: "",
                            oShow: ""
                        };
                        
                        if (detailOffice.websiteURL === null || typeof(detailOffice.websiteURL) === 'undefined' || detailOffice.websiteURL === "") {
                            detailOffice.wShow = "hidden";
                        }
                        if (detailOffice.liveSeminar === null || typeof(detailOffice.liveSeminar) === 'undefined' || detailOffice.liveSeminar === "") {
                            detailOffice.lShow = "hidden";
                        }
                        if (detailOffice.onlineSeminar === null || typeof(detailOffice.onlineSeminar) === 'undefined' || detailOffice.onlineSeminar === "") {
                            detailOffice.oShow = "hidden";
                        }

                        detailOffices.push(detailOffice);

                        /**
                        Stores the result object in an attribute for use on the Full Details page
                        */
                        html = $(officesTemp(detailOffice));
                        $(".allOffices").append(html);
                        
                        var locations = [];

                        locations.push(['<strong>' + element.Name + ' </strong><br>' + element.Address_1__c + '<br />' + element.City__c + ' , ' + element.State__c +
                            '  ' + element.Zip_Code__c + ' ', element.Location__Latitude__s, element.Location__Longitude__s, "", element.Name]);

                        
                            lat = element.Location__Latitude__s;
                            long = element.Location__Longitude__s;
                        

                        ixNum++;

                        MapIt(locations, lat, long, defZoom, 'DetailMap'+element.Id);
                        
                    });
                });
                
                /**
                Populate Profile template with data
                */
                var profileTemp;
                var findSpec = $("#findSpec");
                
                _.templateSettings = {
                    interpolate: /\{\{(.+?)\}\}/g
                };
                profileTemp = _.template(findSpec.find("#profileTemp").html());
                
                var profile = profileTemp(data);
                
        
                //console.log(profile);
                findSpec.find("#profile").replaceWith(profile);
                findSpec.find("#fullDetails").show();
                findSpec.find("#hdot1").animate({ marginLeft: "-100%" });
                window.scrollTo(0,0);
            });
            
            console.log('{!zipCodeInMobile}');
            
            if( '{!zipCodeInMobile}' != ''){
                $('#zipSearch #zipField').val({!zipCodeInMobile});
                getOfficeByZip();
            }
        });
    </script>
    <script>  
        function getOfficeByZip(){
            var requiredField = $('#zipSearch #zipField');
            var requiredField2 = $('#zipSearch #distSelect');
            var zipValue = requiredField.val();
            var distance = requiredField2.val();
            console.log('====',zipValue);
            if (/\d{5}-\d{4}$|^\d{5}$/.test(zipValue)) {
                getLocInfoByZip(zipValue, distance); 
            }else if(zipValue == ''){
                $('#error').empty();
                requiredField.parent('div').addClass('error').removeClass('valid');
                var error = 'Please enter a ZIP code';
                $('#error').addClass('error');
                $('#error').append(error);
            }else{
                $('#error').empty();
                requiredField.parent('div').addClass('error').removeClass('valid');
                var error = 'Please enter a valid ZIP code';
                $('#error').addClass('error');
                $('#error').append(error);
            }
            
         }
         
        function getLocInfoByZip(zip, dist){
            var lat;
            var lng;
            var latlng;
            var p1;
            var findSpec = $("#findSpec");
            var resultZipTemp;
            var noZipResultsTemp
            
            _.templateSettings = {
                interpolate: /\{\{(.+?)\}\}/g
            };
            resultZipTemp = _.template(findSpec.find("#resultsZipTemp").html());
            noZipResultsTemp = _.template(findSpec.find("#noZipResultsTemp").html());

            geocoder = new google.maps.Geocoder();
            geocoder.geocode( {'address': zip}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    lat = results[0].geometry.location.lat();
                    lng = results[0].geometry.location.lng();
                  //   alert('Latitude: ' + lat + ' Logitude: ' + lng);
                    latlng = lat+':'+lng+':'+dist;
                    console.log('--------',latlng);
                    p1 = new google.maps.LatLng(lat, lng);
                    
                    findSpec.find("#results").empty();
                     
                    Visualforce.remoting.Manager.invokeAction(
                    '{!$RemoteAction.LWFindSpecialistController.getOffice}',
                    latlng, 
                    function(result, event){
                        console.log('result==',result);
                       /**
                        Populate the headline ( XX results were found in XX miles ... )
                       */

                       if (event.status && result.length != 0) {
                            findSpec.find("#results").append(resultZipTemp({
                                amount: result.length,
                                miles: dist,
                                zip: zip
                            }));
                            showLocByZip(result, p1, zip);
                        }
                        else {
                            findSpec.find("#results").append(noZipResultsTemp({
                                miles: dist,
                                zip: zip
                            }));
                        }
                        });
                }else{
                    findSpec.find("#results").empty();
                    findSpec.find("#results").append(noZipResultsTemp({
                        miles: dist,
                        zip: zip
                    }));
                } 
            });
             
        }
        
        function showLocByZip(response, p1, zip){
            var ixNum = 1;
            var defZoom = 10;
            var locations = [];
        //  var accounts = [];
            var lat, long;
            var result;
            var results = [];
            var html;
            var resultTemp;
            var findSpec = $("#findSpec");  
            var profileId;          
            
            _.templateSettings = {
                interpolate: /\{\{(.+?)\}\}/g
            };
            resultTemp = _.template(findSpec.find("#resultTemp").html());
            
            /**
            Iterate through the results and populate each result object and append it to the DOM
            */
            $.each(response, function (index, element) {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.LWFindSpecialistController.getProfileID}',
                element.Specialist__c, 
                function(id, event){
                    console.log('ID',id);
                    console.log('element',element);
                    result = {
                        SurgeonID: element.Specialist__c || "",
                        profileID: id,
                        name: element.Specialist__r.Name || "",
                        address1: element.Address_1__c || "",
                        address2: element.Address_2__c || "",
                        address3: "",
                        phone: element.Phone__c || "",
                        directions: "http://maps.google.com/maps?q="+element.MapLink__c,
                        websiteURL: element.Website__c || "",
                        liveSeminar: element.Live_Seminars_Link__c || "",
                        onlineSeminar: element.Online_Seminars_Link__c || "",
                        fax: element.Fax__c || "",
                        lang: "English",
                        gender: "Male",
                        email: element.Email__c || "",
                        lat: element.Location__Latitude__s || "",
                        long: element.Location__Longitude__s || "",
                        certifiedId: element.Specialist__c || "",
                        officeName: element.Name || "",
                        zip: element.Zip_Code__c || "",
                        city: element.City__c || "",
                        state: element.State__c || "",
                        wShow: "",
                        lShow: "",
                        oShow: ""
                    };
                    console.log('address2',result.address2);
                    if (result.websiteURL === null || typeof(result.websiteURL) === 'undefined' || result.websiteURL === "") {
                        result.wShow = "hidden";
                    }
                    if (result.liveSeminar === null || typeof(result.liveSeminar) === 'undefined' || result.liveSeminar === "") {
                        result.lShow = "hidden";
                    }
                    if (result.onlineSeminar === null || typeof(result.onlineSeminar) === 'undefined' || result.onlineSeminar === "") {
                        result.oShow = "hidden";
                    }
        
                    result.address3 = element.City__c + ", " + element.State__c + " " + element.Zip_Code__c;
                    
                    results.push(result);
    
                    html = $(resultTemp(result)).attr("data-store", JSON.stringify(result));
                    console.log('html',html);
                    findSpec.find("#results").append(html); 
                    
                });

                locations.push(['<a class="mapNameLink" id="mapIcon_' + element.Specialist__c + '">' + element.Specialist__r.Name + 
                    ' </a><br /><strong>' + element.Name + ' </strong><br>' + element.Address_1__c + '<br />' + element.City__c + ' , ' + element.State__c + 
                    '  ' + element.Zip_Code__c + ' ', element.Location__Latitude__s, element.Location__Longitude__s, ixNum, element.Specialist__r.Name]); 
    
             //   accounts.push([element.Specialist__r.Name]);

                if (ixNum == 1) {
                    lat = element.Location__Latitude__s;
                    long = element.Location__Longitude__s;
                }

                ixNum++;
            });

            MapIt(locations, lat, long, defZoom, 'bigmap');
        }
        
        function getOfficeByName(){
             var requiredField = $('#nameSearch #nameField');
             var requiredField2 = $('#nameSearch #practiceField');
             var nameValue;
             var searchBy;
             
             if( requiredField.val() != '' ){
                 nameValue = requiredField.val();
                 searchBy = "last name";
             }else if( requiredField2.val() != '' ){
                 nameValue = requiredField2.val();
                 searchBy = "practice";
             }else{
                 $('#nameError').empty();
                 $('#practiceError').empty();
                 requiredField.parent('div').addClass('error').removeClass('valid');
                 requiredField2.parent('div').addClass('error').removeClass('valid');
                 var error = 'Please enter a Specialist or Practice Name';
                 $('#nameError').addClass('error');
                 $('#nameError').append(error);
             }
             console.log(nameValue);
             console.log(searchBy);

             if( nameValue.length > 2 ){
                getLocInfoByName(nameValue, searchBy);
             }else if( searchBy == 'last name' ){
                $('#nameError').empty();
                $('#practiceError').empty();
                requiredField.parent('div').addClass('error').removeClass('valid');
                requiredField2.parent('div').addClass('valid').removeClass('error');
                var error = 'Please enter at least 3 characters';
                $('#nameError').addClass('error');
                $('#nameError').append(error);
             }else{
                $('#nameError').empty();
                $('#practiceError').empty();
                requiredField.parent('div').addClass('valid').removeClass('error');
                requiredField2.parent('div').addClass('error').removeClass('valid');
                var error = 'Please enter at least 3 characters';
                $('#practiceError').addClass('error');
                $('#practiceError').append(error);
             }
         } 
         
         function getLocInfoByName(nameValue, searchBy){
             var resultNameTemp;
             var noNameResultsTemp;
             var findSpec = $("#findSpec");
             console.log('--NameValue--'+nameValue);
             console.log('--searchBy--'+searchBy);
             _.templateSettings = {
                interpolate: /\{\{(.+?)\}\}/g
            };
            if(searchBy == 'last name'){
                nameValue = '***'+nameValue;
            }
             resultNameTemp = _.template(findSpec.find("#resultsNameTemp").html());
             noNameResultsTemp = _.template(findSpec.find("#noNameResultsTemp").html());
             
             $("#findSpec #results").empty();
             
             Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.LWFindSpecialistController.getOfficeByDrName}',
                nameValue, 
                function(result, event){   
                    console.log('result',result);
                    if (event.status && result.length != 0) {
                        findSpec.find("#results").append(resultNameTemp({
                            amount: result.length,
                            name: nameValue
                        }));
                        showLocByName(result);
                    }else{
                        findSpec.find("#results").append(noNameResultsTemp({
                            name: nameValue,
                            searchby: searchBy
                        }));
                    } 
                }); 
         } 
         
         function showLocByName(response){
             var ixNum = 1;
             var defZoom = 4;
             var locations = [];
             var accounts = [];
             var lat, long;
             var result;
             var results = [];
             var resultTemp;
             var findSpec = $("#findSpec");
            
             _.templateSettings = {
                interpolate: /\{\{(.+?)\}\}/g
             };
             resultTemp = _.template(findSpec.find("#resultTemp").html()); 
             
            $.each(response, function (index, element) {
                Visualforce.remoting.Manager.invokeAction(
                '{!$RemoteAction.LWFindSpecialistController.getProfileID}',
                element.Specialist__c, 
                function(id, event){
                    console.log('ID',id);
                    result = {
                        SurgeonID: element.Specialist__c || "",
                        profileID: id,
                        name: element.Specialist__r.Name || "",
                        address1: element.Address_1__c || "",
                        address2: element.Address_2__c || "",
                        address3: "",
                        phone: element.Phone__c || "",
                        directions: "http://maps.google.com/maps?q="+element.MapLink__c || "",
                        websiteURL: element.Website__c || "",
                        liveSeminar: element.Live_Seminars_Link__c || "",
                        onlineSeminar: element.Online_Seminars_Link__c || "",
                        fax: element.Fax__c || "",
                        lang: "English",
                        gender: "Male",
                        email: element.Email__c || "",
                        lat: element.Location__Latitude__s || "",
                        long: element.Location__Longitude__s || "",
                        certifiedId: element.Specialist__c || "",
                        officeName: element.Name || "",
                        zip: element.Zip_Code__c || "",
                        city: element.City__c || "",
                        state: element.State__c || "",
                        wShow: "",
                        lShow: "",
                        oShow: ""
                    };
                
                    if (result.websiteURL === null || typeof(result.websiteURL) === 'undefined' || result.websiteURL === "") {
                        result.wShow = "hidden";
                    }
                    if (result.liveSeminar === null || typeof(result.liveSeminar) === 'undefined' || result.liveSeminar === "") {
                        result.lShow = "hidden";
                    }
                    if (result.onlineSeminar === null || typeof(result.onlineSeminar) === 'undefined' || result.onlineSeminar === "") {
                        result.oShow = "hidden";
                    }
        
                    result.address3 = element.City__c + ", " + element.State__c + " " + element.Zip_Code__c;
                    
                    results.push(result);
    
                    html = $(resultTemp(result)).attr("data-store", JSON.stringify(result));
                    console.log('html',html);
                    findSpec.find("#results").append(html); 
                    
                });

                locations.push(['<a class="mapNameLink" id="mapIcon_' + element.Specialist__c + '">' + element.Specialist__r.Name + 
                    ' </a><br /><strong>' + element.Name + ' </strong><br>' + element.Address_1__c + '<br />' + element.City__c + ' , ' + element.State__c + 
                    '  ' + element.Zip_Code__c + ' ', element.Location__Latitude__s, element.Location__Longitude__s, ixNum, element.Specialist__r.Name]); 
    
             //   accounts.push([element.Specialist__r.Name]);

                if (ixNum == 1) {
                    lat = element.Location__Latitude__s;
                    long = element.Location__Longitude__s;
                }

                ixNum++;
            });

            MapIt(locations, lat, long, defZoom, 'bigmap');
        }
        
        function MapIt(locations, lat, long, iZoom, MapDivIV) {
            gmarkers = [];
            var map = new google.maps.Map(document.getElementById(MapDivIV), {
                scrollwheel: false,
                zoom: iZoom,
                draggable: false,
                mapTypeControl: false,
                center: new google.maps.LatLng(lat, long),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            var infowindow = new google.maps.InfoWindow();
            var marker, i;
            for (i = 0; i < locations.length; i++) {
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                    map: map,
                    icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + locations[i][3] + '|ffa200|ffffff',
                    title: locations[i][4]
                });
                gmarkers.push(marker);
                google.maps.event.addListener(marker, 'click', (function (marker, i) {
    
                    return function () {
                        infowindow.setContent(locations[i][0]);
                        infowindow.open(map, marker);
                        // surgeon name links from search results page
                        $("a.mapNameLink").click(function (e) {
                            e.preventDefault();
                            var formId = this.id.substring(8),
                            specName = $(this).html();
    
                            siteCatalystSpecialistDetails(specName + " Map Icon", function () {
                                $("#detail" + formId).first().submit()
                            });
    
                        });
                        // surgeon name links from home page
                        $("#map a.detail_link, #hero a.detail_link").click(function (e) {
                            e.preventDefault();
                            //onclick="document.details' + iNum + '.submit();siteCatalystSpecialistDetails(\''+ val.CertifiedSurgeonName +'\');"
                            var formId = this.id.substring(8),
                            specName = $(this).html();
                            if ($(this).hasClass("hcp_link")) {
                                specName = specName + " HCP"
                            }
                            if ($(this).hasClass("footer_link")) {
                                specName = specName + " Footer"
                            }
                            else {
                                specName = specName + " Home Page"
                            }
    
                            siteCatalystSpecialistDetails(specName + " Map Icon", function () {
                                $('[name="details' + formId + '"]').first().submit()
                            });
    
                        });
                    }
                })(marker, i));
            }
        }
        
        function setLang(result){
            var lang = '';
            if(result.English__c){
                console.log
                if(lang == ''){
                    lang += 'English';
                }else{
                    lang += ' English';
                } 
            }
            if(result.Spanish__c){
                if(lang == ''){
                    lang += 'Spanish';
                }else{
                    lang += ' Spanish';
                }
            }
            if(result.Chinese__c){
                if(lang == ''){
                    lang += 'Chinese';
                }else{
                    lang += ' Chinese';
                }
            }
            if(result.Japanese__c){
                if(lang == ''){
                    lang += 'Japanese';
                }else{
                    lang += ' Japanese';
                }
            }
            if(result.French__c){
                if(lang == ''){
                    lang += 'French';
                }else{
                    lang += ' French';
                }
            }
            if(result.German__c){
                if(lang == ''){
                    lang += 'German';
                }else{
                    lang += ' German';
                }
            }
            if(result.Vietnamese__c){
                if(lang == ''){
                    lang += 'Vietnamese';
                }else{
                    lang += ' Vietnamese';
                }
            }
            if(result.Italian__c){
                if(lang == ''){
                    lang += 'Italian';
                }else{
                    lang += ' Italian';
                }
            }
            if(result.Korean__c){
                if(lang == ''){
                    lang += 'Korean';
                }else{
                    lang += ' Korean';
                }
            }
            if(result.Russian__c){
                if(lang == ''){
                    lang += 'Russian';
                }else{
                    lang += ' Russian';
                }
            }
          
            return lang;
        }
 
    </script>

    <c:LWMobileFooter />
    </div>
    <c:LWMobileFooter2 />
 </body>

</apex:page>