<apex:page applyBodyTag="false" showheader="false" standardStylesheets="false" sidebar="false" >
 <head>
    <title>Privacy and Terms and Terms of Use</title>
 </head>
 
 <apex:composition template="LWMTemplate"/>
 
 <body>
 <div id="content" class="wrapper">
     <c:LWMobileHeader />
      <div id="privacy" class="mainContent">
        <h1 class="title">Privacy Policy</h1>

        <p><strong>Privacy and Terms and Terms of Use</strong></p>
        <p>This policy is effective as of September 1, 2012</p>

        <h3>Apollo Endosurgery Privacy Statement</h3>
        <p>Apollo Endosurgery collects personal information in order to serve you and communicate with you. This Privacy Statement explains how Apollo Endosurgery uses and discloses your personal information and answers specific questions that you may have regarding privacy and security. If you have additional questions, please contact us at <a href="mailto:website@apolloendo.com">website@apolloendo.com</a>.</p> 
        <p>This Privacy Statement applies mainly to the operation of U.S. and Canadian websites that directly link to this statement when you click on "privacy" in the website footer. Apollo Endosurgery's global affiliates may have additional privacy statements which are specifically tailored to the laws in those countries. Those privacy statements are available when you click on "privacy" in the footer of our affiliate websites.</p>
        <h4>1. Types of Personal Information</h4>
        <p>This Privacy Statement explains our practices with regard to "Personal Information." Personal Information is any information that can be used to identify, locate or contact you. It also includes other information that may be associated with such Personal Information. Examples of types of Personal Information:</p>
        <ul>
            <li class="outerList"><p><strong>Contact Information</strong> that allows us to communicate with you, such as your name, email address, mailing address, email address or phone numbers.</p></li>
            <li class="outerList"><p><strong>Relationship Information</strong> that helps us understands your interests, including information about products, treatments and health conditions that are of interest to you.</p></li>
            <li class="outerList"><p><strong>Transaction Information</strong> about how you interact with Apollo Endosurgery, including purchases, inquiries, and information about how you use the Apollo Endosurgery websites and applications.</p></li>
            <li class="outerList"><p><strong>Financial Account Information</strong>, such as your credit card number or Social Security number, as needed to process payments and provide reimbursement services.</p></li>
            <li class="outerList"><p><strong>Geo-location Information</strong>, as may be transmitted to us by your smart phone or other location-aware devices.</p></li>
            <li class="outerList"><p><strong>Job Applicant Information</strong>, to process your job application, such as your Contact Information, resume, previous work experience, education, transcript, driver's license information, Social Security number or national identification number and information relating to references.</p></li>
        </ul>
        <p><strong><em>2.   How Apollo Endosurgery Collects Personal Information</em></strong></p>
        <p>In many cases, we collect Personal Information directly from you. We will ask you for Personal Information when you interact with us, such as registering on our websites, using any interactive features or applications, sign up to receive a newsletter or a rebate, or make a direct purchase, or apply for employment. We may collect additional information from third party data suppliers who enhance our files or from social media sites such as Facebook, if you like our pages or join our communities.</p>
        <p>If you interact with us online, we use cookies and other technological tools to collect information about your computer and your use of our website and applications. We treat this information as Personal Information only when it is associated with your Contact Information. For more information about cookies and other technologies, please see the section <a href="#cookies-and-other-technologies">Cookies and Other Data Collection Technologies</a> below.</p>

    <p><strong><em>3.   How Apollo Endosurgery Uses Personal Information</em></strong></p>
    <p>Apollo Endosurgery may use your Personal Information for its business purposes, such as to:</p>
    <ul>
        <li class="outerList"><p>To respond to your requests for information, products, services, including managing your online accounts with us and providing warranty service for certain products;</p></li>
        <li class="outerList"><p>To provide you with general health information (such as information on certain health conditions) as well as information about our products and services;</p></li>
        <li class="outerList"><p>Provide you with marketing communications and offers for products and services;</p></li>
        <li class="outerList"><p>To administer promotional programs, such as sweepstakes, rewards and rebate programs;</p></li>
        <li class="outerList"><p>To determine if you are eligible for certain products, services or programs;</p></li>
        <li class="outerList"><p>If you have a business or professional relationship with Apollo Endosurgery, to develop our business relationship with you;</p></li>
        <li class="outerList"><p>If you apply for a job via our career center, to consider you for employment;</p></li>
        <li class="outerList"><p>For our research and development efforts;</p></li>
        <li class="outerList"><p>To anonymize data so that it is no longer Personal Information</p></li>
        <li class="outerList"><p>For product safety, such as adverse event reporting or to communicate product safety information to you;</p></li>
        <li class="outerList"><p>For other everyday business purposes, such as payment processing and financial account management, product development, contract management, website administration, fulfillment, analytics, fraud prevention, corporate governance, reporting and legal compliance.</p></li>
    </ul>
    <p><strong><em>4.   Why Personal Information Is Disclosed by Apollo Endosurgery</em></strong></p>
    <p><strong>Apollo Endosurgery does not sell, share or otherwise distribute your personal information with third parties for their marketing purposes.</strong> Apollo Endosurgery will share your Personal Information only in compliance with any obligations under the Health Insurance Portability and Accountability Act of 1996 ("HIPAA") and other applicable laws. <strong>For example</strong>, we will share your Personal Information as follows:</p>
    <ul>
        <li class="innerList"><p>We may share your Personal Information with your consent or as you direct. For example, we may share information with your doctor as part of programs in which you agree to participate.</p></li>
        <li class="innerList"><p>We may share your Personal Information with our affiliated companies and product co-promotion partners, which may only use your Personal Information for the purposes listed herein.</p></li>
        <li class="innerList">
            <p>We may share your Personal Information with our service providers, who are bound by law or contract to protect your Personal Information and only use your Personal Information in accordance with our instructions. For example, we may share your Personal Information with vendors who provide data processing or fulfillment services for us.</p>
            <ul>
                <li class="innerList"><p>We may also disclose Personal Information where needed to affect the sale or transfer of business assets, to investigate legal issues, enforce our rights, protect our property, or protect the rights, property or safety of others, or as needed support external auditing, compliance and corporate governance functions.</p></li>
                <li class="innerList"><p>We may also disclose Personal Information when requested under legal process or otherwise required by law, such as in response to a subpoena, including to law enforcement agencies and courts in the United States and other countries where we operate.</p></li>
            </ul>
        </li>
    </ul>
    <p>Please note that we may also disclose information about you that is not personally identifiable. For example, we may publish reports that contain aggregated and statistical data about our customers. These reports do not contain any information that would enable the recipient to contact, locate or identify you.</p>
    <a name="cookies-and-other-technologies"></a>
    <p><strong><em>5.   Cookies and Other Data Collection Technologies</em></strong></p>
    <p>When you visit our website or use our mobile applications, we collect certain information by automated means, using technologies such as cookies, pixel tags, browser analysis tools, server logs and web beacons.</p>
    <p>For example, when you visit our website, we place cookies on your computer. Cookies are small text files that websites send to your computer or other Internet-connected device to uniquely identify your browser or to store information or settings in your browser. Cookies allow us to recognize you when you return. They also help us provide a customized experience and enable us to detect certain kinds of fraud.</p>
    <p>Apollo Endosurgery uses Flash Cookies (also known as Local Stored Objects), Microsoft Silverlight and similar technologies to personalize and enhance your online experience in compliance with Network Advertising Initiative standards. The Adobe Flash Player is an application that allows rapid development of dynamic content, such as video clips and animation. Flash cookies (and similar applications) use technology to remember settings, preferences and usage similar to browser cookies, but these are managed through a different interface than the one provided by your web browser. To manage Flash cookies, please see Adobe’s website at <a href="http://kb2.adobe.com/cps/526/52697ee8.html" target="_blank">http://kb2.adobe.com/cps/526/52697ee8.html</a> or visit <a href="http://www.adobe.com" target="_blank">www.adobe.com</a>. To manage Silverlight cookies, see Microsoft’s privacy statement at <a href="http://www.microsoft.com/getsilverlight/get-started/install/privacy" target="_blank">http://www.microsoft.com/getsilverlight/get-started/install/privacy</a> or visit <a href="http://www.microsoft.com" target="_blank">www.microsoft.com</a>.</p>
    <p>Pixel tags and web beacons are tiny graphic images placed on website pages or in our emails that allow us to determine whether you have performed a specific action. When you access these pages or open or click an email, the pixel tags and web beacons generate a notice of that action. These tools allow us to measure response to our communications and improve our web pages and promotions.</p>
    <p>We collect many different types of information from cookies and other technologies. For example, we may collect information about the device you use to access our website, your operating system type, browser type, domain, and other system settings, as well as the language your system uses and the country and time zone where your device is located. Our server logs also record the IP address of the device you use to connect to the Internet. An IP address is a unique identifier that devices use to identify and communicate with each other on the Internet. We may also collect information about the website you were visiting before you came to Apollo Endosurgery and the website you visit after you leave our site.</p>
    <p>In many cases, the information we collect using cookies and other tools is only used in a non-identifiable way, without any reference to Personal Information. For example, we use information we collect about all website users to optimize our websites and to understand website traffic patterns.</p>
    <p>In some cases, we do associate the information we collect using cookies and other technology with your Personal Information. This Privacy Statement governs how we use that all of this information when we associate it with your Personal Information.</p>
    <p>Apollo Endosurgery has relationships with third party advertising companies to place advertisements on this website and other websites, and to perform tracking and reporting functions for this website and other websites. These third party advertising companies may place cookies on your computer when you visit our website or other websites so that they can display targeted advertisements to you. These third party advertising companies do not collect Personal Information in this process, and we do not give any personal information to them as part of this process. However, this Privacy Statement does not cover the collection methods or use of the information collected by these vendors. For more information about third party advertising, please visit the Network Advertising Initiative (NAI) at <a href="http://www.networkadvertising.org" target="_blank">www.networkadvertising.org</a>.</p>

    <p><strong><em>6.   Tell-A-Friend Functions</em></strong></p>
    <p>Apollo Endosurgery offers "tell-a-friend" functionality on our websites. If you choose to use this function, we will collect Contact Information for your friend. We will automatically send your friend a one-time email with the information you specified or inviting him or her to visit the site. Apollo Endosurgery uses this information for the sole purpose of sending this one-time email and does not retain the information.</p>

    <p><strong><em>7.   Your Choices</em></strong></p>
    <p>You can always limit the information you provide to Apollo Endosurgery. You can also limit the communications that Apollo Endosurgery sends to you by following a simple opt-out process. Simply follow the instructions in our emails to opt-out of receiving future marketing communications.</p>
    <p>Please note that even if you opt-out of promotional emails, we may still need to contact you with important transactional information about your account or your equipment. For example, even if you opt-out of emails, we will still send you a confirmation when you purchase something from our website as well as product safety communications.</p>
    <p>You can manage cookie preferences and opt-out of having cookies and other data collection technologies used by adjusting the settings on your browser. All browsers are different, so visit the “help” section of your browser to learn about cookie preferences and other privacy settings that may be available.</p>
    <p>You can opt-out of being targeted by those third party advertising companies that are NAI members online at <a href="http://www.networkadvertising.org/consumer/opt_out.asp" target="_blank">www.networkadvertising.org/consumer/opt_out.asp</a>. </p>

    <p><strong><em>8.   Access and Correction</em></strong></p>
    <p>Apollo Endosurgery respects your right to access and correct your Personal Information. You may update your Personal Information at any time by contacting us via email at <a href="mailto:privacy@apolloendo.com">privacy@apolloendo.com</a>, or directly by logging into your online account, should you have one. You can also write us at the address in the How to <apex:outputLink value="{!URLFOR($Page.LWMContactUs,null,null)}"> Contact Us</apex:outputLink><!--<a href="/Home/ContactUs/"> Contact Us</a>--> section below. If you send us a letter, please provide your name, address, email address, and detailed information about the change you would like to make. </p>

    <p><strong><em>9.   Information Security</em></strong></p>
    <p>Apollo Endosurgery has implemented an information security program that contains administrative, technical and physical controls that are designed to reasonably safeguard your Personal Information from unlawful use and unauthorized disclosure</p>

    <p><strong><em>10.   Notice to Residents of Countries outside the U.S.</em></strong></p>
    <p>Apollo Endosurgery is headquartered in the United States of America. Your Personal Information may be accessed by or transferred to the United States or to our affiliates and data processors elsewhere in the world. By providing us with your Personal Information, you consent to this transfer to the U.S. which your country may not consider to provide for adequate privacy protections. We will always protect the privacy and security of your personal information as expressed in this policy, regardless of where it is processed or stored.</p>

    <p><strong><em>11.   Privacy Policies of Third Parties</em></strong></p>
    <p>This Privacy Statement only addresses the use and disclosure of information by Apollo Endosurgery. We may provide links to outside websites or advertisements for third parties that have their own privacy policies and data collection, use and disclosure practices. Our independent dealers, suppliers and business partners have their own privacy policies too. We encourage you to familiarize yourself with the privacy statements provided by all third parties prior to providing them with information or taking advantage of an offer or promotion.</p>

    <p><strong><em>12.   Children’s Privacy</em></strong></p>
    <p>The Apollo Endosurgery website and applications are not intended to attract children, and we do not knowingly collect any Personal Information of anyone under the age of 13. If you believe your child is using our website, please contact us at <a href="mailto:privacy@apolloendo.com">privacy@apolloendo.com</a> so we can investigate and delete any inappropriate information.</p>

    <p><strong><em>13.   Forums, Product Reviews and Other Public Areas</em></strong></p>
    <p>Our websites may contain forums and other areas where you can publicly post product reviews, communicate with others, and submit media content. Prior to posting in these areas, please read our <a href="#TermsOfUse">Terms of Use</a> carefully. You have no privacy rights in public postings. All the information you post will be accessible to anyone with Internet access, and any Personal Information you include in your posting may be read, collected, and used by others. For example, if you post your email address along with a product review, you may receive unsolicited messages. Please use caution when posting any Personal Information.</p>

    <p><strong><em>14.   Changes to this Privacy Statement</em></strong></p>
    <p>From time to time, we may update this Privacy Statement to reflect new or different privacy practices. We will place a notice on our homepage when we make material changes to this the Privacy Statement. Additionally, if the changes will materially affect the way we use or disclose previously-collected Personal Information, we will notify you about the change by sending a notice to the primary email address associated with your account.</p>
    <p>Any portions of this policy are void to the extent they are prohibited by applicable law.</p>

    <p><strong><em>15.   How to Contact Us</em></strong></p>
    <p>Please contact us if you have any questions or comments about our privacy practices, your privacy choices, or this Privacy Statement. You can always reach us online at <a href="mailto:privacy@apolloendo.com">privacy@apolloendo.com</a>. You can reach us via mail at the address below. If you send us a letter, please provide your name, address, email address, and information about the communication that you do not want to receive. </p>
    <ul>
        <li class="outerList"><p>Apollo Endosurgery, Inc.<br />Attention: Legal Department<br />Privacy Office<br />1120 S Capital of Texas Hwy<br />Bldg 1, Suite 300<br />Austin, TX 78746 USA</p></li>
    </ul>

    <p><strong>Job Applicants</strong></p>
    <p>If you have applied for employment with Apollo Endosurgery, the Personal Information submitted with your job application will be used to process and consider your job application. Apollo Endosurgery will not sell the information on your application to unaffiliated third-parties for their marketing purposes. We may share the information on your applications with recruiters, consultants, attorneys, background services and our affiliates. The information on your application may also be used for certain regulatory, compliance and legal purposes, consistent with this Privacy Statement.</p>
    <p>To the extent the Personal Information you provide contains details of your: racial or ethnic origin; political opinions or beliefs; religious beliefs; membership in a trade union or political party; physical or mental health condition; sexual life; commission (or alleged commission) of an offence or related proceedings; job evaluations or educational records, you expressly authorize Apollo Endosurgery to handle such details for the purposes of your job application and for the other purposes described herein.</p>
    <p>By submitting information to us online, you are sending it to the United States, where it will be subject to the protections afforded under US laws that may be different from the laws in your country and which your country may consider not to provide adequate privacy protections. If you do not agree that your submission of your application information will be governed solely by United States law, Apollo Endosurgery will not accept your application.</p>

    <p><strong>California Privacy Rights</strong></p>
    <p>California Civil Code Section 1798.83 entitles California customers to request information concerning whether a business has disclosed “Personal Information” to any third parties for the third parties’ direct marketing purposes. Apollo Endosurgery will not sell or share your Personal Data for marketing purposes without your consent.</p>
    <p>California customers who wish to request further information about our compliance with this law or have questions or concerns about our privacy practices and policies may contact us at <a href="mailto:privacy@apolloendo.com">privacy@apolloendo.com</a>, or write to us at Apollo Endosurgery, Inc., 1120 S. Capital of Texas Highway, Bldg1, Suite 300, Austin, Texas 78746, Attention: Legal Department. </p>
    <p><strong>Social Security Number Protection Policy</strong> Apollo Endosurgery collects Social Security numbers and other sensitive personal information in the ordinary course of its business. Apollo Endosurgery has implemented reasonable technical, physical and administrative safeguards to help protect the Social Security numbers and other sensitive personal information from unlawful use and unauthorized disclosure. All Apollo Endosurgery workers are required to follow these established procedures, both online and offline. In particular:</p>
    <ul>
        <li class="outerList"><p>Access to Social Security numbers is limited to those workers and service providers who have a need to access the information to perform tasks for Apollo Endosurgery. Social Security numbers are only disclosed to third parties in accordance with Apollo Endosurgery’s established privacy policy.</p></li>
        <li class="outerList"><p>We will only disclose Social Security numbers (i) with those service providers, auditors, advisors, and/or successors in interest who are legally or contractually obligated to protect them, or (ii) as required or permitted by law.</p></li>
    </ul>
    <a name="TermsOfUse"></a>
    <p><strong>Terms Of Use</strong></p>
    <p>Updated: March 1, 2014</p>
    <p>These Terms of Use are a binding agreement between you and Apollo Endosurgery, and governs your access and use of the Site, which includes any information, data, tools, products, services and other content (together, "Content") available on or through the Site.</p>
    <p><strong><em>PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE ENTERING THE SITE. EACH TIME YOU ENTER THE SITE, YOUR USE INDICATES YOUR FULL ACCEPTANCE OF AND AGREEMENT TO ABIDE BY THESE TERMS OF USE IN THEIR THEN CURRENT FORM. IF YOU DO NOT ACCEPT THE TERMS AND CONDITIONS STATED IN THESE TERMS OF USE, PLEASE EXIT THE SITE.</em></strong></p>
    <p>As we may revise the terms of use from time to time, you should review them periodically.</p>
    <p>Apollo Endosurgery grants you a limited right to use the Site only for your own private, non-commercial informational purposes only, and to print pages from the Site only in connection with that use. You may not modify, distribute, transmit, perform, reproduce, publish, license, create derivative works from, transfer or sell any Content, including any text, graphics, logos and other source-identifying symbols, designs, icons, images, or other information, software or code obtained from the Site. You are prohibited from removing any copyright, trademark or other proprietary notice or legend contained on (or printed from) the Site or on any printed pages. In addition, you are prohibited from decomposing, decompiling, reverse engineering, disassembling or otherwise deconstructing all or any portion of the Site.</p>

    <p><strong><em>Medical Advice Disclaimer</em></strong></p>
    <p><strong>NO INFORMATION IN THIS SITE IS PROVIDED WITH THE INTENTION TO GIVE MEDICAL ADVICE OR INSTRUCTIONS ON THE ACCURATE USE OF Apollo Endosurgery PRODUCTS. Apollo Endosurgery CANNOT ANSWER UNSOLICITED E-MAILS REQUESTING PERSONAL MEDICAL ADVICE.</strong></p>
    <p><strong>VISITORS SHOULD ALWAYS CONSULT A HEALTHCARE PROFESSIONAL PRIOR TO MAKING ANY DECISIONS, OR UNDERTAKING ANY ACTIONS OR NOT UNDERTAKING ANY ACTIONS RELATED TO ANY HEALTH CARE PROBLEM OR ISSUE YOU MIGHT HAVE AT ANY TIME, NOW OR IN THE FUTURE.</strong></p>

    <p><strong><em>Privacy Policy</em></strong></p>
    <p>Apollo Endosurgery’s Privacy Policy is a part of these Terms of Use. Use of this Site indicates your consent to the collection and use of this information as set forth in the Privacy Policy.</p>

    <p><strong><em>Copyrights</em></strong></p>
    <p>The Site and the Content are protected by one or more copyrights, patents, database rights, trademarks, service marks and/or other intellectual property and proprietary rights that are owned by Apollo Endosurgery, its affiliates and/or third parties. You should assume that all contents of the Site are copyrighted unless otherwise noted and may not be used except as provided herein and without the express written permission of Apollo Endosurgery. Except as expressly provide above, nothing contained herein shall be construed as conferring any license or right under any Apollo Endosurgery copyright.</p>

    <p><strong><em>Trademarks</em></strong></p>
    <p>All product names, logos, and service marks displayed on the Site that are identified by ® or ™ or appearing in type form different from that of the surrounding text (collectively, the “Trademarks”) are registered or unregistered trademarks owned by or licensed to Apollo Endosurgery or our affiliates, unless otherwise identified as being owned by another entity. Nothing contained herein shall be construed as conferring by implication, estoppel, or otherwise any license or right, either express or implied, under any patent or Trademark of Apollo Endosurgery or any third party. No use of any Trademark may be made without our prior written authorization, except to identify the product or services of the company.</p>

    <p><strong><em>User Responsibility</em></strong></p>
    <p>Each person assumes full responsibility and all risks arising from use of the Site.</p>

    <p><strong>IN NO EVENT SHALL ANY OF Apollo Endosurgery, OUR AFFILIATES, AND THEIR RESPECTIVE OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, INFORMATION PROVIDERS, AND LICENSORS AND THEIR RESPECTIVE HEIRS AND ASSIGNS BE LIABLE FOR ANY DAMAGES OF ANY KIND OR NATURE, INCLUDING, BUT NOT LIMITED TO, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY, SPECIAL (INCLUDING LOSS OF PROFIT), PUNITIVE, OR OTHER DAMAGES ARISING FROM OR IN CONNECTION WITH THE EXISTENCE OR USE OF THE SITE, REGARDLESS OF WHETHER Apollo Endosurgery OR ANY OF THE OTHER ENTITIES OR PERSONS LISTED ABOVE HAS BEEN ADVISED AS TO THE POSSIBILITY OF SUCH DAMAGES.</strong> This includes damages to, or for viruses that may infect your computer equipment.</p>

    <p>IF YOU RELY ON THIS SITE OR ANY INFORMATION, PRODUCT OR SERVICE AVAILABLE THROUGH THIS SITE, YOU DO SO AT YOUR OWN RISK. THERE MAY BE DELAYS, OMISSIONS, INTERRUPTIONS, INACCURACIES, AND/OR OTHER PROBLEMS WITH THE INFORMATION, PRODUCTS, AND SERVICES PUBLISHED ON OR PROMOTED OVER THIS SITE.</p>

    <p>Without limiting the foregoing, everything on the Site is provided to you <strong>"AS IS"</strong> AND Apollo Endosurgery MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND OR NATURE WITH RESPECT TO THE SITE.</p>

    <p><strong>Apollo Endosurgery HEREBY DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS OR IMPLIED, CREATED BY LAW, CONTRACT OR OTHERWISE, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTIES OF MERCHANTIBILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, OR NON-INFRINGEMENT.</strong></p>

    <p>Apollo Endosurgery MAKES NO REPRESENTATION OR WARRANTY THAT ACCESS TO THE SITE WILL BE AVAILABLE ON A TIMELY BASIS, WILL BE UNINTERRUPTED, OR THAT THE INFORMATION CONTAINED ON THE SITE WILL BE TIMELY OR ERROR FREE.</p>

    <p>Please note that some jurisdictions may not allow the exclusion of implied warranties, so some of the above exclusions may not apply to you. Check your local laws for any restrictions or limitations regarding the exclusion of implied warranties. To the extent that Apollo Endosurgery may not, as a matter of applicable law, disclaim any implied warranty or limit its liabilities, the scope and duration of such warranty and the extent of Apollo Endosurgery’s liability will be equal to the minimum permitted under such applicable law.</p>

    <p>YOU AGREE TO INDEMNIFY AND HOLD HARMLESS Apollo Endosurgery, ITS AFFILIATES, AGENTS, VENDORS AND LICENSORS, AND THEIR RESPECTIVE EMPLOYEES, OWNERS AND REPRESENTATIVES AGAINST ANY AND ALL CLAIMS, OF WHATEVER NATURE, THAT ARISE OUT OF ANY BREACH BY YOU OF THIS AGREEMENT OR YOUR USE OF THIS SITE, TO THE FULLEST EXTENT ALLOW BY LAW.</p>

    <p>You further agree that any claim related to this Site must be filed within one year after it arises.</p>

    <p><strong><em>Proprietary Information</em></strong></p>
    <p>Any communication or material that you transmit to, or post on, this Site by electronic mail or otherwise, including any data, questions, comments, suggestions, or the like, is, and will be treated as, non-confidential and nonproprietary information, and Apollo Endosurgery shall have no obligation of any kind with respect to such information. Apollo Endosurgery and any of our affiliates may use such information for any purpose whatsoever in accordance with applicable laws and regulations, including, but not limited to, the following purposes: reproduction, disclosure, transmission, publication, broadcast, and further posting. Further, we and any of our affiliates shall be free to use such information, including, but not limited to, any ideas, concepts, know-how, or techniques contained therein, for any purpose whatsoever, including, but not limited to, researching, developing, manufacturing, and marketing products incorporating such information. Please consult our Privacy Policy for more information.</p>

    <p><strong><em>Links to other Web sites</em></strong></p>
    <p>You are free to establish a hypertext link to this Site so long as the link does not state or imply any endorsement or sponsorship of you, your company, or your site by Apollo Endosurgery. Without the prior written permission of Apollo Endosurgery, you may not frame or scrape any of the content on the site nor incorporate into another website or other service any intellectual property of Apollo Endosurgery.</p>
    <p>Links To Apollo Endosurgery’s Website. Apollo Endosurgery encourages other websites to link to this Site, provided that these links comply with the guidelines set forth herein. Links to this Site from other sites should be text-only and may not include Apollo Endosurgery’s logo or other intellectual property. We strictly prohibit any suggestions of Apollo Endosurgery endorsement or recommendation of a specific company, product, or service.</p>
    <p>Links From Apollo Endosurgery’s Website. This Site may include links to other sites. These links are provided solely for purposes of convenience. Apollo Endosurgery is not responsible for the content or accuracy of information contained on other sites or other sites’ privacy practices. Apollo Endosurgery is not liable for any damages or injury arising from content contained on other sites. Links to third-party sites are not a referral or endorsement of any other entity, item, or service. You release Apollo Endosurgery and its affiliates from any damages that you may incur, and agree not to assert any claims against them, arising from your purchase or use of third-party supplied information, products and services.</p>

    <p><strong><em>Jurisdiction</em></strong></p>
    <p>These Terms, as well as any claim that might arise under these Terms, will be governed by the laws of the state of California. Use of this Site implies and is subject to the consent to the laws of the United States and exclusively in the jurisdiction of the courts in the state of California, without regard to conflict of law provisions. You agree to submit to the personal jurisdiction of the California courts for the purpose of litigating all such claims.</p>
    <p>Nothing contained on the Site should be construed as solicitation or promotion for any product or for the use of any product in a way which is not authorized by the country in which the reader is physically located. This Site provides information about products or uses that may not be available in particular countries. Some of the products mentioned may in certain countries be approved or cleared by regulatory authorities for sale or use with different indications, dosages, and restrictions.</p>

    <p><strong><em>Forward-Looking Statements</em></strong></p>
    <p>This Site contains information that is forward-looking and involves risks and uncertainties, including, without limitation, risks and uncertainties of research and development, clinical development, regulatory approvals and the regulatory process, our reliance on third-party manufacturers, product commercialization, competition, patents, product liability, and third party reimbursement, and other risks and uncertainties detailed from time to time in our periodic reports filed with the Securities and Exchange Commission. Actual results may differ materially from such forward-looking information.</p>

    <p><strong><em>Reservation of Rights</em></strong></p>
    <p>Apollo Endosurgery reserves the right to alter or delete material from this Site at any time without notice. Please check often for updates, as we reserve the right, in our sole discretion, to modify these Terms of Use at any time, and your use of the Site indicates your acceptance of any revisions to these terms.</p>
    <p>Apollo Endosurgery’s failure to enforce any right or provision of these Terms of Use shall not constitute a waiver of such right or provision. If any provision of these Terms of Use is unlawful, void, or unenforceable, then it shall be severed and shall not affect the validity and enforceability of any Terms of Use. If any provision of these Terms of Use is held to be invalid or unenforceable in any jurisdiction, such provision shall be deemed modified to the minimum extent necessary so that such provision shall no longer be held to be invalid or unenforceable, and these Terms of Use shall be interpreted so as to achieve the intent expressed herein to the greatest extent possible in the jurisdiction in question. Any such modification, invalidity or unenforceability shall be strictly limited both to such provision and to such jurisdiction.</p>
    <p>Apollo Endosurgery may assign its ownership, control, or other rights to any party at any time without any notice to you. Your rights and duties cannot be assigned without Apollo Endosurgery’s written consent. Nothing in these Terms of Use provides any third party with any remedy, claim, or cause of action.</p>

    <p><strong><em>Dispute Resolution</em></strong></p>
    <p>Visitors must contact Apollo Endosurgery to resolve any disputes that arise from use of this Site.</p>
    </div>


    <c:LWMobileFooter />
    </div>
    <c:LWMobileFooter2 />
 </body>

</apex:page>