<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>Losing Weight with the LAP-BAND® System | The LAP-BAND® System | The LAP-BAND® System</title>
<meta name="pageset" content="aboutNav" />
<meta name="subnavset" content="subLosing" />
<meta name="description" content="Learn why the LAP-BAND® System is an effective tool to help you lose weight." />
<c:r_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:r_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
            <div class="baner inner11">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1" style="max-width: 400px; width: 100%; margin: 0px auto;">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/1.1_LosingWeight.png')}" alt="img" />
                               <!-- <img src="images/iner11_icon.png" alt="img"> -->
                               </span>
                               <h3><span style="display: block; width: 100%:">Losing Weight with the</span> LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 2px">®</sup> System.</h3>                
                           </div>
                       </div>
                   </li>
                </ul>
            </div>
            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">               
                   <div class="container">
                       <div class="para iner11">
                          <p>You’re not a statistic. You’re someone with dreams and plans. You’ve tried fitness routines, rounds of dieting, and possibly even prescription medications. Still, your weight is affecting your health, your confidence, and your happiness.</p>

<p>So, how are you going to beat your weight problem? You need a better option. If you’re committed to transforming your life, then the LAP-BAND<sup>®</sup> System just might fit you.</p>


<p>At its most basic level, the LAP-BAND<sup>®</sup> System is a safe, minimally invasive procedure and gradual weight loss solution to help you keep your weight off over time.</p>

<p>The best news? It works. Since 1996, over 850,000 people have chosen the LAP-BAND<sup>®</sup> System, with hundreds of thousands achieving lasting, healthy weight loss.<sup>1</sup> Maybe it’s the solution you’ve been looking for. Maybe it fits. We’re here to help you find out.
</p>                  
<br />
                         <h5>Effective, safe, lasting weight loss.</h5>
<br />                         
                         <p>The ultimate reason to consider the LAP-BAND<sup>®</sup> System is that you simply want to transform your life. You want to be able to enjoy a morning bike ride. Or go on a second honeymoon. Or chase your kids around the yard. </p>

<p>You just want to feel better, both physically and emotionally. But first, you have to lose the extra weight—safely and intelligently. </p>

<p>The LAP-BAND<sup>®</sup> System can help you do that. It has been proven to provide significant weight loss—<strong><em>weight loss that lasts</em></strong>.</p>

<p>Please remember that not all weight loss centers are the same. It’s important that you go to a LAP-BAND<sup>®</sup> System Specialist for your surgery and your follow-up care. Use the LAP-BAND<sup>®</sup> System Specialist locator to find a qualified Specialist near you.</p>

<br /><br />
<style>
#modal {
    position: absolute;
    z-index: 9999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 470%;
    background: rgba(0,0,0,0.5);
}

#modal img {
    margin-top: 50%;
}
</style>
<!-- <apex:outputLink styleClass="modalImage" value="{!URLFOR($Resource.r_lapband_images1, 'images/LapBand_SJ_Broc_R04_V2_Infographic-full.jpg')}"><apex:image value="{!URLFOR($Resource.r_lapband_images1, 'images/LapBand_SJ_Broc_R04_V2_Infographic-500.jpg')}"/></apex:outputLink> -->
<!-- <apex:image styleClass="modalImage" value="{!URLFOR($Resource.r_lapband_images1, 'images/LapBand_SJ_Broc_R04_V2_Infographic-500.jpg')}"/> -->
<div class="info_graphic"></div>
<div id="modal" style="display: none;">
<p align="center">
<apex:image value="{!URLFOR($Resource.r_lapband_images1, 'images/LapBand_SJ_Broc_R04_V2_Infographic-full.jpg')}" alt="Lap-Band Statistics Infographic" />
</p>
</div>
<script>
$('.modalImage').click(function(e) {
    $('#modal').show();
});
$('#modal').click(function (e) {
    $(this).hide();
});
</script>

                          
                          
                      <!--     <p style="font-family: 'Nunito', sans-serif; font-size: 12px; color: #656565; font-weight: 300;">
<br />
<br />                          
                          <strong>Reference:</strong>
<br />1.    Data on File. Apollo Endosurgery, Inc. Austin, TX. December, 2012.
<br />2.    Robert Michaelson, Diane K. Murphy, Todd M. Gross, and Scott M. Whitcup. LAP-BAND® for Lower BMI: 2-Year Results from the Multicenter Pivotal Study. Obesity (2013) 21:1148–1158. 
<br />3.    Directions For Use (DFU). LAP-BAND AP® Adjustable Gastric Banding System with OMNIFORM® Design. Apollo Endosurgery, Inc., Austin, TX.. 10/14. www.lapband.com/HCP/directions-for-use
<br />4.    Ray James, Ray Shahla. Safety, efficacy, and durability of laparoscopic adjustable gastric banding in a single surgeon U.S. community practice. Surgery for Obesity and Related Diseases. 2011.
<br />5.    Hutter Matthew, et al. First Report from the American College of Surgeons Bariatric Surgery Center Network: Laparoscopic Sleeve Gastrectomy has Morbidity and Effectiveness Positioned Between the Band and the Bypass. September 2001.
<br />6.    DeMaria Eric, Pate Virginia, Warthen Michael, Winegar Deborah. Baseline data from American Society for Metabolic and Bariatric Surgery-designated Bariatric Surgery Centers of Excellence using the Bariatric Outcomes Longitudinal Database. Surgery for Obesity and Related Diseases 6. 2010.
<br />7.    The Longitudinal Assessment of Bariatric Surgery (LABS) Consortium. Perioperative Safety in the Longitudinal Assessment of Bariatric Surgery. The New England Journal of Medicine Vol. 361 No. 5. July 30, 2009.
<br />8.    Dixon John, Chapman Leon, O’Brien Paul. Marked Improvement in Asthma after LAP-BAND® Surgery for Morbid Obesity. Obesity Surgery. 1999.
<br />9.    Dixon John, O’Brien Paul. Health Outcomes of Severely Obese Type 2 Diabetic Subjects 1 Year After Laparoscopic Adjustable Gastric Banding. Diabetes Care, Volume 25, Number 2. February 2002.
<br />10.   Dixon John, Schachter Linda, O’Brien Paul. Sleep Disturbance and Obesity: Changes Following Surgically Induced Weight Loss. Arch Intern Med/Vol 161. Jan 8, 2001.
<br />11.   Dixon John, O’Brien Paul. Gastroesophageal Reflux in Obesity: The Effect of LAP-BAND® Placement. Obesity Surgery. 1999.

</p> -->
                        
                       </div>
                       <div class="iner11_rgt_part">
                         
                         
                      
                       <c:r_lapband_module_bmi />
                       
                       <c:r_lapband_module_call />
                       
                       <c:r_lapband_module_fit />
                                                 
                         
                         
                       </div>
                   </div>
                   
                   <c:r_lapband_call />
                   
              </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:r_lapband_footer />
            <!-- END: FOOTER -->
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:r_lapband_footer_scripts />

</body>
</html>

</apex:page>