<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>Get Ready to Lose the Weight | The LAP-BAND® System</title>
<meta name="pageset" content="loseNav" />
<meta name="description" content="Choose a life-changing solution that can help you lose weight so you can focus on life – not dieting." />

<c:r_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:r_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
      <div class="baner inner5">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/2.0_30IBStoLose.png')}" alt="img" />
                               <!-- <img src="images/iner3_icon.png" alt="img"> -->
                               </span>
                               <h3>Your plans are big <br />
                                  enough for the <br />
                                  LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 2px">®</sup> System.</h3>                              
                               
                           </div>
                       </div>
                   </li>
                </ul>
            </div>

            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">               
                    <div class="different_Systems">
                       <div class="container">
                       <p>It’s not just about where you are today. It’s where you want to be in the future. Wherever<br />
                         that is, we know you’ll want to feel and look your best. The problem is dieting alone has only 
                         gotten you so far. It’s time to rethink your strategy.  Whether you need to lose 30<br />
                         pounds or 100 pounds, the LAP-BAND<sup>®</sup> System can
                         be a life-changing solution, so you can<br /> focus on life, not dieting.</p>
                         
                           <div class="different_Types">
                             <em><apex:outputLink value="{!$Site.Prefix}/r_lapband_lose_diet">
                             <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/diet_icon.png')}" alt="img" />
                             <!-- <img src="images/diet_icon.png" alt="img"> -->
                             </apex:outputLink></em>
                             <h4><apex:outputLink value="{!$Site.Prefix}/r_lapband_lose_diet">LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 1px">®</sup> vs. <br />
                                Diet Plans</apex:outputLink>
                             <!-- <a href="#">LAP-BAND<sup>®</sup> vs. <br />
                                Diet Plans</a> --></h4>
                             <p>For most people, diets alone don’t work. The LAP-BAND<sup>®</sup> System can be the healthy, effective alternative that provides the results you’ve wanted all along. </p>
                             <apex:outputLink value="{!$Site.Prefix}/r_lapband_lose_diet" styleClass="anchor">Learn More</apex:outputLink>
                             <!-- <a href="#" class="anchor">Learn More</a> -->
                         </div>
                           <div class="different_Types">
                             <em><a href="/r_lapband_about_Affording_the_LAPBAND">
                             <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/wallet_icon.png')}" alt="img" />
                             <!-- <img src="images/wallet_icon.png" alt="img"> -->
                             </a></em>
                             <h4><a href="/r_lapband_about_Affording_the_LAPBAND">You get heavier. Your <br />
                            wallet gets lighter.</a></h4>
                             <p>Your weight might be costing you your confidence and ability to enjoy life to the fullest but it also costs you real money.  </p>
                             <a href="/r_lapband_about_Affording_the_LAPBAND" class="anchor">Learn More</a>
                         </div>
                           <div class="different_Types last">
                             <em><a href="/r_lapband_success#Brooke">
                             <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/success_story_icon.png')}" alt="img" />
                             <!-- <img src="images/success_story_icon.png" alt="img"> -->
                             </a></em>
                             <h4><a href="/r_lapband_success#Brooke">Success Story: <br />
                                Brooke</a></h4>
                             <p>"I was tired of living life at 292 lbs. I had temporary success with other weight-loss methods..."</p>
                             <a href="/r_lapband_success#Brooke" class="anchor">Learn More</a>
                         </div>
                           <i class="clear"></i>
                      </div>
                    </div>
                   
                   <c:r_lapband_call />
                   
                </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:r_lapband_footer />
            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:r_lapband_footer_scripts />

</body>
</html>

</apex:page>