<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>Contact Us | The LAP-BAND® System</title>
<meta name="description" content="Review our Privacy Policy and Terms of Use here." />

<c:r_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:r_lapband_nav />
             
                 
            <!-- END: HEADER -->
            


            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">
                   <div class="utility">
                      <div class="container">
                        <div class="utility_in">                              

            <div id="inner-page-content">
            <h1 class="contact-us">Contact Us</h1>
            <div class="clear"></div>
            <h4>Thank You.</h4>
            <p>Someone will contact you shortly regarding your inquery.</p>
            </div>
                              
                              
                          </div>
                      </div>
                       
                   </div>
                   
                </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:r_lapband_footer />
            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:r_lapband_footer_scripts />



</body>
</html>

</apex:page>