<apex:page standardcontroller="RBM_Score_Card__c" extensions="RBMScoreCardExtension" docType="html-5.0" >
<apex:includeScript value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/js/bootstrap.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/js/bootstrap.min.js')}"/>
<apex:stylesheet value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/css/bootstrap.css')}"/>
<apex:stylesheet value="{!URLFOR($Resource.bootStrap, 'bootstrap-3.1.1-dist/css/bootstrap.min.css')}"/>
<apex:variable value="{!1}" var="rowNum"/>
<style type="text/css">
body { 
font:14px "Helvetica Neue",Helvetica,Arial,sans-serif; 
}
.hidec
{
display: none;
}
</style>
<apex:messages />
<apex:form id="theForm">
<script type="text/javascript">
function updateInput(ish,field){
 document.getElementById(field).value =ish;
}

</script>
<apex:outputText style="Color:white;background-color:black;height:100px;width:100px" value="{!AccName}"/><br/>
<apex:outputText style="Color:white;background-color:black;height:100px;width:100px" value="Reimbursement Health"/><br/>
<apex:outputText style="font-weight: bold;Color:white;background-color:grey;height:10%;width:10%" value="Pre-op Reimbursement Health"/><br/><br/>
<apex:commandButton action="{!SaveRBMSC}" value="Save" id="theButton1" /><br/><br/>

<apex:outputText value="{!PicklistHelp['When_verify_patient_benefits__c']}" style="font-weight: bold" /><br/>
<apex:outputText value="{!RBM_Score_Card__c.When_verify_patient_benefits__c}" style="font-weight: bold" /><br/>
<apex:repeat value="{!PicklistValuesString['When_verify_patient_benefits__c']}" var="innerKey"> 
<apex:variable var="rowNum" value="{!rowNum+1}"/> 
<input type = "radio" name = "primary1"  id="primary1{!rowNum}" value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question1}')" checked="{!IF(RBM_Score_Card__c.When_verify_patient_benefits__c=innerKey,'Checked','False')}" />
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.When_verify_patient_benefits__c}" id="Question1" />
<br/><br/>

<!--
<apex:outputText value="{!PicklistHelp['When_verify_patient_benefits__c']}" style="font-weight: bold" /><br/>
<apex:repeat value="{!PicklistValuesString['When_verify_patient_benefits__c']}" var="innerKey">  
<input type = "radio" name = "primary1"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question1}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.When_verify_patient_benefits__c}" id="Question1" />
<br/><br/>
-->

<apex:outputText value="{!PicklistHelp['Turnaround_time_for_benefit_verification__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Turnaround_time_for_benefit_verification__c']}" var="innerKey">  
<input type = "radio" name = "primary2"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question2}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Turnaround_time_for_benefit_verification__c}" id="Question2" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Insurance_documentation_and_necessary_di__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Insurance_documentation_and_necessary_di__c']}" var="innerKey">  
<input type = "radio" name = "primary3"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question3}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Insurance_documentation_and_necessary_di__c}" id="Question3" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Payer_Employer_Policy_for_Pre_Auth__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Payer_Employer_Policy_for_Pre_Auth__c']}" var="innerKey">  
<input type = "radio" name = "primary4"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question4}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Payer_Employer_Policy_for_Pre_Auth__c}" id="Question4" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Process_dedicated_people_for_Prior_Aut__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Process_dedicated_people_for_Prior_Aut__c']}" var="innerKey">  
<input type = "radio" name = "primary5"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question5}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Process_dedicated_people_for_Prior_Aut__c}" id="Question5" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Payer_policy_for_billing_coding_aftercar__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Payer_policy_for_billing_coding_aftercar__c']}" var="innerKey">  
<input type = "radio" name = "primary6"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question6}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Payer_policy_for_billing_coding_aftercar__c}" id="Question6" />
<br/><br/>

<apex:outputText value="{!PicklistHelp['Portion_of_aftercare_billed_to_3rd_party__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Portion_of_aftercare_billed_to_3rd_party__c']}" var="innerKey">  
<input type = "radio" name = "primary7"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question7}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Portion_of_aftercare_billed_to_3rd_party__c}" id="Question7" />
<br/><br/>

<apex:outputText value="{!PicklistHelp['Manage_and_Monitory_aftercare_denails__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Manage_and_Monitory_aftercare_denails__c']}" var="innerKey">  
<input type = "radio" name = "primary8"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question8}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Manage_and_Monitory_aftercare_denails__c}" id="Question8" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Update_charge_sheet_or_EMR_for_changes__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Update_charge_sheet_or_EMR_for_changes__c']}" var="innerKey">  
<input type = "radio" name = "primary9"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question9}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Update_charge_sheet_or_EMR_for_changes__c}" id="Question9" />
<br/><br/>


<apex:outputText value="{!PicklistHelp['Working_with_local_PCP_IM_for_Aftercare__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Working_with_local_PCP_IM_for_Aftercare__c']}" var="innerKey">  
<input type = "radio" name = "primary10"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question10}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Working_with_local_PCP_IM_for_Aftercare__c}" id="Question10" />
<br/><br/>

<apex:outputText value="{!PicklistHelp['Review_renegotiate_payer_contracts__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Review_renegotiate_payer_contracts__c']}" var="innerKey">  
<input type = "radio" name = "primary11"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question11}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Review_renegotiate_payer_contracts__c}" id="Question11" />
<br/><br/>



<apex:outputText value="{!PicklistHelp['Senior_Leadership_proivde_resources__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Senior_Leadership_proivde_resources__c']}" var="innerKey">  
<input type = "radio" name = "primary12"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question12}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Senior_Leadership_proivde_resources__c}" id="Question12" />
<br/><br/>



<apex:outputText value="{!PicklistHelp['Regularly_examine_charge_masters__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Regularly_examine_charge_masters__c']}" var="innerKey">  
<input type = "radio" name = "primary13"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question13}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Regularly_examine_charge_masters__c}" id="Question13" />
<br/><br/>



<apex:outputText value="{!PicklistHelp['Checks_and_balances_of_denied_improper__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Checks_and_balances_of_denied_improper__c']}" var="innerKey">  
<input type = "radio" name = "primary14"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question14}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Checks_and_balances_of_denied_improper__c}" id="Question14" />
<br/><br/>



<apex:outputText value="{!PicklistHelp['Average_turnaround_time__c']}"  style="font-weight: bold"/><br/>
<apex:repeat value="{!PicklistValuesString['Average_turnaround_time__c']}" var="innerKey">  
<input type = "radio" name = "primary15"  value="{!innerKey}" onclick="updateInput(this.value,'{!$Component.Question15}')"/>
<apex:outputText value="{!innerKey}" /><br/>
</apex:repeat>
<apex:inputHidden value="{!RBM_Score_Card__c.Average_turnaround_time__c}" id="Question15" />
<br/><br/>







<apex:commandButton action="{!SaveRBMSC}" value="Save" id="theButton" />
</apex:form>
</apex:page>