<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<c:uk_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:uk_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
      <div class="baner inner8">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/specialist_icon.png')}" alt="img" />
                               <!-- <img src="images/specialist_icon.png" alt="img"> -->
                               </span>
                               <h3>FIND A SPECIALIST</h3>                   
                                                           
                               
                           </div>
                       </div>
                   </li>
                </ul>
            </div>

            
  <!-- SET: MAIN CONTENT -->
           <div class="main_content">
                <div class="content">               
                   <div class="specialist_part">
                       <div class="container">
                             <div class="zip_code">
                               <h4>Find By Zipcode</h4>
                                   <div class="search_box">
                                      <input class="inp" type="text" value="11222"  name="11222" onClick="this.value='';"  onBlur="this.value=!this.value?'11222':this.value;" />
                                   </div> 
                                   <h5>within</h5> 
                                   <div class="search_box1">
                                      <input class="inp" type="text" value="10"  name="10" onClick="this.value='';"  onBlur="this.value=!this.value?'10':this.value;" />
                                   </div> 
                                   <h6>miles</h6> 
                               <i class="clear"></i> 
                                <a href="#" class="search">SEARCH</a>                            
                            </div>                            
                             <div class="find_name">
                                <h4>Find By Name</h4>
                                <p>Choose one of the following: </p>
                                  <div class="search_box">
                                      <input class="inp" type="text" value="Specialist Last Name"  name="Specialist Last Name" onClick="this.value='';"  onBlur="this.value=!this.value?'Specialist Last Name':this.value;" />
                                   </div> 
                                   <div class="search_box">
                                      <input class="inp" type="text" value="Practice Name"  name="Practice Name" onClick="this.value='';"  
                                      onBlur="this.value=!this.value?'Practice Name':this.value;" />
                                   </div> 
                                   <input name="btn" type="SEARCH" class="send" value="SEARCH" onclick="SEARCH" /> 
                            </div>
                            <i class="clear"></i>
                             <span>Note: Names and details are provided for your information only. Decisions regarding choice of surgeon and treatment options are a patient&rsquo;s responsibility, as is all communication and interaction with listed medical professionals. Any information you send to a surgeon is not covered by our <a href="#">Privacy Policy.</a></span>
                             <div class="jus_Call_me">
                                <h4>Please Call Me</h4>
                                <p>Let us do the work for you. We can find specialists near you, verify your insurance<br />
                                 coverage and provide financing options.</p>
                                <div class="search_box">
                                   <input class="inp" type="text" value="First Name*"  name="First Name*" onClick="this.value='';"  onBlur="this.value=!this.value?'First Name*':this.value;" />
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Last Name*"  name="Last Name*" onClick="this.value='';" 
                                    onBlur="this.value=!this.value?'Last Name*':this.value;" />
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Phone Number* (no hyphens)"  name="Phone Number* (no hyphens)" onClick="this.value='';"  onBlur="this.value=!this.value?'Phone Number* (no hyphens)':this.value;" />
                                </div> 
                                 <div class="slect_dropdowm5">                                      
                                    <select>
                                        <option>Callback Time*</option>
                                        <option>Callback Time*</option>
                                        <option>Callback Time*</option>                                    
                                    </select>
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Pick A Date*"  name="Pick A Date*" onClick="this.value='';"  onBlur="this.value=!this.value?'Pick A Date*':this.value;" />
                                </div> 
                                <div class="slect_dropdowm5">                                      
                                    <select>
                                        <option>Your Time Zone*</option>
                                        <option>Your Time Zone*</option>
                                        <option>Your Time Zone*</option>                                    
                                    </select>
                                </div> 
                                <i class="clear"></i>
                               <input name="btn" type="SCHEDULE MY CALL" class="schedule" value="SCHEDULE MY CALL" onclick="SCHEDULE MY CALL" />  
                                 
                            </div>
                             <div id='cssmenu'>
                              <ul>
  
                               <li class='has-sub'><a href='#'><span>Find By Zipcod</span></a>
      <ul>
         <li>
             <span>
              <div class="mobile_Accordian">
                 <div class="zip_code_mobile">
                                  
                                       <div class="search_box">
                                          <input class="inp" type="text" value="11222"  name="11222" onClick="this.value='';"  onBlur="this.value=!this.value?'11222':this.value;" />
                                       </div> 
                                       <h5>within</h5> 
                                       <div class="search_box1">
                                          <input class="inp" type="text" value="10"  name="10" onClick="this.value='';"  onBlur="this.value=!this.value?'10':this.value;" />
                                       </div> 
                                       <h6>miles</h6> 
                                 
                                       <input name="btn" type="SEARCH" class="send" value="SEARCH" onclick="SEARCH" />                            
                                </div>  
              </div>
             </span>
         </li>
       
      </ul>
   </li>
                               <li class='has-sub'><a href='#'><span>Find By Name</span></a>
      <ul>
        <li>
             <span>
              <div class="mobile_Accordian">
                  <div class="find_name_mobile">
                               
                                <p>Choose one of the following: </p>
                                  <div class="search_box">
                                      <input class="inp" type="text" value="Specialist Last Name"  name="Specialist Last Name" onClick="this.value='';"  onBlur="this.value=!this.value?'Specialist Last Name':this.value;" />
                                   </div> 
                                   <div class="search_box">
                                      <input class="inp" type="text" value="Practice Name"  name="Practice Name" onClick="this.value='';"  
                                      onBlur="this.value=!this.value?'Practice Name':this.value;" />
                                   </div> 
                                   <input name="btn" type="SEARCH" class="send" value="SEARCH" onclick="SEARCH" /> 
                            </div>
              </div>
             </span>
         </li>
      </ul>
   </li>
                               <li class='has-sub'><a href='#'><span>Just Call Me</span></a>
       <ul>
          <li>
             <span>
              <div class="mobile_Accordian">
                  <div class="jus_Call_me_mobile">
                              
                                <p>Let us do the work for you. We can find specialists near you, verify your insurance<br />
                                 coverage and provide financing options.</p>
                                <div class="search_box">
                                   <input class="inp" type="text" value="First Name*"  name="First Name*" onClick="this.value='';"  onBlur="this.value=!this.value?'First Name*':this.value;" />
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Last Name*"  name="Last Name*" onClick="this.value='';" 
                                    onBlur="this.value=!this.value?'Last Name*':this.value;" />
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Phone Number* (no hyphens)"  name="Phone Number* (no hyphens)" onClick="this.value='';"  onBlur="this.value=!this.value?'Phone Number* (no hyphens)':this.value;" />
                                </div> 
                                 <div class="slect_dropdowm6">                                      
                                    <select>
                                        <option>Callback Time*</option>
                                        <option>Callback Time*</option>
                                        <option>Callback Time*</option>                                    
                                    </select>
                                </div> 
                                 <div class="search_box">
                                   <input class="inp" type="text" value="Pick A Date*"  name="Pick A Date*" onClick="this.value='';"  onBlur="this.value=!this.value?'Pick A Date*':this.value;" />
                                </div> 
                                <div class="slect_dropdowm6">                                      
                                    <select>
                                        <option>Your Time Zone*</option>
                                        <option>Your Time Zone*</option>
                                        <option>Your Time Zone*</option>                                    
                                    </select>
                                </div> 
                                <i class="clear"></i>
                               <input name="btn" type="SCHEDULE MY CALL" class="schedule" value="SCHEDULE MY CALL" onclick="SCHEDULE MY CALL" />  
                                 
                            </div>
              </div>
             </span>
         </li>
       </ul>
   </li>
                            </ul>
                             </div>
                       </div>
                   </div>
              </div>
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <script type="text/javascript">
            console.log('started');
            $(document).ready(function(){
                console.log('find a specialist page is ready');
                $('#find-a-surgeon-search').removeClass('topnav-search');   
                console.log('find a specialist page is done');          
            })
            
            function noResults(value){
            var practiceRegex = /^[*]{3}/,str,zipRegex=/^[\d]{5}$/;
            console.log( 'displayNoResultsNameOnPage start' ) ;
            if(zipRegex.test(value)){
                 str = '<div id="no-result"><p>Your search within '+ $('#find-a-surgeon-search-form-zip #search-radius').val() +' miles of <span class="zipck">'+value+'</span> did not match any persons registered within the LAP-BAND<sup>&reg;</sup> System specialist database.</p>'+
                                            '<p>Suggestions:</p>'+
                                                '<ul>'+
                                                '<li>Make sure the ZIP code is entered correctly.</li>'+
                                                '<li>Choose a larger area (within miles).</li>'+
                                                '</ul>'+
                                            '<p></p></div>';
            }else{
                if(practiceRegex.test(value)){
                    str = '<div id="no-result"><p>Your search for LAP-BAND<sup>&reg;</sup> System specialist practice "'+value.substring(3,value.length)+'" did not match any practices registered within the LAP-BAND<sup>&reg;</sup> System Specialist database.'+                
                                        '<p>Suggestions:</p>'+
                                            '<ul>'+
                                            '<li>Try a different spelling of the name.</li>'+
                                            '<li>Try a partial segment of the name.</li>'+
                                            '</ul>'+
                                        '<p></p></div>';
                              
                }else{
                    str = '<div id="no-result"><p>Your search for LAP-BAND<sup>&reg;</sup> System specialist last name "'+value+'" did not match any practices registered within the LAP-BAND<sup>&reg;</sup> System Specialist database.'+             
                                        '<p>Suggestions:</p>'+
                                            '<ul>'+
                                            '<li>Try a different spelling of the name.</li>'+
                                            '<li>Try a partial segment of the name.</li>'+
                                            '</ul>'+
                                        '<p></p></div>';
                }
            }
            $('#find-a-surgeon-results-content-end').before(str);
            console.log( 'displayNoResultsNameOnPage end' ) ;
        }
        </script>
            <c:uk_lapband_footer />
            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    

</div>
<!-- END: WRAPPER -->

<c:uk_lapband_footer_scripts />

</body>
</html>

</apex:page>