<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>Affording the LAP-BAND® System | The LAP-BAND® System</title>
<meta name="pageset" content="costNav" />
<meta name="subnavset" content="subAffording" />
<meta name="description" content="Learn how being overweight is costing you extra and why it’s worth it to take the steps now to get healthy." />
<c:uk_lapband_head />
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:uk_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
            <div class="baner inner9">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/3.1_Affording.png')}" alt="img" />
                               </span>
                               <h3>Affording the<br />LAP-BAND<sup style="font-size: 16px; line-height: 0; vertical-align: 2px">®</sup> System.</h3>                
                           </div>
                       </div>
                   </li>
                </ul>
            </div>
            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">               
                   <div class="container">
                       <div class="para iner11">
                       <h5>What Obesity Costs You.</h5>
                       <br />
                          <p>With today&rsquo;s rising health costs, you might be wondering whether you can afford the LAP-BAND<sup>®</sup> System. Here’s something else you should consider: extra weight often means extra costs. </p>

<p>Studies show, on average, a severely obese person of average height (between 90-120 lbs. overweight for women, 107-142 lbs. overweight for men) spends $1,566 more per year on health care costs compared with people in a normal weight range. A morbidly obese person of average height (above 120 lbs. overweight for women, and above 142 lbs. overweight for men) spends $2,845 more when compared to people in a normal weight range.<sup>1</sup></p>

<p>So, acting now to significantly reduce your weight may also reduce your weight-related costs over your entire lifetime. Choosing the LAP-BAND<sup>®</sup> System could actually significantly decrease your weight-related costs. </p>

<p>Then ask yourself what your confidence and ability to enjoy physical, social, and family activities is worth. All in all, the net benefit of healthy, sustained weight loss and improved health is priceless.  </p>
                          
                          
                        
                       </div>
                       <div class="iner11_rgt_part">
                       
                           <c:uk_lapband_module_financing />
                           
                           <c:uk_lapband_module_call />
                           
                           <c:uk_lapband_module_sign_up />
                       
                       </div>
                   </div>
                   
                   <c:uk_lapband_call />
                   
              </div>
            </div>
                
          
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <div class="footer">
               <div class="container">
                  <div class="footer_inn">
                      <c:uk_lapband_footer_isi />
                      <br />                 
                          <p style="font-family: 'Nunito', sans-serif; font-size: 12px; color: #656565; font-weight: 300;">
                          <strong>Reference:</strong>
                          <br />1. Dor A, Ferguson C, Langwith C, Tan E. A Heavy Burden: The Individual Costs of Being Overweight and Obese in the United States. September 2010.
                          </p>
                  </div>
               </div>
               
               <c:uk_lapband_footer_nav />
               
            </div>
            <!-- END: FOOTER -->
            
        </div>
    <!-- END: CONTAINER -->
    
<!-- </div> -->
<!-- END: WRAPPER -->

<c:uk_lapband_footer_scripts />

</body>
</html>

</apex:page>