<apex:page showHeader="false" standardStylesheets="false" sidebar="false">
<html>
<head>
<title>How It Works | The LAP-BAND® System</title>
<meta name="description" content="Let us fill you in on how the LAP-BAND® System will help you feel full faster and stay full longer." />
<c:uk_lapband_head />
<!-- <apex:includeScript value="{!URLFOR($Resource.LWJS)}"/> -->
<script type="text/javascript">
$(document).ready(function() {
                
$('input').on({
    focus: function() {
        form_name = $(this).val();
            $(this).val('');
    }, 
    blur: function() { 
        if ($(this).val() == '') {
                $(this).val(form_name);
            }
            
    }
    });
});                
</script>
<script>
                    $(document).ready(function(){
                        
                        $('input').change(function() {
                            var birthdayYear = parseInt($('#birthday_year').val());
                            var d = new Date();
                            var todaysYear = d.getFullYear();
                            
                            var ageToUse = birthdayYear - todaysYear;
                            var age = parseInt(ageToUse);
                            var feet = $('#bmi_calculator_height_feet').val();
                            var inches = $('#bmi_calculator_height_inches').val();
                            var weight = $('#bmi_calculator_weight').val();
                            var feetToInches = parseInt(feet) * 12;
                            var totalHeight = parseInt(inches) + feetToInches;
                            var height = totalHeight * totalHeight;
                            var wehe = parseInt(weight) / height;
                            var bmiToUse = wehe * 703;
                            var bmi = bmiToUse.toFixed(1);
                            
                            $('#BMI').text(bmi);
                            $('input[for="bmi"]').val(bmi);
                            
                        }).change();
                        
                    });
                    </script>
</head>

<body>

<!-- SET: WRAPPER -->
<div class="wrapper">
    
    <!-- SET: HEADER -->
             <c:uk_lapband_nav />
             
                 
            <!-- END: HEADER -->
            
            <div class="baner inner11">
                <ul>
                   <li>
                       <div class="container">
                           <div class="baner_txt inner1">
                               <span class="icon">
                               <apex:image value="{!URLFOR($Resource.r_lapband_images2, 'images/iner11_icon.png')}" alt="img" />
                               <!-- <img src="images/iner11_icon.png" alt="img"> -->
                               </span>
                               <h3>How the LAP-BAND® <br />                               
                                System works</h3>                
                           </div>
                       </div>
                   </li>
                </ul>
            </div>
            
  <!-- SET: MAIN CONTENT -->
            <div class="main_content">
                <div class="content">
                <div class="lost_weight">
                        <div class="container">
                             <div class="para iner11">
 <script type="text/javascript">
     $(document).ready(function () {
        document.getElementById('birthday_month')[0].value = '';
        document.getElementById('birthday_year')[0].value = '';
        $("#info-kit-form").validate({
            messages: {
                'gender': {
                    required: ''
                },
                zip: {
                    number: 'Please enter a valid ZIP code'
                },
                bmi_calculator_height_feet: {
                    number: ''
                },
                bmi_calculator_height_inches: {
                    number: ''
                },
                bmi_calculator_weight: {
                    number: ''
                },
                mobileNPA: {
                    number: 'Numbers only&#160;',
                    minlength: '3 numbers minimum&#160;'
                },
                phoneNPA: {
                    number: 'Numbers only&#160;',
                    minlength: '7 numbers minimum&#160;'
                },
                mobileNXX: {
                    number: 'Please enter a valid phone number',
                    minlength: '3 numbers minimum&#160;'
                },
                phoneNXX: {
                    number: 'Please enter a valid phone number',
                    minlength: '7 numbers minimum&#160;'
                }
            },
            rules: {
                first_name: "required",
                last_name: "required",
                email: {
                    required: true,
                    email: true
                },
                zip: {
                    required: true,
                    number: true,
                    minlength: 5
                },
                '00N50000002onMk': {
                    required: true
                },
                mobileNPA: {
                    required: true,
                    number: true,
                    minlength: 3
                },
                mobileNXX: {
                    required: true,
                    number: true,
                    minlength: 7
                },
                phoneNPA: {
                    number: true,
                    minlength: 3
                },
                phoneNXX: {
                    number: true,
                    minlength: 7
                },
                '00N50000002onMl': {
                    required: true,
                    number: true
                },
                '00N50000002onMm': {
                    required: true,
                    number: true
                },
                '00N50000002onMq': {
                    required: true,
                    number: true
                },
                '00N50000002onMe': {
                    required: true
                },
                '00N50000002onMf': {
                    required: true
                },
                Address1: { required: "#opt-in-mail:checked" },
                '00N50000002onMc':{
                    required: true
                },
                '00N50000002onMb': {
                    required: true
                }
            },
            ignore: ':hidden'
        });

        $('#OptInSMS').click(function () {
            $('#opt-in-text-cell-container').toggle();
        });

        $('#OptInPhone').click(function () {
            $('#opt-in-phone-container').toggle();
        });
        $('#opt-in-mail').click(function () {
            $('#address-01-label span').toggle();
            $('#Address1').toggleClass('error');
        });
        
        $('input[name=mobileNPA],input[name=mobileNXX]').change(function(){
            var npa = $('#mobileNPA').val();
            var nxx = $('#mobileNXX').val();
            var mobile = '(' + npa + ')' + nxx;
            console.log('mobile',mobile);
            $('#mobile').val(mobile);
            console.log($('#mobile').val());
        });
        
        $('input[name=phoneNPA],input[name=phoneNXX]').change(function(){
            var npa = $('#phoneNPA').val();
            var nxx = $('#phoneNXX').val();
            var phone = '(' + npa + ')' + nxx;
            console.log('phone',phone);
            $('#phone').val(phone);
            console.log('phone',$('#phone').val());
        });
        
        $('#opt-in-phone-cell').change(function(){
            var isChecked = $('#opt-in-phone-cell').val();
            $('#phone').val($('#mobile').val());
            console.log('phone',$('#phone').val());
        });
    });
    
</script>

        <h5 class="info-kit">Request FREE Information About LAP-BAND&#174; System</h5>
        <div id="content-left">
            <p>The LAP-BAND<sup>&#174;</sup> System Information Kit provides you with detailed information about the LAP-BAND<sup>&#174;</sup> Adjustable Gastric Banding System. The kit is available to you by email and includes:</p>
            <ul>
                <li>A Welcome Letter</li>
                <li>An Introductory Brochure that covers the LAP-BAND<sup>&#174;</sup> System in detail</li>
                <ul>
                    <li>More about the LAP-BAND<sup>&#174;</sup> System</li>
                    <li>How it helps you lose weight</li>
                    <li>Information about who may qualify</li>
                    <li>Potential risks and complications</li>
                </ul>
                <li><strong>A Doctor Discussion Guide</strong> to help start the discussion with your doctor and your surgeon</li>
                <li><strong>A list of the LAP-BAND<sup>&#174;</sup> System specialists in your area</strong></li>
            </ul>
            <h5>Complete this form to receive your free information by email.</h5>
            <form name="info-kit-form" id="info-kit-form" action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="post"> 
                <input type="hidden" name="oid" value="00D50000000JUZT"/>
                <input type="hidden" name="retURL" value="http://www.lapband.com/learn-about-lapband/thank-you"/>
                <fieldset>
                    <p>*Required Fields</p>
                    <h4>Your Information</h4>
                    <span>
                        <!-- <label for="Firstname" class="left-field">*First Name:</label> -->
                        <input type="text" class="text" name="first_name" id="Firstname" value="First Name*" />
                    </span>
                    <span>
                        <!-- <label for="last_name" class="left-field">*Last Name:</label> -->
                        <input type="text" class="text" name="last_name" id="Lastname" value="Last Name*" />
                    </span>
                    <span>
                        <!-- <label for="email" class="left-field">*Email Address:</label> -->
                        <input type="text" class="text" name="email" id="email" value="Email Address*" />
                    </span>
                    <span>
                        <!-- <label for="street" class="left-field" id="address-01-label"><span>*</span>Street Address :</label> -->
                        <input type="text" class="text" name="street" id="Address1" value="Street Address*" />
                    </span>
                    <!-- <span>
                        <label for="address-02" class="left-field">Street Address 2:</label>
                        <input type="text" class="text" name="Address2" id="Address2" />
                    </span>-->
                    <span>
                        <!-- <label for="firstName" class="left-field">City/Town:</label> -->
                        <input type="text" class="text" name="city" id="Vity" value="City/Town" />
                    </span>
                    <span>
                        <!-- <label for="state" class="left-field">State</label> -->
                        <span class="style-select">
                        <select name="state" id="stateID">
                        <option value="1">State</option>
                                <option value="Alabama" >Alabama</option>                        <option value="Alaska" >Alaska</option>                        <option value="Arizona" >Arizona</option>                        <option value="Arkansas" >Arkansas</option>                        <option value="California" >California</option>                        <option value="Colorado" >Colorado</option>                        <option value="Connecticut" >Connecticut</option>                        <option value="Delaware" >Delaware</option>                        <option value="District of Columbia" >District of Columbia</option>                        <option value="Florida" >Florida</option>                        <option value="Georgia" >Georgia</option>                        <option value="Hawaii" >Hawaii</option>                        <option value="Idaho" >Idaho</option>                        <option value="Illinois" >Illinois</option>                        <option value="Indiana" >Indiana</option>                        <option value="Iowa" >Iowa</option>                        <option value="Kansas" >Kansas</option>                        <option value="Kentucky" >Kentucky</option>                        <option value="Louisiana" >Louisiana</option>                        <option value="Maine" >Maine</option>                        <option value="Maryland" >Maryland</option>                        <option value="Massachusetts" >Massachusetts</option>                        <option value="Michigan" >Michigan</option>                        <option value="Minnesota" >Minnesota</option>                        <option value="Mississippi" >Mississippi</option>                        <option value="Missouri" >Missouri</option>                        <option value="Montana" >Montana</option>                        <option value="Nebraska" >Nebraska</option>                        <option value="Nevada" >Nevada</option>                        <option value="New Hampshire" >New Hampshire</option>                        <option value="New Jersey" >New Jersey</option>                        <option value="New Mexico" >New Mexico</option>                        <option value="New York" >New York</option>                        <option value="North Carolina" >North Carolina</option>                        <option value="North Dakota" >North Dakota</option>                        <option value="Ohio" >Ohio</option>                        <option value="Oklahoma" >Oklahoma</option>                        <option value="Oregon" >Oregon</option>                        <option value="Pennsylvania" >Pennsylvania</option>                        <option value="Rhode Island" >Rhode Island</option>                        <option value="South Carolina" >South Carolina</option>                        <option value="South Dakota" >South Dakota</option>                        <option value="Tennessee" >Tennessee</option>                        <option value="Texas" >Texas</option>                        <option value="Utah" >Utah</option>                        <option value="Vermont" >Vermont</option>                        <option value="Virginia" >Virginia</option>                        <option value="Washington" >Washington</option>                        <option value="West Virginia" >West Virginia</option>                        <option value="Wisconsin" >Wisconsin</option>                        <option value="Wyoming" >Wyoming</option>                        <option value="Puerto Rico" >Puerto Rico</option>                </select>
                        </span>
                    </span>
                    <span>
                        <!-- <label for="zip" class="left-field">*ZIP Code</label> -->
                        <input type="text" class="text" name="zip" id="zip" maxlength="5" value="Zip Code*" />
                    </span>
                    <p><strong>(The zip code field is required so that we can send you a list of local LAP-BAND<sup>&#174;</sup> System specialists<br />in your area.)</strong></p>
                    
                    <c:uk_lapband_BMI_Calculator />
                    <br />
                    <br />
                    <span id="checkbox-acknowledge">
                        <input type="checkbox" class="checkbox" name="00N50000002onMc" id="00N50000002onMc" value="1" />
                        <label for="acknowledge" class="acknowledge">I acknowledge that I have a BMI of at least 40 kg/m&#178; or a BMI of at least 30 kg/m&#178; with one or more obesity-related comorbid conditions and that I understand the qualification criteria for LAP-BAND<sup>&#174;</sup> System Surgery. <a href="lapband-is-for-you">What are the qualification criteria?</a></label>
                    </span>
                    <br /><br />
                    <span id="checkbox-18OrOlder">
                        <input style="text-align: left; margin-left: 5px;" type="checkbox" class="checkbox" name="00N50000002onMb" id="00N50000002onMb" value="1" />
                        <label style="width: 250px;" for="18OrOlder">I confirm that I am 18 or older.</label>
                    </span>
                    <hr />
                    <div class="form-rule"></div>
                    <p><strong>Yes, Apollo Endosurgery may contact me</strong> regarding news and information about the LAP-BAND<sup>&#174;</sup> System using the following methods of communication:</p>
                    <p></p>
                    <span>
                        <input type="checkbox" class="checkbox" name="00N50000002onMg" id="OptInEmail" value="1"/>
                        <label for="opt-in-email">Email</label>
                    </span>
                    <span>
                        <input style="height: 50px;" type="checkbox" class="checkbox" name="00N50000002onMj" id="OptInSMS" value="1"/>
                        <label for="OptInSMS">Text Messaging</label>
                        
                        <span id="opt-in-text-cell-container">
                            <label for="mobileNPA">&nbsp;&nbsp;&nbsp;*Cell Number:&#160;&#160;(</label>
                            <input style="width:50px;" type="text" class="text area-code" name="mobileNPA" id="mobileNPA" maxlength="3" />
                            <label>)</label>
                            <input style="width:120px;" type="text" class="text phone" name="mobileNXX" id="mobileNXX" maxlength="8" />
                            <input  id="mobile" maxlength="40" name="mobile" size="20" type="hidden" />
                        </span>
                    </span>
                    <span>
                        <input type="checkbox" class="checkbox" name="00N50000002onMi" id="OptInPhone" value="1"/>
                        <label for="OptInPhone">Phone</label>
                        <span id="opt-in-phone-container">
                            <input type="radio" class="radio" name="opt-in-phone" id="opt-in-phone-cell" value="1"/>
                            <label for="opt-in-phone-cell">Use same number as my Cell Number</label>
                            <input type="radio" class="radio" name="opt-in-phone" id="opt-in-phone-phone" value="1"/>
                            <label for="opt-in-phone-phone">Use Phone Number&#160;&#160;(</label>
                            <input type="text" class="text area-code" name="phoneNPA" id="phoneNPA" maxlength="3" />
                            <label>)</label>
                            <input type="text" class="text phone" name="phoneNXX" id="phoneNXX" maxlength="8" />
                            <input  id="phone" maxlength="40" name="phone" size="20" type="hidden" />
                        </span>
                    </span>
                    <span>
                            <input type="checkbox" class="checkbox" name="00N50000002onMh" id="opt-in-mail" value="1"/>
                            <label for="opt-in-mail">Mail</label>
                    </span>
                    <input type="hidden"  id="lead_source" name="lead_source" value="LAP-BAND - Info Kit"/>
 
                    <input type="hidden" id="00N50000002oiCk" name="00N50000002oiCk" value="Consumer"/>
                    <span>
                        <input type="submit" class="submit" value="" title="SIGN UP FOR INFO KIT" />
                    </span>
                    <p><a href="../Privacy-Policy">Read Apollo Endosurgery&rsquo;s Privacy Policy.</a></p>
                </fieldset> 
            </form>
        </div>
    </div>
 </div>
</div></div>
           <!-- END: MAIN CONTENT -->
            <!-- SET: FOOTER -->
            <c:uk_lapband_footer />
            <!-- END: FOOTER -->
             </div>
        </div>
    <!-- END: CONTAINER -->
<!-- </div> -->
<!-- END: WRAPPER -->
<!-- <script>
$( document ).ready(function() {
    $('#infoToShow').hide();
    $('#imageInfoWrapper img').click(function() {
        var infoToSee = $(this).attr('class');
        var content = $('#infoHidden > span[info="'+infoToSee+'"]').html();
        $(this).siblings('img').hide();
        $('#infoToShow a').removeClass('arrowDown').addClass('arrowUp');
        $('#infoToShow').animate({ height: '250px'},600, function() {
            $('#infoToShow a').removeClass('arrowUp').addClass('arrowDown');
            });
        $('#infoToShow').show();
        $('#shownInfo').html(content);
    });
    $('#imageInfoWrapper a').click(function() {
        $('#imageInfoWrapper img').show();
        $('#infoToShow').animate({ height: '0px'},600, function(){
            $(this).hide();
        });
    });
});
</script> -->

<c:uk_lapband_footer_scripts />

</body>
</html>

</apex:page>