﻿<!-- 
 @Developer Name: Roshan Pillai 
 @Page Name		: SL_Intranet_SiteTemplate
 @JIRA Ticket   : Socint-15
 @Created on    : 08/Feb/13
 @Modified by   : SL
 @Description   : This page is used as a Template page for Intranet Application. 
-->

<apex:page id="SL_Intranet_SiteTemplate" showheader="false" standardstylesheets="false" cache="false">

<!-- 	<meta name="viewport" content="initial-scale=1, maximum-scale=1"/> -->
<!-- 	<meta name="apple-mobile-web-app-capable" content="yes" /> -->
<!-- 	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" /> -->
	
    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/all.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/top-header.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/banner-search.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/navigation.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/alerts.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/apps-links.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/my-groups.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/offices.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/social-feed.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/staff-updates.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/footer.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/media-queries.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/profile-overview.css')}" />
	
<!-- 	<link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/ie.css')}" /> -->

	<!-- Used For Employee Profile -->
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/all-employees.css')}" />
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/offices-views.css')}" />
	<!-- End -->
	
	<!-------------------  Including Styles for Chatter file preview ------------------------->
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/chatterCore.css')}" />
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/ChatterExtended.css')}" />
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/chatterElement.css')}" />
	<!-------------------  End of Including Styles for Chatter file preview ------------------->
	
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/jquery-1.8.3.min.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/browser.detect.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/hide.chrome.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/match.media.js')}"></script>
	
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/jcf.custom.forms.js')}"></script>
	
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/clear.inputs.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/tabs.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/lib.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/touch.nav.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/child.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/accordion.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/add.focus.class.js')}"></script>
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/pressed.state.js')}"></script>
	
	
	<!-- To detect the availability of flash playre -->
	<script src="{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/swfobject.js')}"></script>
	<!-- End -->
	 
	<script>
		// Detect rules
		PlatformDetect.addRule({type: 'iphone', css: 'iphone.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
		PlatformDetect.addRule({type: 'ipad', css: 'ipad.css', meta: '<meta name="viewport" content="width=1100" />'});
		PlatformDetect.addRule({type: 'android', deviceType: 'mobile', css: 'android.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
		PlatformDetect.addRule({type: 'android', deviceType: 'tablet', css: 'android.css', meta: '<meta name="viewport" content="width=device-width" />'});
		PlatformDetect.addRule({type: 'blackberry', css: 'blackberry.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
		
		//To get the availability of flash player
		var playerVersion = swfobject.getFlashPlayerVersion();
	  	var flashVersion = playerVersion.major + "." + playerVersion.minor + "." + playerVersion.release;
	  	var isFilePreviewDisplay = true;
	  	if(flashVersion=='0.0.0')
	  		isFilePreviewDisplay = false;
	</script>
	
	<style>
		.waitingSearchDiv{position:absolute;text-align:center;top:0;z-index:80;left:0}
		.waitingHolder{font-weight:bold;font-size:1.20em;position:relative;padding:0.5em;white-space:nowrap;margin:auto;width:40%;top:45%;}
		.waitingDescription{padding:0 1.5em 0 0.5em}
	</style>
	
	<link media="all" rel="stylesheet" type="text/css" href="{!URLFOR($Resource.IntranetHub,'/IntranetHub/css/UpdatedDefault.css')}" />
	
	<script type="text/javascript">
		// hide chrome on page load
		initHideChrome();
		
		// page initialization
		jQuery(function(){
			jcf.customForms.replaceAll();
			initInputs();
			initAccordionInner();
			initAccordion();
			initTabs();
			initTouchNav();
			initChild();
			initAddFocusClass();
		});
		
		function reRenderCss()
		{
			jcf.customForms.replaceAll();
			initInputs();
			initAccordionInner();
			initAccordion();
			initTabs();
			initTouchNav();
			initChild();
			initAddFocusClass();
		}

		//For encoding special characters
		function urlEncoder(parameter)
		{
			parameter = parameter.replace(/%/g, "%25");

			parameter = parameter.replace(/!/g , '%21');

			parameter = parameter.replace(/"/g , '%22');

			parameter = parameter.replace(/#/g , '%23'); 

			parameter = parameter.replace(/&/g , '%26');

			parameter = parameter.replace(/'/g , '%27');

			parameter = parameter.replace(/\\/g , '%5C');

			while(parameter.indexOf('(') != -1)
				parameter = parameter.replace('(' , '%28');

			while(parameter.indexOf(')') != -1)
				parameter = parameter.replace(')' , '%29');

			while(parameter.indexOf('*') != -1)
				parameter = parameter.replace('*', '%2A');

			while(parameter.indexOf('+') != -1)
				parameter = parameter.replace('+' , '%2B');

			while(parameter.indexOf(',') != -1)
				parameter = parameter.replace(',' , '%2C');

			while(parameter.indexOf('-') != -1)
				parameter = parameter.replace('-' , '%2D');

			while(parameter.indexOf('.') != -1)
				parameter = parameter.replace('.' , '%2E');

			while(parameter.indexOf('/') != -1)
				parameter = parameter.replace('/' , '%2F');

			return parameter ;
		}
		
		function hideAddressBar1()
		{
			//if(!window.location.hash)
			{
				if(document.height < window.outerHeight)
				{
					document.body.style.height = (window.outerHeight + 50) + 'px';
				}
				setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
			}
		}
 
			if (window.addEventListener) {
				    window.addEventListener("orientationchange", hideAddressBar1);
				}
				else {
				}
	</script>
	
	<body class="mobile" id="bodyId" >
		
		<!-- wrapper -->
		<div id="wrapper">
			
			<!-- Header section -->
			<apex:insert name="Header"/>
			<!-- End of Header Section -->

			<!-- Main content area -->
			<div id="main">
				
<!-- 				<div id="sidebar" style="margin:0px;display: table-cell;float:none;padding:25px 16px 0 0;"> -->
					<apex:insert name="leftSideBar"/> <!-- Left Side Bar Section -->
<!-- 				</div> -->

				<apex:insert name="MainSection"/>	<!-- Page Body Center Section -->

				<apex:insert name="RightSideBar"/> <!-- Right Side Bar Section  -->

			</div>
			<!-- End of Main content area -->
			
			<apex:insert name="MobileView"/> 
			
			<!-- Footer section -->
			<c:SL_IntranetFooter />
			<!-- End of Footer -->
			 
			<!-- Start of Action status --> 
			<apex:actionstatus id="loader">
		        <apex:facet name="start">
		            <div id="salesforceSource_blurybackground" style="position:fixed; left:1px; top:1px; width:100%;height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.4;filter:alpha(opacity=40)"></div>
	                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
	                    <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
	                        <table align="center" valign="middle" style="width: 100%; height: 30%">
	                            <tr align="center" valign="middle" style="width: 100%; height: 30%">
	                                <td valign="middle"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
	                            </tr>
	                        </table>
	                    </div>
	                </div>
		            <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "></div>
		            <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
		        </apex:facet>
		    </apex:actionstatus>
			<!-- End of Action status -->
			
		</div>
	</body>
	
	<script>
		
		function IsIE8Browser() {
		    var rv = -1;
		    var ua = navigator.userAgent;
		    var re = new RegExp("Trident\/([0-9]{1,}[\.0-9]{0,})");
		    if (re.exec(ua) != null) {
		        rv = parseFloat(RegExp.$1);
		    }
		    return (rv == 4);
		}
		
		if(!(IsIE8Browser() && !(navigator.userAgent).indexOf("Windows NT 5.1") != -1))
		{
		    document.write("<script src='{!URLFOR($Resource.IntranetHUB,'/IntranetHub/js/respond.js')}'/>");
		}
		
	</script>
	
</apex:page>