<apex:page id="SL_Intranet_SiteTemplate" showheader="false" standardstylesheets="true" cache="false">

    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/css/all.css')}" />
    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/css/logo.css')}" />
    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/css/footer.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/css/media-queries.css')}" />
	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/css/social-feed.css')}" />
	
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/jquery-1.8.3.min.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/browser.detect.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/hide.chrome.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/match.media.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/respond.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/jcf.custom.forms.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/clear.inputs.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/tabs.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/lib.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/touch.nav.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/child.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/accordion.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/add.focus.class.js')}"></script>
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/pressed.state.js')}"></script>
    
    <!-- To detect the availability of flash playre -->
    <script src="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/js/swfobject.js')}"></script>
    <!-- End -->
     
    <script>
        // Detect rules
        PlatformDetect.addRule({type: 'iphone', css: 'iphone.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
        PlatformDetect.addRule({type: 'ipad', css: 'ipad.css', meta: '<meta name="viewport" content="width=1100" />'});
        PlatformDetect.addRule({type: 'android', deviceType: 'mobile', css: 'android.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
        PlatformDetect.addRule({type: 'android', deviceType: 'tablet', css: 'android.css', meta: '<meta name="viewport" content="width=device-width" />'});
        PlatformDetect.addRule({type: 'blackberry', css: 'blackberry.css', meta: '<meta name="viewport" content="width=640, initial-scale=0.5, maximum-scale=0.5" />'});
        
        //To get the availability of flash player
        var playerVersion = swfobject.getFlashPlayerVersion();
        var flashVersion = playerVersion.major + "." + playerVersion.minor + "." + playerVersion.release;
        var isFilePreviewDisplay = true;
        if(flashVersion=='0.0.0')
            isFilePreviewDisplay = false;
    </script>
    
    <script type="text/javascript">
        // hide chrome on page load
        initHideChrome();
        
        // page initialization
        jQuery(function(){
            jcf.customForms.replaceAll();
            initInputs();
            initAccordionInner();
            initAccordion();
            initTabs();
            initTouchNav();
            initChild();
            initAddFocusClass();
        });
        
        function reRenderCss()
        {
            jcf.customForms.replaceAll();
            initInputs();
            initAccordionInner();
            initAccordion();
            initTabs();
            initTouchNav();
            initChild();
            initAddFocusClass();
            adjustBorderHeight();
        }

        //For encoding special characters
        function urlEncoder(parameter)
        {
            parameter = parameter.replace(/%/g, "%25");

            parameter = parameter.replace(/!/g , '%21');

            parameter = parameter.replace(/"/g , '%22');

            parameter = parameter.replace(/#/g , '%23'); 

            parameter = parameter.replace(/&/g , '%26');

            parameter = parameter.replace(/'/g , '%27');

            parameter = parameter.replace(/\\/g , '%5C');

            while(parameter.indexOf('(') != -1)
                parameter = parameter.replace('(' , '%28');

            while(parameter.indexOf(')') != -1)
                parameter = parameter.replace(')' , '%29');

            while(parameter.indexOf('*') != -1)
                parameter = parameter.replace('*', '%2A');

            while(parameter.indexOf('+') != -1)
                parameter = parameter.replace('+' , '%2B');

            while(parameter.indexOf(',') != -1)
                parameter = parameter.replace(',' , '%2C');

            while(parameter.indexOf('-') != -1)
                parameter = parameter.replace('-' , '%2D');

            while(parameter.indexOf('.') != -1)
                parameter = parameter.replace('.' , '%2E');

            while(parameter.indexOf('/') != -1)
                parameter = parameter.replace('/' , '%2F');

            return parameter ;
        }
        
        function hideAddressBar1()
        {
			if(document.height < window.outerHeight)
			    document.body.style.height = (window.outerHeight + 50) + 'px';

			setTimeout( function(){ window.scrollTo(0, 1); }, 50 );
        }
 
        window.addEventListener("orientationchange", hideAddressBar1 );
    </script>
    
    <style>
        .waitingSearchDiv{position:absolute;text-align:center;top:0;z-index:80;left:0}
        .waitingHolder{font-weight:bold;font-size:1.20em;position:relative;padding:0.5em;white-space:nowrap;margin:auto;width:40%;top:45%;}
        .waitingDescription{padding:0 1.5em 0 0.5em}
        
        .wc-page {
            width: 100%;
            visibility: hidden;
        }
        
        .wc-page .wc-widget h1 {
            color: #0096D6;
            font-size: 1.916em;
            line-height: 1.13em;
        }
        
        .wc-page .wc-widget h2{
            color: #515151;
            font-size: 1.417em;
            line-height: 1.176em;
        }
        
        .wc-page .wc-widget h3{
            font-size: 1.333em;
            line-height: 1.1875em;
        }
        
        .wc-page .wc-widget h3 a{
            color: #8ab8e5;
        }
        
        .wc-page .wc-widget{
            width: 100%;
            margin: 0px;
        }
        
        .wc-page .wc-content {
        	width: 100%;
        	float:left;
        }       
        
        .wc-page .wc-region{
            overflow: hidden;
            width: 1000px;
            margin: 0 auto;
        }
        
        .wc-page .wc-region .banner{
            overflow: hidden;
            width: 1000px;
        }
        
        .wc-page .wc-region .left{
            width: 234px;
            border-right: 1px solid #ddd;
            padding: 15px 15px 15px 0px;   
            float: left;
            height: 100%;
        }
        
        .wc-page .wc-region .main{
            overflow: hidden;
            padding: 15px;  
            border-right: 1px solid #ddd;
            border-left: 1px solid #ddd;
            margin-left: -1px;
            width: 470px;
            float: left;
        }
        
        .wc-page .wc-region .right{
            width: 234px;
            border-left: 1px solid #ddd;
            padding: 15px 0px 15px 15px; 
            margin-left: -1px;
            float: right;
            height: 100%;
        }
        
        .wc-page .wc-footer{
            background: #0aa6d6;
            border-top: 1px solid #bbb;
            margin: 0 auto;
            overflow: hidden;
            text-align: center;
            color: #90aac2;
            font-size: 0.917em;
            line-height: 1.273em;
            min-width: 1000px;
        }
        
        .wc-page .wc-footer p{
            color: white;
        }
        
        .wc-page .wc-mobile{display : none;}
        .wc-page .wc-widget-mobile {display:none;}
        
       /* Desktop */ 
       @media only screen and (max-width:1020px){
            .wc-page .wc-region{display : block;}
            .wc-page .wc-footer{display : block;}
            .wc-page .wc-widget {display:block;}
            .wc .wc-page .wc-header{display:block}
            .wc-page .wc-mobile{display : none;}
            .wc-page .wc-widget-mobile {display:none;}
            body {min-width: 1000px;}
            .list td, .list th, body.oldForecast .list .last td, body.oldForecast .list .last th {
				padding: 4px 2px 4px 5px;
				border-bottom: 1px solid #e3deb8;
			}
        }
        
         /* Mobile */ 
        @media only screen and (max-width:650px){
            .wc-page .wc-region{display : none;}
            .wc-page .wc-footer{display : none;}
            .wc-page .wc-widget {display:none;}
            .wc .wc-page .wc-header{display:none;}
            .wc-page .wc-mobile{display : block;}
            .wc-page .wc-widget-mobile {display:block;}
            body {min-width: 590px;}
            .list td, .list th, body.oldForecast .list .last td, body.oldForecast .list .last th {
				padding: 0px;
				border-bottom: none;
			}
        }
    
    </style>
    
    <!--  Start : This component is used for color and branding -->
   	<c:SL_IntranetCustomizableComponent />
	<!--  End : This component is used for color and branding  -->
    
    <body class="wc" >
        
        <div class="wc-page">
            
            <!-- Header section -->
            <div class="wc-content">
	            <div class="wc-header">
	                <apex:insert name="Header"/>
	            </div>
            </div>
            <!-- End of Header Section -->

            <!-- Main content area -->
            <div class="wc-content">
	            <div class="wc-region">
	                
	                <div class="banner">
	                    <apex:insert name="BannerRegion"/> <!-- Banner Region Section -->
	                </div>
	                
	                <div class="left">
	                    <apex:insert name="LeftSideBar"/> <!-- Left Side Bar Section -->
	                </div>
	                
	                <div class="main" id="mainSectionDiv">
	                    <apex:insert name="MainSection"/>   <!-- Center Section -->
	                </div>
	                
	                <div class="right">
	                    <apex:insert name="RightSideBar"/> <!-- Right Side Bar Section  -->
	                </div>
	
	            </div>
            </div>
            <!-- End of Main content area -->
            
            <!-- Mobile section -->
            <div class="wc-content"> 
	            <div class="wc-mobile">
	                <apex:insert name="MobileView"/> 
	            </div>
            </div>
            <!-- End : Mobile section --> 
            
            <!-- Footer section -->
            <div class="wc-content"> 
	            <div class="wc-footer" >
	                <p>Copyright ©2013-2014 Silverline. All rights reserved.</p>
	            </div>
            </div>
            <!-- End of Footer -->
            
        </div>
        
        <!-- Start of Action status -->  
        <apex:actionstatus id="loader">
            <apex:facet name="start">
                <div id="salesforceSource_blurybackground" style="position:fixed; left:1px; top:1px; width:100%;height:100%; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.4;filter:alpha(opacity=40)"></div>
                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 80%; display: ''; ">
                    <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
                        <table align="center" valign="middle" style="width: 100%; height: 30%">
                            <tr align="center" valign="middle" style="width: 100%; height: 30%">
                                <td valign="middle"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "></div>
                <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
            </apex:facet>
        </apex:actionstatus>
        <!-- End of Action status -->
        
    </body>
    
    <script>
        $(document).ready(function(){
            adjustBorderHeight();
            
            adjustBannerRegionHeight();
               
            /* Dynamic components are enclosed within div class=apexp when standardstylesheets=true which causes CSS issue n this app.
	           As such we are changing the class names of the div elements to eliminate the CSS overrides
	        */
            $('.apexp').attr('class', '');
            $('.bPageBlock').attr('class', '');
            $('.wc-page').css('visibility','visible');
        });
        
        function adjustBorderHeight1()
        {
        	var vLHeight = $(".wc-page .wc-region .left").height();
            var vRHeight = $(".wc-page .wc-region .right").height();
            if(vLHeight > vRHeight)
                $(".wc-page .wc-region .right").css('min-height', vLHeight);
            else if(vLHeight < vRHeight)    
                $(".wc-page .wc-region .left").css('min-height', vRHeight);
        }
        
        function adjustBorderHeight()
        {
        	var vRHeight = $(".wc-page .wc-region").height();
            $(".wc-page .wc-region .right").css('min-height', vRHeight-30);
            $(".wc-page .wc-region .left").css('min-height', vRHeight-30);
        }
       
        function adjustBannerRegionHeight()
        {
        	var vBannerPadding = document.getElementsByClassName('banner');
        	var vChildNode = vBannerPadding[0].childNodes.length;
        	for(var i=0; i<vChildNode; i++)
		    {
		        if(vBannerPadding[0].childNodes[i].nodeType == 1)
		        {
		           $(".wc-page .wc-region .banner").css('padding-top', '15px');
		           break;
		        }
			}
        }
        
    </script>
    
</apex:page>