<apex:page controller="SLSI.SL_IntranetDepartmentsLookupController" standardstylesheets="True" cache="false">
	<apex:form >
        <apex:pageblock title="Select Departments" id="multiselect">
            
            <apex:pageBlockButtons >
            	<apex:commandButton value="Cancel" action="{!cancel}" rerender="dummy"/>
            	<apex:commandButton value="Save" action="{!saveDepartmentLocations}" rerender="dummy"/>
            </apex:pageBlockButtons>
           
            <apex:outputlabel id="dummy"/>
            
            <apex:pageblocksection columns="2">
                <apex:pageblocksectionitem >
                    <apex:outputpanel >
                    
                    <!-- To create a Multiselect Picklist -->
                    <table class="multiSelectPicklistTable" border="0" cellpadding="0" cellspacing="0" align="center">
                        <tr width="400px">
		               		<th width="170px" style="text-align: center;">
		               			<span >Available</span>
		               		</th>
		               		<th width="60px"></th>
		               		<th width="170px" style="text-align: center;">
		               			<span >Selected</span>
		               		</th>
		               	</tr>
                        <tr>
                            <td>
                                <!-- List of unselected items -->
                                <apex:selectList id="unSelectedMSP" style="width:170px" size="10" multiselect="true" ondblclick="return selectedMSP();">   
                                    <apex:selectOptions value="{!unselectedItems}"/>  
                                </apex:selectList>
                            </td>   
                            <td class="multiSelectPicklistCell" style="text-align: center;">
                                <p style="margin-top: 20px;">Add</p>
                                <span>
                                	<a onclick="return selectedMSP();" title="Add">
                                		<img src="/s.gif" alt="Add" class="picklistArrowRight" style="cursor: pointer;" title="Add"/>
                                	</a>
                                	<br/><br/>
                                </span>
                                <span>
                                	<a onclick="return unselectedMSP();" title="Remove">
                                		<img src="/s.gif" alt="Remove" class="picklistArrowLeft" style="cursor: pointer;" title="Remove"/>
                                	</a>Remove 
                                </span>
								
                            </td>
                            <td>
                                <!-- List of selected items -->
                                <apex:selectList id="selectedMSP" style="width:170px" size="10" multiselect="true" ondblclick="return unselectedMSP();">   
                                    <apex:selectOptions value="{!SelectedItems}"/>
                                </apex:selectList>
                                <script>
                                    //To get Unselected value of Multiselect Picklist
                                    function getunSelectedValues() {
                                        return document.getElementById("{!$Component.unSelectedMSP}"); 
                                    }
                                    
                                    //To get selected value of Multiselect picklist
                                    function getSelectedValues() {
                                        return document.getElementById("{!$Component.selectedMSP}"); 
                                    }
                                </script>
                            </td>    
                        </tr>
                    </table>
                    
                    <!-- To bind the value of Multiselect Picklist -->
                    <apex:inputHidden value="{!strDepartmentLocations}" id="theHiddenInput"/>
                    <script>
                        function setDepartmentLocation(strSelectedValue) {    
                            var inputHidden = document.getElementById("{!$Component.theHiddenInput}");
                            inputHidden.value = strSelectedValue;
                        }
                    </script>
                    </apex:outputpanel>
                </apex:pageblocksectionitem>
            </apex:pageblocksection>
        </apex:pageblock>
    </apex:form>
    
    <script>
        //To add the options on Selected list and remove those options from Unselected list
        function selectedMSP() {
            var strResolutionCodeNames = '';
            var arrayToSortSelectedValues = new Array();
            var arrayMap = new Array();
            var unselectOptions = getunSelectedValues();
            var selectedOptionsArray = new Array();
            for(var i=0;i<unselectOptions.options.length;i++) {
                if(unselectOptions.options[i].selected) {
                    selectedOptionsArray.push(unselectOptions.options[i]);
                    unselectOptions.removeChild(unselectOptions.options[i]);
                    i--;
                }
            }
            var selectOptions = getSelectedValues();
            for(var i=0;i<selectedOptionsArray.length;i++) {
                selectedOptionsArray[i].selected = false;
                selectOptions.appendChild(selectedOptionsArray[i]);
            }
            
            for(var i=0;i<selectOptions.options.length;i++) {
                arrayToSortSelectedValues.push(selectOptions.options[i].value);
                arrayMap.push(mapValueToHtmlElement(selectOptions.options[i]));
                selectOptions.removeChild(selectOptions.options[i]);
                i--;
            }
            
            arrayToSortSelectedValues.sort();
            for(var i=0;i<arrayToSortSelectedValues.length;i++) {
                for(var j=0;j<arrayMap.length;j++) {
                    if(arrayToSortSelectedValues[i] == arrayMap[j].value)
                        selectOptions.appendChild(arrayMap[j].htmlElement);
                }
            }
            
            //To remove the focus
            for(var i=0;i<unselectOptions.options.length;i++)
                if(unselectOptions.options[i].selected) {
                    unselectOptions.options[i].selected = false;
                }
            
            //TO get the all selected options in form of string 
            for(var i=0;i<selectOptions.options.length;i++) {
                strResolutionCodeNames += selectOptions.options[i].value+'<>';
                if(selectOptions.options[i].selected) {
                    selectOptions.options[i].selected = false;
                }
            }
            
            if(strResolutionCodeNames == '')
                strResolutionCodeNames = 'Empty';
            
            setDepartmentLocation(strResolutionCodeNames);
        } 
        
        function keyValuePair() {
            var value;
            var htmlElement;
        }
        
        function mapValueToHtmlElement(objSelectOptionsElement) {           
            var mapItem = new keyValuePair();       
            mapItem.value = objSelectOptionsElement.value;
            mapItem.htmlElement = objSelectOptionsElement;
            return mapItem;
        }  
        
        //To add the options on Unselected list and remove those options from selected list
        function unselectedMSP() {
            var strResolutionCodeNames = '';
            var selectOptions = getSelectedValues();
            var unselectedOptionsArray = new Array();
            for(var i=0;i<selectOptions.options.length;i++) {
                if(selectOptions.options[i].selected) {
                    unselectedOptionsArray.push(selectOptions.options[i]);
                    selectOptions.removeChild(selectOptions.options[i]);
                    i--;
                }
            }
            
            var unselectedOptions = getunSelectedValues();
            for(var i=0;i<unselectedOptionsArray.length;i++) {
                unselectedOptionsArray[i].selected = false;
                unselectedOptions.appendChild(unselectedOptionsArray[i]);
            }
            
            var arrayToSortUnSelectedValues = new Array();
            var arrayMap = new Array();
            for(var i=0;i<unselectedOptions.options.length;i++) {
                arrayToSortUnSelectedValues.push(unselectedOptions.options[i].value);
                arrayMap.push(mapValueToHtmlElement(unselectedOptions.options[i]));
                unselectedOptions.removeChild(unselectedOptions.options[i]);
                i--;
            }
            
            arrayToSortUnSelectedValues.sort();
            for(var i=0;i<arrayToSortUnSelectedValues.length;i++) {
                for(var j=0;j<arrayMap.length;j++) {
                    if(arrayToSortUnSelectedValues[i] == arrayMap[j].value)
                        unselectedOptions.appendChild(arrayMap[j].htmlElement);
                }
            }
            
            //To remove the focus
            for(var i=0;i<unselectedOptions.options.length;i++)
                if(unselectedOptions.options[i].selected) {
                    unselectedOptions.options[i].selected = false;
                }
            
            //TO get the all selected options in form of string
            for(var i=0;i<selectOptions.options.length;i++) {
                strResolutionCodeNames += selectOptions.options[i].value+'<>';
                if(selectOptions.options[i].selected) {
                    selectOptions.options[i].selected = false;
                }
            }
            
            setDepartmentLocation(strResolutionCodeNames);
        }
    </script>
</apex:page>