<apex:component controller="SLSI.SL_IntranetEventSummaryDetailsController" >
	
<!-- 	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/widgetCSS/SL_IntranetEventSummaryDetails.css')}" /> -->
    
	<apex:attribute assignTo="{!CompImpl}" name="aComponentImpl" type="SLSI.WidgetAbstract" description="component implementation object" required="true"/>
	
	<span id="detailwidgetSL_IntranetEventSummaryDetails">
		<apex:form >
			<!-- Newly created for Event -->
		   	<apex:actionFunction name="widget{!id}.getEventSummaryDetailAF" action="{!getEventSummaryDetail}" status="loader" rerender="EventSummaryDetailOP" oncomplete="resizeImage();">
		       	<apex:param name="param1" assignTo="{!MyImpl.strEventId}" value=""/>
		       	<apex:param name="param2" assignTo="{!MyImpl.isAllEvents}" value=""/>
		       	<apex:param name="param3" assignTo="{!MyImpl.strFilterDate}" value=""/>
		   	</apex:actionFunction>
		   	<!-- End of Newly created for Event -->	      
		    
		    <apex:actionfunction name="widget{!id}.getMoreRecordsAF" action="{!getMoreRecords}" status="loader" rerender="EventSummaryDetailOP" oncomplete="resizeImage();" />
		    
		<apex:outputPanel id="EventSummaryDetailOP">     
			<apex:outputpanel rendered="{!if(MyImpl.eventDetailConfiguration.initialState == 'full',true, false)}">
				<div class="wc-widget SL_IntranetEventSummaryDetails" id="widget{!id}" >
	    	
	    			<h2>{!$Label.SL_IntranetEventSummaryDetails_Header}</h2>
		            <ul style="list-style: none; border-top: 1px solid #ededed; padding:0px;"> 
		               	<apex:repeat value="{!MyImpl.lstIntranetAlerts}" var="event" rows="{!MyImpl.numOfEventsPerPage}">
			               	<li style="border-bottom: 1px solid #ededed;padding: 5px 0 5px 0px;">
			                   	<h3><a style="text-decoration: none;"> {!event.objEvent.Name}</a></h3><br/>
			                   	<span class="date">
			                    	<apex:outputText rendered="{!!MyImpl.hasFieldset}" value="Start Date : {!event.strEventStartDate } <br/>" escape="false" />
				                    <apex:outputText rendered="{!!MyImpl.hasFieldset}" value="End Date : {!event.strEventEndDate} <br/>" escape="false" />
			                    	<apex:repeat value="{!MyImpl.lstEventInfoFields}" var="f" rendered="{!MyImpl.hasFieldset}">
										<apex:outputText rendered="{!AND(MyImpl.hasFieldset, f == 'SLSI__Date_of_Event__c')}" value="Start Date: {!event.strEventStartDate } <br/>" escape="false" />
				                    	<apex:outputText rendered="{!AND(MyImpl.hasFieldset, f == 'SLSI__End_Date__c')}" value="End Date: {!event.strEventEndDate} <br/>" escape="false" />
				                    	<apex:outputpanel rendered="{!if(AND(f != 'SLSI__Comments__c' , f != 'SLSI__Date_of_Event__c' ,f != 'SLSI__End_Date__c'),true,false)}" >
											<apex:outputText value="{!MyImpl.mapFieldName_FieldLabel[f]}: "/>
											<apex:outputField value="{!event.objEvent[f]}" /><br/>
										</apex:outputpanel>
										<apex:outputpanel rendered="{!if(AND(f == 'SLSI__Comments__c' , f != 'SLSI__Date_of_Event__c' ,f != 'SLSI__End_Date__c'),true,false)}" >
											<apex:outputText value="<br/> {!event.objEvent[f]} <br/>" escape="false" rendered="{!if(event.objEvent[f] != null, true, false)}" id="divCommentsId"/>
										</apex:outputpanel>
				                   	</apex:repeat> 
			                    </span>
			                </li>
		                </apex:repeat>
					</ul>
					
					
					<apex:outputPanel rendered="{!(MyImpl.lstIntranetAlerts.size - MyImpl.numOfEventsPerPage) > 0}">
					    <a href="javascript:widget{!id}.getMoreRecords();" class="see-more">See More</a>
					</apex:outputPanel>
					<!-- End of display more Section -->
					
	             </div>
	             
			 </apex:outputpanel>	
		</apex:outputPanel>
		
		<script>
			jQuery(document).ready(function($) 
			{
				resizeImage();
			});
			
			function resizeImage()
			{
	      		var sectionwidth;
			
				$('.wc-page .wc-region .main').each(function(){
					sectionwidth = $(this).width();
				});
				
				$("[id*='divCommentsId']").find('Img').each(function(){
					$(this).css('maxWidth', (sectionwidth) + 'px' );
				});
			}
				
		</script>
		</apex:form>
	</span>
</apex:component>