<apex:component controller="SLSI.SL_IntranetOfficesController">
    
<!--     <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/widgetCSS/SL_IntranetOffices.css')}" />  -->
    
    <apex:attribute assignTo="{!compImpl}" name="aComponentImpl" type="SLSI.WidgetAbstract" description="component implementation object" required="true"/>
    
    <!----------- Start : offices block --------------->
    <div class="wc-widget SL_IntranetOffices" id="widget{!id}"> 
        <div class="offices-block" style="float:none;">
            <h2 style="padding-left:15px;">Offices</h2> 
            <apex:outputPanel rendered="{!MyImpl.lstOffices.size > 0}">
                <div class="offices" id="officeId{!id}">
                <apex:variable var="index" value="{!0}" />
                <apex:variable var="indexOnHover" value="{!0}" />
                
                     <apex:repeat value="{!MyImpl.lstOffices}" var="value">
                         <div class="row" onclick="widget{!id}.viewOfficeDetails('{!value.objOL.id}', '{!id}');" style="cursor:pointer;padding-left:15px;">
                            <apex:outputPanel rendered="{!If(AND(value.strOfficeName != null,value.strOfficeName != ''),true,false)}">
                                <span class="name" style="cursor: pointer;width:100%;">{!value.strOfficeName}</span>
                            </apex:outputPanel>
 
                             <apex:repeat value="{!MyImpl.mapWidget_lstOfficeFieldNames[id]}" var="officeField">
 								
 								<apex:outputPanel style="width:100%;padding: 0 0 0 16px;{!If(AND(MyImpl.mapWidget_lstOfficeLocation[id][index][officeField] != null,officeField == 'SLSI__Address__c'), 'display:block','display:none')};" >
                                    <apex:repeat value="{!value.lstOfficeAddress}" var="address">
                                  	   <apex:outputText value="{!address}" styleClass="date"/><br/>
                                    </apex:repeat>
                                </apex:outputPanel>
                                
                                <apex:outputPanel style="width:100%;padding: 0 0 0 16px;{!If(MyImpl.mapWidget_lstOfficeLocation[id][index][officeField] != null, 'display:block','display:none')};" rendered="{!If(OR(officeField == 'SLSI__Image__c',officeField == 'SLSI__Map__c',officeField == 'Name',officeField == 'SLSI__Address__c'),false,true)}">
                                    
                                    <span style="{!If(AND(MyImpl.mapFieldName_FieldType[officeField] != 'DATE' ,MyImpl.mapFieldName_FieldType[officeField] != 'DATETIME') , 'display:block','display:none')}">
                                         <apex:outputText styleClass="date" style="word-wrap: break-word;font-style:{!MyImpl.mapWidget_FontStyle[id]};color:{!MyImpl.mapWidget_FontColor[id]}"  value="{!MyImpl.mapWidget_lstOfficeLocation[id][index][officeField]}" />
                                    </span>
                                     
                                    <apex:outputPanel rendered="{!MyImpl.mapFieldName_FieldType[officeField]  == 'DATE'}" >
                                         <apex:outputText styleClass="date" style="word-wrap: break-word;"  value="{0,date,MM'/'dd'/'yyyy}" >  
                                             <apex:param value="{!MyImpl.mapWidget_lstOfficeLocation[id][index][officeField]}"/>
                                         </apex:outputText>
                                    </apex:outputPanel>        
                                             
                                    <apex:outputPanel rendered="{!MyImpl.mapFieldName_FieldType[officeField]  == 'DATETIME'}">
                                         <apex:outputText styleClass="date" style="word-wrap: break-word;"  value="{0,date,MM'/'dd'/'yyyy, hh:mm a}"  >  
                                             <apex:param value="{!MyImpl.mapWidget_lstOfficeLocation[id][index][officeField]}"/>
                                         </apex:outputText>
                                    </apex:outputPanel>   
                                    
                                </apex:outputPanel>
                                <apex:outputPanel style="width:100%;padding: 0 0 0 16px;" rendered="{!If(AND(officeField == 'SLSI__Image__c',value.strImage != null),true,false)}">
                                    
                                    <div id="{!value.objOL.id}" class="photo" style="width:142px;">
                                         <apex:outputtext value="{!value.strImage}" escape="false"/>
                                         <script>
                                             $('#officeId{!id}').find('Img').css('width', '142px');
                                             $('#officeId{!id}').find('Img').css('height', 'auto');
                                         </script>
                                    </div>
                                    
                                </apex:outputPanel>
                                <apex:outputPanel style="width:100%;padding: 0 0 0 16px;" rendered="{!If(AND(officeField == 'SLSI__Map__c',value.strAddressToMapIt != null),true,false)}">
                                    <a target="_blank" href="{!value.strAddressToMapIt}" style="color:#9c9c9c;text-decoration:none; {!IF(value.strAddressToMapIt = '', 'display:none', '')}" class="btn">View Map</a>
                                </apex:outputPanel>
                                
                             </apex:repeat> 
                             
                             <apex:variable var="index" value="{!index + 1}"/>
                             
                             <span class="date" style="cursor: pointer;width:100%;float:left;padding: 0 0 0 16px;font-style:{!MyImpl.mapWidget_FontStyle[id]};color:{!MyImpl.mapWidget_FontColor[id]}">{!value.strCurrentTime}</span>
                             <div class="drop" style="width:355px;top:-35px;">
                                 <div class="holder">
                                     <div class="heading" style="font-style:{!MyImpl.mapWidget_FontStyle[id]};color:{!MyImpl.mapWidget_FontColor[id]}"><h3>{!value.strCmpnyName}</h3></div>
                                     <div id="contentId{!value.objOL.id}" class="content" style="padding:15px;">
                                         <apex:outputpanel rendered="{!If(value.strImage == '', false, true)}" >
                                             
                                             <div id="{!value.objOL.id}" class="photo" style="width:142px;">
                                                 <apex:outputtext value="{!value.strImage}" escape="false"/>
                                                 <script>
                                                    $('#officeId{!id}').find('Img').css('width', '142px');
                                                    $('#officeId{!id}').find('Img').css('height', 'auto');
                                                 </script>
                                             </div>
                                             
                                         </apex:outputpanel>
                                         <div class="info" style="width:140px;float:right;">
                                             
                                             <apex:outputPanel style="width:100%;padding: 0 0 0 0;{!If(value.lstOfficeAddress.size > 0, 'display:block','display:none')};" >
                                                  <apex:repeat value="{!value.lstOfficeAddress}" var="address">
                                                      <apex:outputText value="{!address}" /><br/>
                                                  </apex:repeat>
                                             </apex:outputPanel>
                                             
                                             <apex:repeat value="{!MyImpl.mapWidget_lstOfficeFieldNamesOnHover[id]}" var="officeFieldOnHover">
                                            	
                                                <apex:outputPanel style="width:100%;padding: 0 0 0 0px;{!If(MyImpl.mapWidget_lstOfficeLocation[id][indexOnHover][officeFieldOnHover] != null, 'display:block','display:none')};" rendered="{!If(OR(officeFieldOnHover == 'SLSI__Image__c',officeFieldOnHover == 'SLSI__Map__c', officeFieldOnHover == 'SLSI__Address__c'),false,true)}">
                                                   
                                                    <span style="{!If(AND(MyImpl.mapFieldName_FieldType[officeFieldOnHover] != 'DATE' ,MyImpl.mapFieldName_FieldType[officeFieldOnHover] != 'DATETIME') , 'display:block','display:none')}">
                                                        <apex:outputText style="word-wrap: break-word;font-style:{!MyImpl.mapWidget_FontStyle[id]};color:{!MyImpl.mapWidget_FontColor[id]}"  value="{!MyImpl.mapWidget_lstOfficeLocation[id][indexOnHover][officeFieldOnHover]}" />
                                                    </span>
                                     
                                                    <apex:outputPanel rendered="{!MyImpl.mapFieldName_FieldType[officeFieldOnHover]  == 'DATE'}">
                                                        <apex:outputText style="word-wrap: break-word;"  value="{0,date,MM'/'dd'/'yyyy}"  >  
                                                            <apex:param value="{!MyImpl.mapWidget_lstOfficeLocation[id][indexOnHover][officeFieldOnHover]}"/>
                                                        </apex:outputText>
                                                    </apex:outputPanel>        
                                             
                                                    <apex:outputPanel rendered="{!MyImpl.mapFieldName_FieldType[officeFieldOnHover]  == 'DATETIME'}">
                                                         <apex:outputText style="word-wrap: break-word;"  value="{0,date,MM'/'dd'/'yyyy, hh:mm a}"  >  
                                                             <apex:param value="{!MyImpl.mapWidget_lstOfficeLocation[id][indexOnHover][officeFieldOnHover]}"/>
                                                         </apex:outputText>
                                                    </apex:outputPanel>  
                                                    
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel style="width:100%;padding: 0 0 0 0px;" rendered="{!If(AND(officeFieldOnHover == 'SLSI__Image__c',value.strImage != null),true,false)}">
                                                    <div id="{!value.objOL.id}" class="photo" style="width:142px;">
                                                         <apex:outputtext value="{!value.strImage}" escape="false"/>
                                                         <script>
                                                            $('#officeId{!id}').find('Img').css('width', '142px');
                                                            $('#officeId{!id}').find('Img').css('height', 'auto');
                                                         </script>
                                                    </div>
                                                </apex:outputPanel>
                                                
                                                <apex:outputPanel style="width:100%;padding: 0 0 0 0px;" rendered="{!If(AND(officeFieldOnHover == 'SLSI__Map__c',value.strAddressToMapIt != null),true,false)}">
                                                    <a target="_blank" href="{!value.strAddressToMapIt}" style="color:#9c9c9c;text-decoration:none; {!IF(value.strAddressToMapIt = '', 'display:none', '')}" class="btn">View Map</a>
                                                </apex:outputPanel>
                                            </apex:repeat> 
                                            <apex:variable var="indexOnHover" value="{!indexOnHover + 1}"/>
                                             <div class="link-holder" style="width: 140px;float:right;padding-top:10px;">
                                                 <a target="_blank" href="{!value.strAddressToMapIt}" style="color:#9c9c9c;text-decoration:none; {!IF(value.strAddressToMapIt = '', 'display:none', '')}" class="btn">View Map</a>
                                                 <a target="_blank" href="/apex/SLSI__SL_Intranet?page=Employee%20Directory&loc={!URLENCODE(value.strOfficeName)}" style="color:#9c9c9c;text-decoration:none; float:right;" class="btn">Directory</a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>        
                             </div>
                         </div>
                     </apex:repeat>
                 </div>
            </apex:outputPanel>
        	<br/>
            <apex:outputPanel rendered="{!MyImpl.lstOffices.size < 1}" >
                <br/><span class="noResult" >No records found.</span>
            </apex:outputPanel> 
            
        </div>
    </div>
    <!----------- End : offices block --------------->
    
    <div class="wc-widget-mobile mobile-content" >
        <!-- mobile content -->
        <section class="mobile-content">
            <!-- top-block -->
            <div class="top-block">
                <!-- title holder -->
                <div class="title-holder">
                    <h2>{!$Label.SL_Tab_OfficeLocations}</h2>
                </div>
            </div>
            <!-- list -->
            <apex:outputpanel id="officePanel">
                <ul class="list" style="margin:0px;padding-top:10px;" >
                    <apex:repeat value="{!Myimpl.lstOffices}" var="value" >
                        <li style="margin-left:0px;">
                            <div id="{!value.objOL.id}{!id}" style="width:66px;" class="avatar">
		                      	<apex:outputtext value="{!value.strImage}" escape="false" />
		                      	<script>
	                            	$('#{!value.objOL.id}{!id}').find('Img').css('width', '66px');
	                            	$('#{!value.objOL.id}{!id}').find('Img').css('height', 'auto');
		                        </script>
	                        </div>
                            <div class="info"> 
                                <h3><a href="/apex/SLSI__SL_Intranet?page=Employee%20Directory&loc={!value.strOfficeName}" style="text-decoration: none;">{!value.strOfficeName}</a></h3>
                                <address>
                                    <apex:outputText value="{!value.strAddress}" escape="false"/><br/>
                                    <apex:outputText value="" rendered="{!if(value.strPhone == null || value.strPhone == '',false,true)}">Ph:<a style="font-size: 30px;cursor:pointer;"> {!value.strPhone} <img height="25px" width="15px" src="{!URLFOR($Resource.SL_IntranetHUB,'/IntranetHub/images/icon-phone.png')}"/></a><br/></apex:outputText> 
                                    <apex:outputText value="Fx: {!value.strFax}" rendered="{!value.strFax != null}" />
                                </address>
                            </div>
                        </li>
                    </apex:repeat>    
                </ul>
                <apex:outputpanel rendered="{!Myimpl.lstOffices.size = 0}">
                    <ul class="list">
                        <li>No Records found.</li>
                    </ul>
                </apex:outputpanel>
            </apex:outputpanel>
        </section>
    </div>
    <!----------- End : offices block --------------->
    
    
</apex:component>