<apex:component controller="SLSI.SL_IntranetNotificationsController"> 
    
<!--    <link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/widgetCSS/SL_IntranetNotifications.css')}" /> -->
    
    <apex:attribute assignTo="{!compImpl}" name="aComponentImpl" type="SLSI.WidgetAbstract" description="component implementation object" required="true"/>
    
    <apex:form >
        <apex:actionfunction name="widget{!id}.showMoreAF" action="{!showMoreRecords}" rerender="opNotifications, opNotification2" status="loaderNotification" >
            <apex:param name="param1" value="" assignTo="{!MyImpl.strWidgetId}" />
        </apex:actionfunction>
        <apex:actionFunction name="widget{!id}getMoreRecords" action="{!Myimpl.getMoreNotifications}" rerender="mobileAlertPanel" />
        
        <!-- Newly created for Notification -->
        <apex:actionFunction name="widget{!id}.getFilteredByDepartment" action="{!MyImpl.getFilteredByDepartment}" status="loader" rerender="opNotifications" onComplete="reRenderCss();">
            <apex:param name="deptId" assignTo="{!MyImpl.strDeptId}" value=""/> 
        </apex:actionFunction>
        <!-- End of Newly created for Notification -->
        
    </apex:form>
    
    <div class="wc-widget SL_IntranetNotifications" id="widget{!id}" >
        <div class="alerts-block">
            <apex:outputPanel id="opNotifications">
	            <apex:outputPanel rendered="{!MyImpl.lstSize > 0}" >
					<apex:outputPanel rendered="{!IF(AND(MyImpl.mapWidgetConfiguration[id].heading == null,MyImpl.mapWidgetConfiguration[id].heading == ''), true, false)}">
			            <h2>{!$Label.slsi__SL_RightSideBar_NotificationHeader}</h2> 
			        </apex:outputPanel>
			        <apex:outputPanel rendered="{!IF(AND(MyImpl.mapWidgetConfiguration[id].heading != null,MyImpl.mapWidgetConfiguration[id].heading != ''), true, false)}">
			            <h2>{!MyImpl.mapWidgetConfiguration[id].heading}</h2>
			        </apex:outputPanel>
			        
	                <ul class="alerts" style="font-size: 100.01%; margin-left:-18px">
	                <apex:variable var="index" value="{!0}" />
	                    <apex:repeat value="{!MyImpl.lstIntranetAlerts}" var="alerts" rows="{!MyImpl.mapNotificationsCount[id]}" >
	                        <li>
	                            <h3>
	                                <a style="cursor:pointer;text-decoration:none;" onclick="widget{!id}.viewNotifications('{!alerts.objNotification.Id}', false);">{!alerts.objNotification.Name}</a>
	                            </h3>
	                            
	                            <apex:repeat value="{!MyImpl.mapWidget_lstNotificationFieldNames[id]}" var="notificationField" rendered="{!MyImpl.mapWidgetConfiguration[id].hasFieldset}">
	                                <span class="date" style="{!If(AND(MyImpl.mapWidget_lstNotification[id][index][notificationField] != null,notificationField != 'CreatedDate',notificationField != 'Name'), 'display:block','display:none')}"> 
	                                    
	                                    <apex:outputPanel rendered="{!If(AND(MyImpl.mapFieldName_FieldType[notificationField] != 'DATE' ,MyImpl.mapFieldName_FieldType[notificationField] != 'DATETIME'),true,false)}">
	                                        <apex:outputField value="{!MyImpl.mapWidget_lstNotification[id][index][notificationField]}" />  
	                                        <br/>
	                                    </apex:outputPanel>
	                                    
	                                    
	                                   <apex:outputPanel rendered="{!If(AND(MyImpl.mapFieldName_FieldType[notificationField] == 'DATE', notificationField != 'CreatedDate'),true,false)}" >
	                                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" >
	                                            <apex:param value="{!MyImpl.mapWidget_lstNotification[id][index][notificationField]}" /> 
	                                        </apex:outputText> 
	                                        <br/>
	                                    </apex:outputPanel>
	                                    
	                                    <apex:outputPanel rendered="{!If(AND(MyImpl.mapFieldName_FieldType[notificationField] == 'DATETIME', notificationField != 'CreatedDate'),true,false)}" >
	                                        <apex:outputText value="{0,date,MM'/'dd'/'yyyy, hh:mm a}" >
	                                            <apex:param value="{!MyImpl.mapWidget_lstNotification[id][index][notificationField]}" /> 
	                                        </apex:outputText> 
	                                        <br/>
	                                    </apex:outputPanel>
	                                    
	                                    <apex:outputPanel rendered="{!notificationField == 'CreatedDate'}">
											<span class="date">
												<apex:outputText value="{0,date,EEEE}" rendered="{!IF(alerts.dateToBeDisplayed == 'NV', true, false)}">
												    <apex:param value="{!alerts.notificationCreatedDate}" /> 
												</apex:outputText>
												<apex:outputText value="{!alerts.dateToBeDisplayed}" rendered="{!IF(alerts.dateToBeDisplayed == 'NV', false, true)}"/>
												at {!alerts.strTime} 
											</span>	
										</apex:outputPanel> 
	                                    
	                                </span>
	                            </apex:repeat>                            
								<apex:outputPanel rendered="{!!MyImpl.mapWidgetConfiguration[id].hasFieldset}">
									<span class="date">
										<apex:outputText value="{0,date,EEEE}" rendered="{!IF(alerts.dateToBeDisplayed == 'NV', true, false)}">
										    <apex:param value="{!alerts.notificationCreatedDate}" /> 
										</apex:outputText>
										<apex:outputText value="{!alerts.dateToBeDisplayed}" rendered="{!IF(alerts.dateToBeDisplayed == 'NV', false, true)}"/>
										at {!alerts.strTime} 
									</span>	
								</apex:outputPanel> 
	                            <apex:variable var="index" value="{!index + 1}"/>
	                        </li>   
	                    </apex:repeat>
	                </ul>
	                
	                <apex:outputPanel rendered="{!MyImpl.lstSize < 1}" >
	                    <span class="noResult">No records found.</span>
	                </apex:outputPanel>  
	                
	                <apex:outputpanel id="opNotification2" >
	                    <div style="{!if(AND(MyImpl.lstSize > MyImpl.mapNotificationsCount[id], MyImpl.mapNotificationsCount[id] < MyImpl.mapWidgetConfiguration[id].TotalRecords),'', 'display:none;')}" class="link-holder">
	                        <a class="btn" style="cursor: pointer;text-decoration: none;float:right;text-align: center;" onClick="$(this).parent().css('display','none');widget{!id}.showMoreAF('{!id}');">Show More</a>
	                    </div>
	                </apex:outputpanel>
	                 
	                <!-- Start of Action status -->  
	                <apex:actionstatus id="loaderNotification">
	                    <apex:facet name="start">
	                        <div id="salesforceSource_blurybackground" style="position:relative; text-align:center; vertical-align: middle; background-color: #dcdcdc; opacity:0.4;filter:alpha(opacity=40)"></div>
	                        <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="display: '';position: relative; ">
	                            <div style="width: 144px;vertical-align: middle;" class="waitingHolder">
	                                <table align="center" valign="middle" style="width: 100%; height: 30%">
	                                    <tr align="center" valign="middle" style="width: 100%; height: 30%">
	                                        <td valign="middle"><img src="/img/loading.gif"/><span class="waitingDescription"><b>Loading...</b></span></td>
	                                    </tr>
	                                </table>
	                            </div>
	                        </div>
	                        <div id="ManageMembersViewport_loading" class="waitingSearchDiv" style="width: 100%; height: 100%; display: ''; "></div>
	                        <script>document.getElementById('ManageMembersViewport_loading').height = window.innerHeight * (3/4);</script>
	                    </apex:facet>
	                </apex:actionstatus>
	                <!-- End of Action status -->
                </apex:outputPanel>
            </apex:outputPanel>
        </div>
    </div>
    
    <div class="wc-widget-mobile mobile-content" >
        <!-- mobile content -->
        <section class="mobile-content">
            <!-- top-block -->
            <div class="top-block">
                <!-- title holder -->
                <div class="title-holder"> 
                    <h2>{!$label.SL_Tab_Notifications}</h2>
                </div>
            </div>
            <!-- list -->
            <apex:outputpanel id="mobileAlertPanel">
                <apex:outputpanel rendered="{!Myimpl.lstSize > 0}">
                <ul class="list" style="margin: 0px; padding-top: 18px;">
                    <apex:repeat value="{!Myimpl.lstIntranetAlerts}" var="alerts" rows="{!MyImpl.mobilePaginationSize}">
                        <li style="margin-left:0px;">
                            <div class="avatar">
                                <a href="SLSI__SL_Intranet?Page=Employee Profile&id={!alerts.objNotification.CreatedById}&notification=true">
                                    <img src="{!alerts.objNotification.CreatedBy.SmallPhotoUrl}" alt="image description" width="66" height="63" />
                                </a> 
                            </div>
                            <div class="info">
                                <h3><a href="" style="text-decoration: none;">{!alerts.objNotification.Name}</a></h3>
                                <p><apex:outputField value="{!alerts.objNotification.SLSI__Notification_Detail__c}"/></p>
                                <span class="sub-info">
                                    <apex:outputText value="{0,date,EEEE}" rendered="{!alerts.dateToBeDisplayed == 'NV'}">
                                        <apex:param value="{!alerts.notificationCreatedDate}" />
                                    </apex:outputText>
                                    <apex:outputText value="{!alerts.dateToBeDisplayed}" rendered="{!alerts.dateToBeDisplayed != 'NV'}"/>
                                    at {!alerts.strTime}
                                </span>
                            </div>
                        </li>
                    </apex:repeat>
                </ul>
                </apex:outputpanel>
                <apex:outputpanel rendered="{!MyImpl.lstSize = 0}">
                    <ul class="list">
                        <li style="padding:20px;"><h3>No Records found.</h3></li>
                    </ul>
                </apex:outputpanel>
               <apex:outputPanel rendered="{!AND(MyImpl.lstIntranetAlerts != null, (MyImpl.lstSize - MyImpl.mobilePaginationSize) > 0)}">
                   <ul class="list links">
                       <li style="padding: 0 0 0 0;border-bottom: none;">
                           <a href="javascript:widget{!id}getMoreRecords();" style="color: #a3a3a3;" class="see-more">{!$Label.SL_Pagination_SeeMore}</a>
                       </li>
                   </ul>
               </apex:outputPanel> 
            </apex:outputpanel> 
        </section>
    </div>
    
</apex:component>