<apex:component controller="SLSI.SL_IntranetEmpDirectoryOfficesController">
	
<!-- 	<link type="text/css" rel="stylesheet" href="{!URLFOR($Resource.SLSI__SL_IntranetHub,'/IntranetHub/widgetCSS/SL_IntranetEmpDirectoryOffices.css')}" /> -->
    
	<apex:attribute assignTo="{!compImpl}" name="aComponentImpl" type="SLSI.WidgetAbstract" description="component implementation object" required="true"/>
	
	<apex:outputPanel id="opEmpDirOffices">
		<apex:outputPanel rendered="{!Myimpl.showEmpDirOffices}">
			<div class="wc-widget SL_IntranetEmpDirectoryOffices" id="widget{!id}" >
				<!-- Start : Displaying all the Offices -->
				
				<div class="group-block">
			         <h2>{!$Label.SL_EmpDirectory_OfficesHeader}</h2>
			         <ul class="groups accordion" id="officesList">
			             <apex:repeat value="{!MyImpl.lstLocations}" var="location">
			                 <li id="{!location.name}"><a class="" onclick="widget{!id}.toggleEmployeeLocations('{!JSENCODE(location.Id)}', '{!JSENCODE(location.Name)}'); $('#widget{!id}otherViewsList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');" style="cursor: pointer;"><span>{!location.name}</span></a></li>
			             </apex:repeat>
			         </ul>
			     </div>
			     <!-- End : Displaying all the Offices -->
			    
			     <br/>
			   
			     <!-- Start : Displaying other options like All Employees and Recent Hires -->
			     <div class="group-block">
			         <h2>{!$Label.SL_EmpDirectory_OtherViewsHeader}</h2>
			         <ul class="groups accordion" id="widget{!id}otherViewsList">
			             <li id="allEmps"><a onclick="widget{!id}.toggleEmployeeLocations('All Employees', 'All Employees'); $('#officesList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');" style="cursor: pointer;"><span>{!$Label.SL_EmpDirectory_OtherViewsAllEmployeesHeader}</span></a></li>
			             <li id="recentHires"><a onclick="widget{!id}.toggleEmployeeRecentHires(); $('#officesList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');" style="cursor: pointer;"><span>{!$Label.SL_EmpDirectory_OtherViewsRecentHiresHeader}</span></a></li>
			         	 <apex:repeat value="{!MyImpl.lstViewsName}" var="lstView" id="theRepeat">
		                    <li>
		                        <a onclick="widget{!id}.toggleEmployeeListView('{!lstView}', '{!lstView}'); $('#officesList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');" style="cursor: pointer;">
		                            <span>
		                                    {!lstView}
		                            </span>
		                        </a>
		                    </li>
		                 </apex:repeat>
			         </ul>
			     </div>
			     <!-- End : Displaying other options like All Employees and Recent Hires -->
				
				 <script> 
			        // Onload of the page, if isRecentHire is not true, it should show 'All Employees' by default.
			        if('{!JSENCODE($CurrentPage.parameters.isRecentHire)}' == 'true')
			            $('#recentHires').addClass('active');
			        else if('{!JSENCODE($CurrentPage.parameters.loc)}' != '')
			        {
			            $('#widget{!id}otherViewsList').children().removeClass('active'); 
			            document.getElementById('{!JSENCODE($CurrentPage.parameters.loc)}').className = 'active';
			        }
			        else if('{!JSENCODE($CurrentPage.parameters.isRecentHire)}' != 'true')
			            $('#allEmps').addClass('active');
				</script>
			</div>
	
			<!-- mobile content -->
		    <div class="wc-widget-mobile mobile-content" >
		        <!-- top-block -->
		        <div class="top-block">
		            <div style="padding: 5px 5px 5px 20px;" class="title-holder">
		                <div class="headline" >
		                    <apex:outputPanel id="CalendarHeading"> 
		                        <h2 id="widget{!id}-locationName">
		                            <apex:outputPanel rendered="{!MyImpl.selLocation != ''}">{!$Label.slsi__SL_Tab_EmployeeDirectory}: {!MyImpl.selLocationName}</apex:outputPanel>
		                        </h2>
		                        <img src="{!URLFOR($Resource.SLSI__SL_IntranetHub, '/IntranetHub/images/arrow-accordion.png')}" style="cursor: pointer;padding-top:7px;padding-left:18px;" onclick="toggleFilter();" /> 
		                    </apex:outputPanel>
		                </div> 
		            </div>
		        </div>
		                            
		        <div class="top-block" > 
		            <div class="title-holder" style="display: none;padding:0px;" id="widget{!id}_mobOfficeTypesId">  
		                <ul>
		                    <apex:repeat value="{!MyImpl.lstLocations}" var="location" >
		                        <li style="list-style: none;cursor:pointer;margin-left:0px;padding-bottom:15px;">
		                            <h2 id="{!location.name}" onclick=" document.getElementById('widget{!id}'+'-locationName').innerHTML= '{!location.name}' ; widget{!id}.toggleEmployeeLocations('{!JSENCODE(location.Id)}', '{!JSENCODE(location.Name)}'); $('#widget{!id}otherViewsList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');toggleFilter();">
		                                <a>{!location.name}</a>
		                            </h2>
		                        </li>
		                    </apex:repeat>
		                    <li style="list-style: none;cursor:pointer;margin-left:0px;padding-bottom:15px;">
		                        <h2 onclick="document.getElementById('widget{!id}'+'-locationName').innerHTML= '{!$Label.SL_EmpDirectory_OtherViewsAllEmployeesHeader}' ; widget{!id}.toggleEmployeeLocations('All Employees', 'All Employees'); $('#widget{!id}otherViewsList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active'); toggleFilter();">
		                            <a>{!$Label.SL_EmpDirectory_OtherViewsAllEmployeesHeader}</a>
		                        </h2>
		                    </li>
		                    <li style="list-style: none;cursor:pointer;margin-left:0px;padding-bottom:15px;">
		                        <h2 onclick=" document.getElementById('widget{!id}'+'-locationName').innerHTML= '{!$Label.SL_EmpDirectory_OtherViewsRecentHiresHeader}' ; widget{!id}.toggleEmployeeRecentHires(); $('#widget{!id}otherViewsList').children().removeClass('active'); $(this).parent().siblings().removeClass('active'); $(this).parent().addClass('active');toggleFilter();">
		                            <a>{!$Label.SL_EmpDirectory_OtherViewsRecentHiresHeader}</a>
		                        </h2>
		                    </li> 
		                        
		                </ul>
		            </div>    
		        </div>
		    </div>
    	</apex:outputPanel>
    </apex:outputPanel>
    
    <apex:form >
    	<apex:actionFunction name="widget{!id}callAFGetEmpDirOffices" action="{!Myimpl.fetchEmpDirOffices}" rerender="opEmpDirOffices" />
    </apex:form>
    
    <script>
        function toggleFilter()
        {
            if(document.getElementById('widget{!id}_' + 'mobOfficeTypesId').style.display != 'none')
            {
                document.getElementById('widget{!id}_' + 'mobOfficeTypesId').style.display = 'none';
            }
            else
            {
               document.getElementById('widget{!id}_mobOfficeTypesId').style.display = 'block';
            }
        }
        
        widget{!id}callAFGetEmpDirOffices();
    </script>
	
</apex:component>