<apex:component controller="SLSI.SL_IntranetCustomizableComponent">
	
	<apex:outputpanel rendered="{!!$Setup.SL_CustomizableComponent__c.Default__c}">
		<style>
			/* SLSI__Header_Background_Color__c */
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area{background-color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Header_Background_Color__c)}}
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .user-nav .user {background : none; background-color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Header_Background_Color__c)}}
			
			/* SLSI__Header_Text_Color__c */
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .user-nav .name {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Header_Text_Color__c)}}
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .headerText a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Header_Text_Color__c)}}
			
			/* SLSI__Main_Background_Color__c */
			.wc{background-color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Main_Background_Color__c)}}
			
			/* SLSI__Footer_Background_Color__c */
			.wc-page .wc-footer {background : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Footer_Background_Color__c)}}
			
			/* SLSI__Footer_Text_Color__c */
            .wc-page .wc-footer p {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Footer_Text_Color__c)}}
			
			/* SLSI__Top_Bar_Background_Color__c */
			.wc-header #header {background : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Top_Bar_Background_Color__c)}}
			
			/* SLSI__Featured_Group_Highlight_Color__c */
			.wc-page .wc-widget .feed.feature {border-color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Featured_Group_Highlight_Color__c)}}
			.wc-page .wc-widget .feed.feature .notice {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Featured_Group_Highlight_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSearchResults .feed.feature {
				border-bottom: 1px solid #ededed;
				border-top: 1px solid {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Featured_Group_Highlight_Color__c)};
			}
			
			/* SLSI__Selected_Group_Color__c */  
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups > li > a:hover{
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetContentTypes .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetContentTypes .groups > li > a:hover{
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetEventTypes .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetEventTypes .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetEventTypes .groups > li > a:hover{
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups > li > a:hover,
			.wc-page .wc-widget.SL_IntranetListViews .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetListViews .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetListViews .groups > li > a:hover {
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups > li.active > a, 
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups > li > a.active, 
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups > li > a:hover {
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li.active > a{color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li a:hover{color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}}
			.wc-page .wc-widget.SL_IntranetCalendar #IntranetEvents .headline h2 {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}}
			.headline .sort dd a:hover, .headline .sort dd a.active {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSearchResults .search-for {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}}
			.paging li a:hover, .paging .active a {
				background : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)}
			}
			.paging .active span {
				text-decoration: none;
				-webkit-border-radius: 3px;
				border-radius: 3px;
				padding: 2px 5px;
				color: white;
				background: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Selected_Group_Color__c)};
			}
			/************************* Start : Default Font size, color and family ***************************** */
			
			/* SLSI__Default_Font_Color__c */
			.wc-page .wc-widget .feed .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetChatterFeeds .feed .date {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget .reportingManager {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget .about li dd {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.about li dd a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget .select-area .center {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .center,
			.wc-page .wc-widget.SL_IntranetApplications .center a,
			.wc-page .wc-widget.SL_IntranetDepartments .center,
			.wc-page .wc-widget.SL_IntranetDepartments .center a {
				color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.select-options ul a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.date {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.feed .date {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .drop .content .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetOfficeDetails .container .content .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info .office {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .staffRow .drop .content {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEventTypes .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetListViews .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups li a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom a {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .feed .info {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dd {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .textClass {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .info {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .sub-info {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetCalendar .event .info em {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget .sfdc_richtext {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.headline .sort dd a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetBanner .container .bannerText {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetQuickCreate .container .initialBtn {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmbedded .box li p {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSearchResults .noResult, .noResult {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.paging li a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .user-nav .user .drop ul a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts .date {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts .date {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates .detailInfo {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEvents .event .info,
			.wc-page .wc-widget.SL_IntranetEvents .event .info em {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo,
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo a {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date a {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date a {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo,
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo a{
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.feeditemtext, .feedcommenttext {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}}
			.feedcontainer .feeditemtimestamp, 
			.feedcontainer .feeditemvisibilitytext, 
			.feedcontainer .feeditemlinkpost, 
			.feedcontainer .feeditemclientinfo, 
			.feedcontainer .feeditemclientinfo a,
			.feedcontainer .pollvotecount, 
			.cxallfeedactions .feeditemActionMenu .zen-options a,
			.feedcontainer .pollviewfooter a {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			.paging li a,  .paging .active {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Color__c)}
			}
			
			/* SLSI__Default_Font_Family__c */
			.wc-page .wc-widget .feed .info {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetChatterFeeds .feed .date {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget .reportingManager {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget .about li dd {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.about li dd a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget .select-area .center {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .center,
			.wc-page .wc-widget.SL_IntranetApplications .center a,
			.wc-page .wc-widget.SL_IntranetDepartments .center,
			.wc-page .wc-widget.SL_IntranetDepartments .center a {
				font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.select-options ul a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.date {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.feed .date {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .drop .content .info {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info .office {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .staffRow .drop .content {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEventTypes .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetListViews .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups li a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom a {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .feed .info {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dd {font-family: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .textClass {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .info {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .sub-info {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetCalendar .event .info em {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget .sfdc_richtext {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.headline .sort dd a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetBanner .container .bannerText {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetQuickCreate .container .initialBtn {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmbedded .box li p {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSearchResults .noResult, .noResult {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.paging li a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .user-nav .user .drop ul a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts .date {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts .date {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates .detailInfo {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEvents .event .info,
			.wc-page .wc-widget.SL_IntranetEvents .event .info em {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo,
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo a {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date a {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date a {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo,
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo a{
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.feeditemtext, .feedcommenttext {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}}
			.feedcontainer .feeditemtimestamp, 
			.feedcontainer .feeditemvisibilitytext, 
			.feedcontainer .feeditemlinkpost, 
			.feedcontainer .feeditemclientinfo, 
			.feedcontainer .feeditemclientinfo a,
			.feedcontainer .pollvotecount, 
			.cxallfeedactions .feeditemActionMenu .zen-options a,
			.feedcontainer .pollviewfooter a {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			.paging li a, .paging .active {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Family__c)}
			}
			
			/* SLSI__Default_Font_Size__c */
			.wc-page .wc-widget .feed .info {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetChatterFeeds .feed .date {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget .reportingManager {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget .about li dd {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.about li dd a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget .select-area .center {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .center,
			.wc-page .wc-widget.SL_IntranetApplications .center a,
			.wc-page .wc-widget.SL_IntranetDepartments .center,
			.wc-page .wc-widget.SL_IntranetDepartments .center a {
				font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.select-options ul a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.date {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.feed .date {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .drop .content .info {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff li .info .office {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .staffRow .drop .content {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetChatterGroups .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetContentTypes .groups.accordion li li li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEventTypes .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmpDirectoryOffices .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetListViews .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSearchTypes .groups li a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td .info .bottom a {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table td {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .feed .info {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dd {font-size: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .textClass {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .info {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees .sub-info {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetCalendar .event .info em {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget .sfdc_richtext {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.headline .sort dd a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetBanner .container .bannerText {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetQuickCreate .container .initialBtn {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmbedded .box li p {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSearchResults .noResult, .noResult {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.paging li a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetUserInfo .user-area .user-nav .user .drop ul a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts .date {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts .date {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates .detailInfo {font-size  : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEvents .event .info,
			.wc-page .wc-widget.SL_IntranetEvents .event .info em {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo,
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .info .subInfo a {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date,
			.wc-page .wc-widget.SL_IntranetEventSummary .alerts .date a {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date,
			.wc-page .wc-widget.SL_IntranetNotifications .alerts .date a {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo,
			.wc-page .wc-widget.SL_IntranetNotificationDetails ul li .subInfo a{
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.feeditemtext, .feedcommenttext {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}}
			.feedcontainer .feeditemtimestamp, 
			.feedcontainer .feeditemvisibilitytext, 
			.feedcontainer .feeditemlinkpost, 
			.feedcontainer .feeditemclientinfo, 
			.feedcontainer .feeditemclientinfo a,
			.feedcontainer .pollvotecount, 
			.cxallfeedactions .feeditemActionMenu .zen-options a,
			.feedcontainer .pollviewfooter a {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			.paging li a, .paging .active {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Default_Font_Size__c)}
			}
			/************************* End : Default Font size, color and family ***************************** */
	 	    
	 	    
	 	    /************************* Start : Page Heading Font size, color and family ***************************** */
			
			/* SLSI__Page_Headings_Color__c */
			.wc-page .wc-widget h1 {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget h2 {color: {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .aside h2 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .title h2 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .back {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {background : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt:after {background : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.headline .sort dt {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts li h2  {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts li h2 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Color__c)}}
			
			/* SLSI__Page_Headings_Font_Family__c */
			.wc-page .wc-widget h1 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget h2 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .aside h2 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .title h2 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .back {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt:after {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.headline .sort dt {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts li h2  {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts li h2 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Family__c)}}
			
			/* SLSI__Page_Headings_Font_Size__c */
			.wc-page .wc-widget h1 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget h2 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .aside h2 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetReportingStructure .title h2 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .back {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .photoUploadSection {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .about dt:after {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.headline .sort dt {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSobject .alerts li h2  {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetSobjectDetail .alerts li h2 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Headings_Font_Size__c)}}

			/************************* End : Page Heading Font size, color and family ***************************** */
			
			
			/************************* Start : Page Records Font size, color and family ***************************** */
			
			/* SLSI__Page_Records_Color__c */
			.wc-page .wc-widget .offices .row .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget .expand .row .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget h3 a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget .staff .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget h3 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget .employees h4 a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget .reportCls {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .expand .row .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .drop .heading h3 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts h3 a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table thead td {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .leftInfo {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .rightInfo {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.overlayDialog .topLeft h2 {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees h4 a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetDocuments .feed .info .title {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .name {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.feeditemfirstentity a, .feeditemsecondentity a {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.feedcontainer .feeditem .preamblecontainer.displayblock {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}}
			.feedcontainer .feeditem .preamblecontainer {color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}} 
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach,
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach.withArrowAttached {
				color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}
			} 
			.zen .zen-highlightBtn {
				background-image : none;
				background-color : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Color__c)}
			}
			
			/* SLSI__Page_Records_Font_Family__c */
			.wc-page .wc-widget .offices .row .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget .expand .row .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget h3 a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget .staff .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget h3 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget .employees h4 a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget .reportCls {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .expand .row .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .drop .heading h3 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts h3 a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table thead td {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .leftInfo {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .rightInfo {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.overlayDialog .topLeft h2 {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees h4 a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetDocuments .feed .info .title {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .name {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}} 
			.feeditemfirstentity a, .feeditemsecondentity a {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.feedcontainer .feeditem .preamblecontainer.displayblock {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			.feedcontainer .feeditem .preamblecontainer {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}} 
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach,
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach.withArrowAttached {
				font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}
			} 
			.zen .zen-highlightBtn {font-family : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Family__c)}}
			
			/* SLSI__Page_Records_Font_Size__c */
			.wc-page .wc-widget .offices .row .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget .expand .row .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget h3 a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget .staff .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget h3 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget .employees h4 a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget .reportCls {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetApplications .expand .row .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .row .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetOffices .offices .drop .heading h3 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetStaffUpdates .staff .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetNotifications .alerts h3 a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetManageGroups .groups-table thead td {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .leftInfo {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeProfile .fieldInfo .rightInfo {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.overlayDialog .topLeft h2 {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetEmployeeDirectory .employees h4 a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetDocuments .feed .info .title {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetRecentUpdates .recentUpdates a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.wc-page .wc-widget.SL_IntranetKeyContacts .staff .name {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.feeditemfirstentity a, .feeditemsecondentity a {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.feedcontainer .feeditem .preamblecontainer.displayblock {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			.feedcontainer .feeditem .preamblecontainer {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}} 
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach,
			.publishercontainer .publisherFeedItemTypeChoices a.publisherattach.withArrowAttached {
				font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}
			} 
			.zen .zen-highlightBtn {font-size : {!JSENCODE($Setup.SLSI__SL_CustomizableComponent__c.SLSI__Page_Records_Font_Size__c)}}
			
			/************************* End : Page Records Font size, color and family ***************************** */
		</style>
	</apex:outputpanel>
	
</apex:component>